/* eslint-env browser */

<template lang="pug">
  .chart-container(ref="container")
    svg(:width="width" :height="height"
      :viewBox="[0, 0, this.width, this.height]"
      xmlns='http://www.w3.org/2000/svg')
      defs
        pattern#pattern-stripe-2(width="8" height="4" patternUnits="userSpaceOnUse" patternTransform="rotate(-45)")
          rect(width="8" height="1" transform="translate(0,0)" fill="white")
        mask#mask-stripe-2
          rect(x="0" y="0" width="100%" :height="baselineHeight" fill="url(#pattern-stripe-2)")
      //g.link-bubbles
      g.link-lines
      g.nodes
        <!--        g.node(v-for="node in nodes"-->
        <!--          :transform="(false && node.collection === 'research-objectives') ? `translate(${node.x}, ${node.y}) rotate(90)` : `translate(${node.x}, ${node.y})`")-->
        <!--          text(v-if="true || node.layoutGroup === 'research-initiatives'" fill="black" dx="0" :dy="baselineHeight/2+1" alignment-baseline="middle"-->
        <!--            v-html="node.name.split(': ').slice(-1).join()"-->
        <!--            :dx="node.name.split(': ').length*10")-->

        <!--          text(v-else fill="black" dx="0" :dy="baselineHeight/2+1" alignment-baseline="middle") {{node.name}}-->
        <!--          line(x1="0" y1="0" :x2="(12*28)/1.3333" :y2="0" stroke="#999" stroke-width=".5")-->
        <!--          rect.time(v-if="node.layoutGroup === 'user-facilities'"-->
        <!--            :transform="`translate(0, ${0.25 * baselineHeight})`"-->
        <!--            :x="facilityT(+node.t0)"-->
        <!--            :y="0"-->
        <!--            :width="facilityT(+node.t1 || 2050) - facilityT(+node.t0 || 2050)"-->
        <!--            :height="baselineHeight/2"-->
        <!--            :mask="(node.unapproved) ? 'url(#mask-stripe-2)' : ''"-->
        //            :fill="userGroupColor(node.userGroup)")
        <!--      g.axis(:transform="`translate(${x()('user-facilities')[0]}, ${2 * baselineHeight})`")-->

</template>

<script>
import { select } from 'd3-selection'
import { scaleOrdinal, scaleLinear } from 'd3-scale'
import { axisTop } from 'd3-axis'
import { forceSimulation } from 'd3-force'
import { roadmap as model } from '@bpde/common-data'
import { watchViewport, unwatchViewport } from 'tornis'

export default {
  name: 'KFBRoadmap',

  props: {
    baselineHeight: {
      type: Number,
      default: 10
    }
  },
  data: function() {
    return {
      width: 500,
      height: 100,
      model: model,
      margin: {
        left: 0,
        right: 10
      }
    }
  },

  mounted() {
    watchViewport(this.handleViewportChange, false)
    this.height = this.$refs.container.parentElement.clientHeight
    this.width = this.$refs.container.parentElement.clientWidth

    this.facilityT = scaleLinear()
      .domain([1950, 2060])
      .range([0, (13 * this.baselineHeight) / 1.3333])

    this.axisT = axisTop()
      .scale(this.facilityT)
      .tickValues([2000, 2010, 2020, 2030, 2040, 2050])

    this.x = scaleOrdinal(
      [
        'research-initiatives',
        'research-objectives',
        'test-facilities',
        'user-facilities'
      ],
      [
        [0, this.width / 4 / 1.0],
        [((this.width / 4) * 1) / 1.0, ((this.width / 4) * 2) / 1.0],
        [((this.width / 4) * 2) / 1.0, ((this.width / 4) * 3) / 1.0],
        [((this.width / 4) * 3) / 1.0, ((this.width / 4) * 4) / 1.0]
      ]
    )

    this.userGroupColor = scaleOrdinal(
      [
        'medicine',
        'hadron-physics',
        'particle-physics',
        'neutron-science',
        'photon-science',
        'test-facility'
      ],
      ['blue', 'darkred', 'red', 'orange', 'purple', 'gray']
    )

    this.nodes = this.model.nodes.map(
      ({ id, name, layoutGroup, layoutGroupPosition }) => ({
        id,
        name,
        x: 0,
        y: 0,
        fx: this.x(layoutGroup)[0],
        fy:
          (layoutGroupPosition * this.baselineHeight) / 1.333 +
          this.baselineHeight * 3
      })
    )

    this.nodeDictionary = new Map(this.nodes.map(d => [d.id, d]))

    this.links = this.model.links.map(({ source, target }) => ({
      source: this.nodeDictionary.get(source),
      target: this.nodeDictionary.get(target)
    }))

    this.nodeElements = select('g.nodes')
      .selectAll('g')
      .data(this.nodes)
      .enter()
      .append('g')

    this.nodeElements
      .append('text')
      .text(d =>
        d.name
          .split(': ')
          .slice(-1)
          .join()
      )
      .attr(
        'dx',
        d => ((d.name.split(': ').length - 1) * this.baselineHeight) / 2
      )

    this.lineElements = select('g.link-lines')
      .selectAll('line')
      .data(this.links)
      .enter()
      .append('line')

    this.simulation = forceSimulation(this.nodes)
    this.simulation.on('tick', () => {
      this.lineElements
        .attr('x1', link =>
          link.source.collection === 'research-initiatives'
            ? link.source.x + (12 * 28) / 1.3333
            : link.source.x
        )
        .attr('y1', link => link.source.y)
        .attr('x2', link =>
          link.target.collection === 'research-initiatives'
            ? link.target.x + (12 * 28) / 1.3333
            : link.target.x
        )
        .attr('y2', link => link.target.y)
      this.nodeElements.attr('transform', d =>
        false && d.collection === 'research-objectives'
          ? `translate(${d.x}, ${d.y}) rotate(90)`
          : `translate(${d.x}, ${d.y})`
      )
    })
  },
  destroyed() {
    if (typeof window !== 'undefined' && window.document) {
      unwatchViewport(this.handleViewportChange)
    }
  },
  methods: {
    handleViewportChange({ size }) {
      if (size.changed) {
        this.resize()
      }
    },
    resize: function() {
      this.height = this.$refs.container.parentElement.clientHeight
      this.width = this.$refs.container.parentElement.clientWidth
      this.draw()
    },
    draw: function() {}
  }
}
</script>
<style lang="stylus">
@import '~@bpde/vuepress-theme-bpde/styles/config.styl'

.chart-container
  width 100%
  height 100%
  font-size 8px

  .link-lines line
    stroke gray
    stroke-width 2
    stroke-opacity .1

  .axis text
    font-size 8px
    transform  translate(-12px, -5px) rotate(45deg)

  //
  /*text*/
  /*  font-variant all-small-caps*/

  .node .box
    stroke-width: 0
    stroke white
    fill #eee
  .node .time
    stroke-width: 0
    stroke white


/*

.chart-container
  position relative

  svg
    position absolute
    bottom 0

    .links
      path
        fill none
        stroke #ddd
        stroke-width 5px

.stages
  position: relative;

  align-content: space-evenly;
  justify-content: space-evenly;
  display flex

  .stage
    flex 1 1
    margin $bl(.5)

    height 100vh







  header.stage__header
    height $bl(5)
    position relative

    p.stage__description
      $light()
      font-size var(--baty__font-size--body-md)



#layer-infrastructures
  .nodes
    .node
      height $bl(3)

#layer-innovation-fields
  .nodes
    .node
      //margin-left 0
      height $bl(3)

.nodes
  display flex
  flex-direction column
  align-content: stretch
   .node
    min-height $bl(2)
    padding $bl(.25)
    background-color rgba(#fff, .9)
    margin-bottom $bl(.5)
    box-shadow 0 0 4px 4px rgba(black,.1)

  .node__title
    font-size var(--baty__font-size--body-sm)
    $bold()

  .node__description, .node__supertitle
    font-size var(--baty__font-size--body-sm)
    $light()
*/
</style>
