/* eslint-env browser */

<template lang="pug">
  .chart-container.chart-container--research-topics(ref="container")
    svg(ref="svg" :width="width" :height="height"
      :viewBox="[-width/2, -height/2, width, height]"
      xmlns='http://www.w3.org/2000/svg')
</template>

<script>
import { flare as model } from '@bpde/common-data'
import { watchViewport, unwatchViewport } from 'tornis'
import * as d3 from 'd3'
import { select, selectAll } from 'd3-selection'
import { cluster, hierarchy } from 'd3-hierarchy'
import { curveBundle, lineRadial } from 'd3-shape'
import { flat2nested } from '../lib/flat2nested'

function bilink(root) {
  const map = new Map(root.leaves().map(d => [id(d), d]))
  for (const d of root.leaves())
    d.outgoing = d.data.links.map(i => [d, map.get(i)])
  // for (const d of root.leaves())
  //   for (const o of d.outgoing) o[1].incoming.push(o)
  return root
}

function id(node) {
  return `${node.parent ? id(node.parent) + '.' : ''}${node.data.name}`
}

const colorout = '#f00'
const colornone = '#ccc'

const line = lineRadial()
  .curve(curveBundle.beta(0.6))
  .radius(d => d.y)
  .angle(d => d.x)

export default {
  name: 'research-topics',

  props: {
    baselineHeight: {
      type: Number,
      default: 10
    }
  },
  data: function() {
    return {
      width: 500,
      height: 100,
      root: null,
      model,
      margin: {
        left: 0,
        right: 10
      }
    }
  },
  computed: {},

  mounted() {
    console.log('mounted')
    watchViewport(this.handleViewportChange, false)
    this.height = this.$refs.container.parentElement.clientHeight
    this.width = this.$refs.container.parentElement.clientWidth

    this.$nextTick(function() {
      const svg = select(this.$refs.svg)
      const node = svg
        .append('g')
        //.attr('font-family', 'sans-serif')
        //.attr('font-size', 10)
        .selectAll('g')
        .data(this.root.leaves())
        .join('g')
        .attr(
          'transform',
          d => `rotate(${(d.x * 180) / Math.PI - 90}) translate(${d.y},0)`
        )
        .append('text')
        .attr('dy', '0.31em')
        .attr('x', d => (d.x < Math.PI ? 6 : -6))
        .attr('text-anchor', d => (d.x < Math.PI ? 'start' : 'end'))
        .attr('transform', d => (d.x >= Math.PI ? 'rotate(180)' : null))
        .attr('data-group', d => d.data.group)
        .text(d => d.data.label)
        .each(function(d) {
          d.text = this
        })
        .on('mouseover', overed)
        .on('mouseout', outed)
      //       .call(text =>
      //         text.append('title').text(
      //           d => `${id(d)}
      // ${d.outgoing.length} outgoing
      // ${d.incoming.length} incoming`
      //         )
      //       )

      const link = svg
        .append('g')
        .attr('stroke', colornone)
        .attr('fill', 'none')
        .selectAll('path')
        .data(this.root.leaves().flatMap(leaf => leaf.outgoing))
        .join('path')
        .style('mix-blend-mode', 'multiply')
        .attr('d', ([i, o]) => line(i.path(o)))
        .each(function(d) {
          d.path = this
        })

      function overed(d) {
        link.style('mix-blend-mode', null)
        select(this).attr('font-weight', 'bold')
        // selectAll(d.incoming.map(d => d.path))
        //   .attr('stroke', colorin)
        //   .raise()
        // selectAll(d.incoming.map(([d]) => d.text))
        //   .attr('fill', colorin)
        //   .attr('font-weight', 'bold')
        selectAll(d.outgoing.map(d => d.path))
          .attr('stroke', colorout)
          .raise()
        selectAll(d.outgoing.map(([, d]) => d.text))
          .attr('fill', colorout)
          .attr('font-weight', 'bold')
      }

      function outed(d) {
        link.style('mix-blend-mode', 'multiply')
        select(this).attr('font-weight', null)
        // selectAll(d.incoming.map(d => d.path)).attr('stroke', null)
        // selectAll(d.incoming.map(([d]) => d.text))
        //   .attr('fill', null)
        //   .attr('font-weight', null)
        selectAll(d.outgoing.map(d => d.path)).attr('stroke', null)
        selectAll(d.outgoing.map(([, d]) => d.text))
          .attr('fill', null)
          .attr('font-weight', null)
      }
    })
  },
  beforeMount() {
    const tree = cluster().size([2 * Math.PI, this.width / 4])

    const modelClone = JSON.parse(
      JSON.stringify(model.filter(d => d.links.length))
    )

    this.root = tree(
      bilink(
        hierarchy(flat2nested(modelClone))
        //     .sort(
        //   (a, b) =>
        //     d3.ascending(a.data.name, b.data.name)
        // )
      )
    )
  },
  destroyed() {
    console.log('destroyed')
    select('svg')
      .selectAll('g')
      .remove()
    if (typeof window !== 'undefined' && window.document) {
      unwatchViewport(this.handleViewportChange)
    }
  },
  methods: {
    handleViewportChange({ size }) {
      if (size.changed) {
        this.resize()
      }
    },
    resize: function() {
      this.height = this.$refs.container.parentElement.clientHeight
      this.width = this.$refs.container.parentElement.clientWidth
      this.draw()
    }
  }
}
</script>
<style lang="stylus">



.chart-container--research-topics
  width 100%
  height 100%
  font-family "URW DIN Semicond"
  font-size var(--baty__font-size--body-md)

  .link-lines line
    stroke gray
    stroke-width 2
    stroke-opacity .1

  [data-group="user-facilities"]
    fill var(--kfb__blue)
  [data-group="test-facilities"]
    fill var(--kfb__blue)
    fill-opacity .5
  [data-group="research-initiatives"]
    fill var(--kfb__red)
  [data-group="research-objectives"]
    fill var(--kfb__yellow)
</style>
