/* eslint-env browser */

<template lang="pug">
  .chart-container.chart-container--technology-roadmap(ref="container")
    svg(:width="width" :height="height"
      :viewBox="[0, 0, this.width, this.height]"
      xmlns='http://www.w3.org/2000/svg')
      defs
        pattern#pattern-stripe-2(width="8" height="4" patternUnits="userSpaceOnUse" patternTransform="rotate(0)")
          rect(width="8" height="1" transform="translate(0,0)" fill="red")
        mask#mask-stripe-2
          rect(x="0" y="0" width="100%" :height="baselineHeight" fill="url(#pattern-stripe-2)")
      //g.link-bubbles
      g.nodes
        <!--        g.node(v-for="node in nodes"-->
        <!--          :transform="(false && node.collection === 'research-objectives') ? `translate(${node.x}, ${node.y}) rotate(90)` : `translate(${node.x}, ${node.y})`")-->

        //text(v-if="true || node.layoutGroup === 'research-initiatives'" fill="black" dx="0" :dy="baselineHeight/2+1" alignment-baseline="middle"
          v-html="node.name.split(': ').slice(-1).join()" :dx="node.name.split(': ').length*10")
        //text(v-else fill="black" dx="0" :dy="baselineHeight/2+1" alignment-baseline="middle") {{node.name}}
        <!--          line(x1="0" y1="0" :x2="(12*28)/1.3333" :y2="0" stroke="#999" stroke-width=".5")-->
        <!--          rect.time(v-if="node.layoutGroup === 'user-facilities'"-->
        <!--            :transform="`translate(0, ${0.25 * baselineHeight})`"-->
        <!--            :x="facilityT(+node.t0)"-->
        <!--            :y="0"-->
        <!--            :width="facilityT(+node.t1 || 2050) - facilityT(+node.t0 || 2050)"-->
        <!--            :height="baselineHeight/2"-->
        <!--            :mask="(node.unapproved) ? 'url(#mask-stripe-2)' : ''")-->
        <!--        //            :fill="userGroupColor(node.userGroup)")-->
      g.axis(:transform="`translate(0, ${15 * baselineHeight})`")

</template>

<script>
import { select } from 'd3-selection'
import { scaleLinear } from 'd3-scale'
import { axisTop } from 'd3-axis'
import { format } from 'd3-format'
import { roadmap as model, flare } from '@bpde/common-data'
import { watchViewport, unwatchViewport } from 'tornis'

export default {
  props: {
    userGroups: {
      type: Array,
      default: () => []
    },
    baselineHeight: {
      type: Number,
      default: 10
    }
  },
  mounted() {
    watchViewport(this.handleViewportChange, false)

    this.height = this.$refs.container.parentElement.clientHeight
    this.width = this.$refs.container.parentElement.clientWidth

    const nodeSize = this.baselineHeight
    const facilities = model.nodes
      .filter(
        d =>
          d.layoutGroup === 'user-facilities' &&
          this.$props.userGroups.indexOf(d.layoutSubgroup) > -1
      )
      .map((d, index) => ({
        ...d,
        index
      }))

    const tMin = 2010
    const tMax = this.userGroups.indexOf('photon-science') > -1 ? 2040 : 2070
    const ticks =
      this.userGroups.indexOf('photon-science') > -1
        ? [2010, 2020, 2030, 2040]
        : [2010, 2020, 2030, 2040, 2050, 2060, 2070]

    const facilityT = scaleLinear()
      .domain([tMin, tMax])
      .range([16 * nodeSize, 8 * 4 * nodeSize - 1 * nodeSize])

    this.axisT = axisTop()
      .scale(facilityT)
      .tickValues(ticks)
      .tickFormat(format('.0f'))
      .tickSizeInner(0)
      .tickSize(14 * nodeSize)

    select(this.$refs.container)
      .select('g.axis')
      .call(this.axisT)
      .call(g => g.select('.domain').remove())
      .call(g =>
        g
          .selectAll('.tick text')
          .attr('dy', 0)
          .attr('dx', 4)
          .attr('x', 0)
          .attr('y', 0)
          .style('text-anchor', 'start')
          .attr('transform', 'rotate(0)')
      )

    const svg = select(this.$refs.container).select('svg')

    const facilityNodes = svg
      .append('g')
      .selectAll('g')
      .data(facilities)
      .join('g')
      .attr(
        'transform',
        ({ index }) => `translate(0,${(index + 3) * nodeSize})`
      )

    facilityNodes
      .append('rect')
      .classed('row', true)
      .attr('y', -nodeSize + 4)

      .attr('height', nodeSize)
      .attr('width', 47 * nodeSize)

      .attr('fill', ({ facilityGroup }) =>
        ['BESSY', 'DALI', 'FLASH', 'FAIR', 'LHC', 'MESA'].indexOf(
          facilityGroup
        ) > -1
          ? '#eee'
          : '#bbb'
      )

    facilityNodes
      .filter(({ t0, t1 }) => t0 || t1)
      .append('rect')
      .attr('fill', ({ unapproved }) =>
        unapproved ? 'gray' : 'var(--kfb__blue)'
      )
      .attr('x', ({ t0 }) => facilityT(t0 < tMin ? tMin : t0))
      .attr('y', ({ t1 }) => facilityT(t1 > tMax ? tMax : t1 || tMax))

      .attr('y', -(nodeSize / 4) * 1)
      .attr(
        'width',
        ({ t0, t1 }) =>
          facilityT(t1 > tMax ? tMax : t1 || tMax) -
          facilityT(t0 < tMin ? tMin : t0)
      )
      .attr('height', (nodeSize / 4) * 1)

    facilityNodes
      .append('text')
      .classed('facility-name', true)
      .attr('text-anchor', 'start')
      .attr('fill', 'start')

      .attr('x', ({ t0 }) => facilityT(t0 < tMin ? tMin : t0))
      .attr('dx', nodeSize / 4)
      .attr('dy', -nodeSize / 4)
      .text(d => d.label)

    //
    // .attr('mask', ({ unapproved }) =>
    //   unapproved ? 'url(#mask-stripe-2)' : ''
    // )

    // facilityNodes
    //   .append('text')
    //   .classed('facility__life-time', true)
    //   .attr('text-anchor', 'start')
    //   .attr('x', ({ t0 }) => facilityT(t0 < tMin ? tMin : t0))
    //   .attr('dx', nodeSize / 4)
    //   .text(d => (d.t0 ? d.t0 + '-' + (d.t1 || '') : ''))

    facilityNodes
      .append('text')
      .classed('facility-group', true)
      .attr('x', 0)
      // .attr('dx', -nodeSize / 4)
      .text(d => d.facilityGroup)

    facilityNodes
      .append('text')
      .classed('facility-version', true)
      .attr('x', 4 * nodeSize)
      // .attr('dx', -nodeSize / 4)
      .text(d => d.facilityVersion)

    facilityNodes
      .append('text')
      .attr('x', 2 * 4 * nodeSize)
      .text(d => d.facilityFormFactor)

    facilityNodes
      .append('text')
      .attr('x', 3 * 4 * nodeSize)
      .text(({ size }) => (size ? format('.0f')(size) + ' km' : ''))

    if (this.userGroups.indexOf('photon-science') === -1) {
      facilityNodes
        .append('text')
        .attr('text-anchor', 'end')
        .attr('x', 9 * 4 * nodeSize - nodeSize)
        .text(({ cmEnergy }) =>
          cmEnergy ? format('.0f')(cmEnergy) + ' GeV' : ''
        )

      facilityNodes
        .append('text')
        .attr('text-anchor', 'end')
        .attr('x', 10 * 4 * nodeSize - nodeSize)
        .text(({ magneticField }) =>
          magneticField ? format('.0f')(magneticField) + ' T' : ''
        )
      facilityNodes
        .append('text')
        .attr('x', 11 * 4 * nodeSize - nodeSize)
        .attr('text-anchor', 'end')
        .text(({ electricGradient }) =>
          electricGradient ? format('.0f')(electricGradient) + ' MeV/m' : ''
        )
      facilityNodes
        .append('text')
        .attr('x', 12 * 4 * nodeSize - nodeSize)
        .attr('text-anchor', 'end')
        .text(({ srPower }) => (srPower ? format('.0f')(srPower) + ' kW' : ''))
    } else {
      facilityNodes
        .append('text')
        .attr('x', 9 * 4 * nodeSize - nodeSize)
        .attr('text-anchor', 'end')
        .text(({ pulseDuration }) =>
          pulseDuration ? format('.0f')(pulseDuration) + ' fs' : ''
        )
    }
  },

  data: function() {
    return {
      width: 500,
      height: 100,
      // nodes: flare
      //   .filter(
      //     ({ group, subgroup }) =>
      //       group === 'user-facilities' &&
      //       this.$props.userGroups.indexOf(subgroup) > -1
      //   )
      //   .map(({ id, label, t1, t0 }, i) => ({
      //     id,
      //     label,
      //     t1,
      //     t0,
      //     x: 0,
      //     y: 0,
      //     fx: 0,
      //     fy: i * this.baselineHeight + this.baselineHeight * 0
      //   })),
      // facilities: flare
      //   .filter(
      //     ({ group, subgroup }) =>
      //       group === 'user-facilities' &&
      //       this.$props.userGroups.indexOf(subgroup) > -1
      //   )
      //   .map(d => ({ ...d, name: d.name.replace('kfb.', '') })),
      margin: {
        left: 0,
        right: 0
      }
    }
  },
  destroyed() {
    if (typeof window !== 'undefined' && window.document) {
      unwatchViewport(this.handleViewportChange)
    }
  },
  methods: {
    handleViewportChange({ size }) {
      if (size.changed) {
        this.resize()
      }
    },
    resize: function() {
      this.height = this.$refs.container.parentElement.clientHeight
      this.width = this.$refs.container.parentElement.clientWidth
      this.draw()
    },
    draw: function() {}
  }
}
</script>
<style lang="stylus">
@import '~@bpde/vuepress-theme-bpde/styles/config.styl'


.chart-container--technology-roadmap
  width 100%
  height 100%
  font-family "URW DIN Semicond"
  font-size var(--baty__font-size--body-sm)



  .row
    stroke white
    stroke-width 2
    opacity .5

  .axis text
    font-size var(--baty__font-size--body-sm)

  .tick line
    stroke-width 1px
    stroke-dasharray 1, 2

  .node .box
    stroke-width: 0
    stroke white
    fill #eee
  .node .time
    stroke-width: 0
    stroke white
</style>
