<template lang="pug">
  #app.layout--screen-view
    KFBRoadmap

</template>

<script>
import KFBRoadmap from './components/TechnologyRoadmap.vue'

export default {
  name: 'App',
  components: {
    KFBRoadmap
  }
}
</script>
<style lang="stylus">
  /*
@import './../../../vuepress-theme-kfs-report/styles/config.styl'
@import './../../../vuepress-theme-kfs-report/styles/mixins/palette.styl'

$CONFIG__COLOR()
$CONFIG__TYPOGRAPHY()
$CONFIG__LAYOUT--SCREEN()
$CONFIG__TYPOGRAPHY()

.layout--screen-view
  margin $bl(1)*/

#app
  .chart-container
    width 100vw
    height 100vh
</style>
