@import './mixins/'

badge()
  display inline
  border 1px solid white
  border-radius 3px
  $light()
  padding 0 0.2em
  min-width 2rem
  color black
  text-align center

.badge
  badge()

.badge--universities
  border-color var(--kfb__red)

.badge--helmholtz
  border-color var(--kfb__blue)

.badge--others
  border-color var(--kfb__gray)

.badge--abroad
  border-color var(--kfb__yellow)
  color #333
