.config-color
  content '.config-color'

$INTERACTION__COLOR--SPOT = #FFC82C
$INTERACTION__COLOR--SPOT--LIGHT = #FFD200
$INTERACTION__COLOR--ERROR = #ff0000
$INTERACTION__COLOR--WAITING = #eee
$INTERACTION__COLOR--PROCESSING = #ccc
$INTERACTION__COLOR--SUCCESS = #55bb55
$INTERACTION__COLOR--NEUTRAL = #eee
$INTERACTION__COLOR--NEUTRAL--LIGHT = #f0f0f0
$INTERACTION__COLOR--NEUTRAL--DARK = #ddd
$COLOR__KFB__BLUE ?= #2174a8
$kfb_gray ?= #757575
$kfb_yellow ?= #edc500
$kfb_gray_light ?= #eee
$kfb_gray_dark ?= #666
$kfb_red ?= #c53228
$kfb_green ?= #009900
$COLOR__helmholtz = $COLOR__KFB__BLUE
$COLOR__universities = $kfb_red
$COLOR__others = $kfb_gray
$COLOR__abroad = $kfb_yellow

$CONFIG__COLOR()
  :root
    --kfb__blue $COLOR__KFB__BLUE
    --kfb__gray $kfb_gray
    --kfb__gray--light $kfb_gray_light
    --kfb__green $kfb_green
    --kfb__red $kfb_red
    --kfb__yellow $kfb_yellow
    --interaction__color--hover-on #f0f0f0
    --interaction__color--hover-off #fbfbfb
    --interaction__color--error red
    --interaction__color--spot $INTERACTION__COLOR--SPOT
    --interaction__color--spot--light $INTERACTION__COLOR--SPOT--LIGHT
    --interaction__color--success $INTERACTION__COLOR--SUCCESS
    --interaction__color--processing $INTERACTION__COLOR--PROCESSING
    --interaction__color--waiting $INTERACTION__COLOR--WAITING
    --interaction__color--neutral $INTERACTION__COLOR--NEUTRAL
    --interaction__color--neutral--light $INTERACTION__COLOR--NEUTRAL--LIGHT
    --interaction__color--neutral--dark $INTERACTION__COLOR--NEUTRAL--DARK
    --link-color rgb(100, 100, 100)
    --link-color--sidebar rgba(255, 255, 255, 0.4)
    --link-color--sidebar--active rgba(255, 255, 255, 0.9)
    --link-color--sidebar--exact-active rgba(255, 255, 255, 1)
    --page__background-color hsl(0, 0, 100%)
    --text-color rgba(0, 0, 0, 0.8)
    --text-color--sidebar rgba(255, 255, 255, 0.9)
    --ui__background-color rgba(40, 40, 40, 1)
    --ui__background-color--dark rgba(30, 30, 30, 1)
    --ui__navbar__background-color rgba(40, 40, 40, 1)
