// code
$PAGE-NUMBER-DISPLAY ?= none
$FONT-FAMILY--BODY ?= 'Barlow', sans-serif
$FONT-BASELINE ?= 0.15
$FONT_WEIGHT__LIGHT ?= 400
$FONT_WEIGHT__REGULAR ?= 400
$FONT_WEIGHT__BOLD ?= 600
// SCREEN
$SCREEN__BASELINE-HEIGHT ?= 28px
$SCREEN__TEXT__FONT_SIZE__XXSMALL ?= 10px
$SCREEN__TEXT__FONT_SIZE__XSMALL ?= 12px
$SCREEN__TEXT__FONT_SIZE__SMALL ?= 16px
$SCREEN__TEXT__FONT_SIZE__REGULAR ?= 18px
$SCREEN__TEXT__FONT_SIZE__LARGE ?= 22px
$SCREEN__TEXT__FONT_SIZE__XLARGE ?= 30px
$SCREEN__HEADER__FONT_SIZE__SMALL ?= 16px
$SCREEN__HEADER__FONT_SIZE__REGULAR ?= 24px
$SCREEN__HEADER__FONT_SIZE__LARGE ?= 28px
$PRINT__BASELINE-HEIGHT ?= 11pt
$PRINT__TEXT__FONT_SIZE__XSMALL ?= 4pt
$PRINT__TEXT__FONT_SIZE__XSMALL ?= 5pt
$PRINT__TEXT__FONT_SIZE__SMALL ?= 7pt
$PRINT__TEXT__FONT_SIZE__REGULAR ?= 8pt
$PRINT__TEXT__FONT_SIZE__LARGE ?= 10pt
$PRINT__TEXT__FONT_SIZE__XLARGE ?= 12pt
$PRINT__HEADER__FONT_SIZE__SMALL ?= 12pt
$PRINT__HEADER__FONT_SIZE__REGULAR ?= 18pt
$PRINT__HEADER__FONT_SIZE__LARGE ?= 30pt

$PRINT_VARIABLES()
  --baseline-height $PRINT__BASELINE-HEIGHT
  $set-baselined-typography('body-xs', $PRINT__TEXT__FONT_SIZE__XSMALL, $PRINT__BASELINE-HEIGHT, 0.5, 0.5, 0, $FONT-BASELINE)
  $set-baselined-typography('body-sm', $PRINT__TEXT__FONT_SIZE__SMALL, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-md', $PRINT__TEXT__FONT_SIZE__REGULAR, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-lg', $PRINT__TEXT__FONT_SIZE__LARGE, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-xl', $PRINT__TEXT__FONT_SIZE__XLARGE, $PRINT__BASELINE-HEIGHT, 2, 0, 1, $FONT-BASELINE)
  $set-baselined-typography('header-sm', $PRINT__HEADER__FONT_SIZE__SMALL, $PRINT__BASELINE-HEIGHT, 2, 0, 0.5, $FONT-BASELINE)
  $set-baselined-typography('header-md', $PRINT__HEADER__FONT_SIZE__REGULAR, $PRINT__BASELINE-HEIGHT, 1, 0, 1, $FONT-BASELINE)
  $set-baselined-typography('header-lg', $PRINT__HEADER__FONT_SIZE__LARGE, $PRINT__BASELINE-HEIGHT, 1, 0, 1, $FONT-BASELINE)

$CONFIG__TYPOGRAPHY()
  :root
    --font-family--body $FONT-FAMILY--BODY, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    --font--baseline $FONT-BASELINE
    --PAGE-NUMBER-DISPLAY $PAGE-NUMBER-DISPLAY
    --print__baseline-height $PRINT__BASELINE-HEIGHT
    --screen__baseline-height $SCREEN__BASELINE-HEIGHT
    --font-weight--light $FONT_WEIGHT__LIGHT
    --font-weight--regular $FONT_WEIGHT__REGULAR
    --font-weight--bold $FONT_WEIGHT__BOLD
    $set-baselined-typography('body-xs', $SCREEN__TEXT__FONT_SIZE__XSMALL, $SCREEN__BASELINE-HEIGHT, 0.5, 0.5, 0, $FONT-BASELINE)
    $set-baselined-typography('body-sm', $SCREEN__TEXT__FONT_SIZE__SMALL, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
    $set-baselined-typography('body-md', $SCREEN__TEXT__FONT_SIZE__REGULAR, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
    $set-baselined-typography('body-lg', $SCREEN__TEXT__FONT_SIZE__LARGE, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
    $set-baselined-typography('body-xl', $SCREEN__TEXT__FONT_SIZE__XLARGE, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
    $set-baselined-typography('header-sm', $SCREEN__HEADER__FONT_SIZE__SMALL, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
    $set-baselined-typography('header-md', $SCREEN__HEADER__FONT_SIZE__REGULAR, $SCREEN__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
    // $set-baselined-typography('header-lg', $SCREEN__HEADER__FONT_SIZE__LARGE, $SCREEN__BASELINE-HEIGHT, 1.5, 0, 0, $FONT-BASELINE)
    --baty__pathicles__padding--header-sm 1px 0 0 0
    --baty__pathicles__padding--header-md 1px 0 2px 0
    --baty__pathicles__padding--header-lg 0 0 0 0

    @media print
      $PRINT_VARIABLES()

  .layout--print-view
    $PRINT_VARIABLES()
