
pixelize(value) { /* separate mixin, so it can be used elsewhere */
  u = unit(value);

  if (u is 'pt') {

    return unit(value / 0.75, 'px');

  } else if (u is 'mm') {

    return unit(value * 3.7795, 'px');

  } else {
    return unit(value, u);
  }
}

$round($value) {
  return round($value)
}


// PAGE
$PRINT__BASELINE_HEIGHT = pixelize(11pt)
$PRINT__PAGE__BLEED = pixelize(3mm)
$PRINT__PAGE__WIDTH = pixelize(210mm)
$PRINT__PAGE__HEIGHT = pixelize(210mm)
$PRINT__PAGE__HEIGHT_WITH_BLEED = pixelize(210mm + 6mm)
$PRINT__PAGE__WIDTH_WITH_BLEED = pixelize(210mm + 6mm)
$PRINT__SPREAD__HEIGHT_WITH_BLEED = pixelize(210mm + 6mm)
$PRINT__SPREAD__WIDTH_WITH_BLEED = pixelize(420mm + 6mm)
$PRINT__PAGE__COLUMN_COUNT = 12
$PRINT__PAGE__COLUMN_WIDTH_IN_BASELINES = 3
$PRINT__PAGE__COLUMN_WIDTH = $PRINT__PAGE__COLUMN_WIDTH_IN_BASELINES * $PRINT__BASELINE_HEIGHT
$PRINT__PAGE__COLUMN_GAP_WIDTH_IN_BASELINES = 1
$PRINT__PAGE__COLUMN_GAP_WIDTH = $PRINT__PAGE__COLUMN_GAP_WIDTH_IN_BASELINES * $PRINT__BASELINE_HEIGHT
$PRINT__PAGE__MARGIN = 0.5 * ($PRINT__PAGE__WIDTH - ($PRINT__PAGE__COLUMN_COUNT * $PRINT__PAGE__COLUMN_WIDTH + ($PRINT__PAGE__COLUMN_COUNT - 1) * $PRINT__PAGE__COLUMN_GAP_WIDTH))

$CONFIG__LAYOUT--PRINT()
  .layout--print-view
    --page__bleed $PRINT__PAGE__BLEED
    --page__height $PRINT__PAGE__HEIGHT
    --page__height-with-bleed $PRINT__PAGE__HEIGHT_WITH_BLEED
    --page__width $PRINT__PAGE__WIDTH
    --page__width-with-bleed $PRINT__PAGE__WIDTH_WITH_BLEED
    --page__column-count $PRINT__PAGE__COLUMN_COUNT
    --page__column-width-in-baselines $PRINT__PAGE__COLUMN_WIDTH_IN_BASELINES
    --page__column-width $PRINT__PAGE__COLUMN_WIDTH
    --page__column-gap-in-baselines $PRINT__PAGE__COLUMN_GAP_WIDTH_IN_BASELINES
    --page__column-gap-width $PRINT__PAGE__COLUMN_GAP_WIDTH
    --page__margin $PRINT__PAGE__MARGIN
    --page__grid-width $PRINT__PAGE__WIDTH - 2 * $PRINT__PAGE__MARGIN
    --page__grid-height $PRINT__PAGE__HEIGHT - 2 * $PRINT__PAGE__MARGIN
    --spread__bleed $PRINT__PAGE__BLEED
    --spread__margin $PRINT__PAGE__MARGIN
    --spread__height 1 * $PRINT__PAGE__WIDTH
    --spread__height-with-bleed $PRINT__SPREAD__HEIGHT_WITH_BLEED
    --spread__width 2 * $PRINT__PAGE__WIDTH
    --spread__width-with-bleed $PRINT__SPREAD__WIDTH_WITH_BLEED
    --spread__grid-width 2 * $PRINT__PAGE__WIDTH - 2 * $PRINT__PAGE__MARGIN
    --spread__grid-height $PRINT__PAGE__HEIGHT - 2 * $PRINT__PAGE__MARGIN
    --padding__x $PRINT__BASELINE_HEIGHT

  @page
    margin 0
    width var(--spread__width-with-bleed)
    height var(--spread__height-with-bleed)
