// @import '~@parent-theme/styles/content__inline'
// 
a, a.md-link_open
  color black
  text-decoration none

a.md-link_open
  $link()

.header-anchor
  display none

.content
  em
    font-style italic

  .FB, .KfB, strong
    $bold()

span.pathicles
  position relative

  // $pathicles-span()
  &::after
    position absolute
    top $bl(-1.33)
    display block
    content ' '
    content attr(data-label)
    $bold()
    margin-right 0.5em
    $baselined-typography(body-sm)
