/* roboto-300normal - latin */
@font-face
  font-weight 300
  font-style normal
  font-family 'Roboto'
  src local('Roboto Light'), local('Roboto-Light'), url('~typeface-roboto/files/roboto-latin-300.woff2') format('woff2')
  font-display swap

/* roboto-300italic - latin */
@font-face
  font-weight 300
  font-style italic
  font-family 'Roboto'
  src local('Roboto Light italic'), local('Roboto-Lightitalic'), url('~typeface-roboto/files/roboto-latin-300italic.woff2') format('woff2')
  font-display swap

/* roboto-400normal - latin */
@font-face
  font-weight 400
  font-style normal
  font-family 'Roboto'
  src local('Roboto Regular '), local('Roboto-Regular'), url('~typeface-roboto/files/roboto-latin-400.woff2') format('woff2')
  font-display swap

/* roboto-400italic - latin */
@font-face
  font-weight 400
  font-style italic
  font-family 'Roboto'
  src local('Roboto Regular italic'), local('Roboto-Regularitalic'), url('~typeface-roboto/files/roboto-latin-400italic.woff2') format('woff2')
  font-display swap

/* roboto-700normal - latin */
@font-face
  font-weight 700
  font-style normal
  font-family 'Roboto'
  src local('Roboto Bold '), local('Roboto-Bold'), url('~typeface-roboto/files/roboto-latin-700.woff2') format('woff2')
  font-display swap

/* roboto-700italic - latin */
@font-face
  font-weight 700
  font-style italic
  font-family 'Roboto'
  src local('Roboto Bold italic'), local('Roboto-Bolditalic'), url('~typeface-roboto/files/roboto-latin-700italic.woff2') format('woff2')
  font-display swap
