/* roboto-300normal - latin */
@font-face
  font-weight 300
  font-style normal
  font-family 'DIN'
  src url('~@drkrthj/typeface-klavika/files/din-thin.woff2') format('woff2')
  font-display swap

@font-face
  font-weight 300
  font-style italic
  font-family 'DIN'
  src url('~@drkrthj/typeface-klavika/files/din-thinitalic.woff2') format('woff2')
  font-display swap

/* roboto-400normal - latin */
@font-face
  font-weight 400
  font-style normal
  font-family 'DIN'
  src url('~@drkrthj/typeface-klavika/files/din-thinitalic.woff2') format('woff2')
  font-display swap

/* roboto-400italic - latin */
@font-face
  font-weight 400
  font-style italic
  font-family 'DIN'
  src url('~@drkrthj/typeface-klavika/files/din-thin.woff2') format('woff2')
  font-display swap

/* roboto-700normal - latin */
@font-face
  font-weight 700
  font-style normal
  font-family 'DIN'
  src url('~@drkrthj/typeface-klavika/files/din-bold.woff2') format('woff2')
  font-display swap

/* roboto-700italic - latin */
@font-face
  font-weight 700
  font-style italic
  font-family 'DIN'
  src url('~@drkrthj/typeface-klavika/files/din-bolditalic.woff2') format('woff2')
  font-display swap
