.layout
  .page__grid
    display grid
    margin-bottom $bl(3)
    padding-top var(--page-padding__y)
    width var(--page__width)
    grid-gap 0
    grid-template-areas 'header' 'main'
    grid-template-columns 1fr
    grid-template-rows $bl(5) auto

    +mq--gte-md()
      margin-top $bl(1)

  .page__header
    grid-area header

  .page__main
    padding-right var(--page__padding__x)
    padding-left var(--page__padding__x)
    grid-area main

.layout--screen-view
  margin-top var(--page__margin__top)
  margin-right var(--page__margin__right)
  margin-bottom var(--page__margin__bottom)
  margin-left var(--page__margin__left)
  width var(--page__width)
