// 
.debug-only
  display none

.layout--debug-view
  position relative

  .debug-only
    display initial

  // baselines
  .page:after // , .spread__grid:after
    position absolute
    top var(--spread-padding--y)
    bottom 0
    left 0
    z-index 1000
    display block
    width 100%
    height 100%
    background linear-gradient(to bottom, hsla(280, 100%, 50%, 0), hsla(280, 100%, 50%, 0) 0.1px, transparent 1px, transparent), linear-gradient(to bottom, hsla(280, 0, 50%, 0.2), hsla(280, 0, 50%, 0.1) 1px, transparent 1px, transparent), linear-gradient(to bottom, hsla(280, 100%, 0, 0.2), hsla(280, 100%, 100%, 0.2) 1px, transparent 1px, transparent)
    background-position-y 0
    background-size 100% calc((var(--baseline-height) / 3)), 100% calc((var(--baseline-height) / 2)), 100% var(--baseline-height)
    content ' '
    opacity 1
    pointer-events none
    background-blend-mode multiply

.layout--debug-view .scene:before
  position absolute
  top 0
  left $bl(0.25)
  z-index 100000
  display block
  content attr(data-scene)
