
.spread--default
  .spread__header
    position relative
    height 100%

  .spread__supertitle
    $baselined-typography(header-sm)
    $light()
    $caps()

    span
      color white
      $pathicles-span(header-sm)
      background-color var(--kfb__gray)

  .spread__title
    $baselined-typography(header-md)
    $bold()
    $caps()

    .pathicles
      color white
      $pathicles-span(header-md)
      background-color var(--kfb__blue)

    .section-number
      display inline-block
      margin-left $bl(-1.5)
      width $bl(1.5)

.spread__subtitle
  $baselined-typography(header-sm)
  $regular()
  max-width 60ch
  font-style italic

  .pathicles
    color white
    $pathicles-span(header-sm)
    background-color var(--kfb__blue)

.spread__supertitle, .spread__title, .spread__subtitle
  margin-left 0

.spread--default.spread--part
  .spread__title[data-section-number]::before
    display none
