
.spread__background
  position absolute
  top 0
  left 0
  z-index -1
  width var(--spread__width-with-bleed)
  height var(--spread__height-with-bleed)

  img
    max-width inherit
    width 100%
    height 100%
    opacity 0.5

.spread__background-right
  position absolute
  right 0
  bottom 0
  z-index -1
  overflow hidden
  width var(--page__width-with-bleed)

.spread__background-left
  position absolute
  top 0
  right 50%
  bottom 0
  left 0
  z-index -1
  overflow hidden
