
.spread--part.spread--default
  .spread__header
    .spread__supertitle
      $baselined-typography(header-sm)
      $light()
      $caps()

      span
        color white
        $pathicles-span(header-sm)
        background-color var(--kfb__gray)

    .spread__title
      $baselined-typography(header-lg)
      $bold()
      $caps()
      text-align right

      span
        color white
        $pathicles-span(header-md)
        margin-right -100%
        margin-left 0
        padding-right 100%
        padding-left calc(0.5 * var(--baseline-height))
        background-color var(--kfb__blue)

    .spread__subtitle
      $baselined-typography(header-md)
      $regular()
      max-width 60ch
      text-align right
      font-style italic

      span
        color white
        $pathicles-span(header-sm)
        margin-right -100%
        margin-left 0
        padding-right 100%
        padding-left calc(0.5 * var(--baseline-height))
        background-color var(--kfb__gray)

  .spread__area[data-template-name='header']
    margin-top $bl(1)
    grid-area 8 / 14 / 13 / 26

  .spread__area[data-template-name='part']
    // background-color yellow
    grid-area 1 / 1 / 13 / 13

  .spread__area[data-template-name='part-number']
    position relative
    grid-area 9 / 9 / 11 / 13

    > *
      background-color transparent

    .content__part-number
      width 100%
      height 100%

      p
        // position absolute
        width 100%
        font-size 90px
        $bold()
        padding-top $bl(4.5)
        // bottom $bl(1.9)
        color #bbb
        text-align center
