.spread__grid
  position absolute
  top calc(var(--spread__margin) + var(--spread__bleed))
  left calc(var(--spread__margin) + var(--spread__bleed))
  z-index 1000
  // z-index 1000
  display grid
  // width var(--spread__grid-width)
  // height var(--spread__grid-height)
  grid-template-columns repeat(var(--page__column-count), var(--page__column-width)) calc(2 * var(--page__margin) - 2 * var(--page__column-gap-width)) repeat(var(--page__column-count), var(--page__column-width))
  grid-template-rows repeat(var(--page__column-count), calc(3 * var(--baseline-height)))
  grid-gap var(--page__column-gap-width)

.spread__area
  width 100%
  // overflow hidden
  height 100%

.spread--default
  .spread__grid
    .spread__area[data-template-name='header']
      grid-area 1 / 1 / 3 / 13

    .spread__area[data-template-name='column-1']
      grid-area 3 / 1 / 13 / 5

    .spread__area[data-template-name='column-2']
      grid-area 3 / 5 / 13 / 9

    .spread__area[data-template-name='column-3']
      grid-area 3 / 9 / 13 / 13

    .spread__area[data-template-name='column-4']
      grid-area 3 / 14 / 13 / 18

    .spread__area[data-template-name='column-5']
      grid-area 3 / 18 / 13 / 22

    .spread__area[data-template-name='column-6']
      grid-area 3 / 22 / 13 / 26

    .spread__area[data-template-name='column-1-6']
      grid-area 1 / 1 / 13 / 26

    .spread__area[data-template-name='column-4-top']
      grid-area 3 / 14 / 6 / 18

    .spread__area[data-template-name='column-4-bottom']
      grid-area 8 / 14 / 13 / 18

    .spread__area[data-template-name='column-5-top']
      grid-area 3 / 18 / 6 / 22

    .spread__area[data-template-name='column-5-bottom']
      grid-area 8 / 18 / 13 / 22

    .spread__area[data-template-name='column-6-top']
      grid-area 3 / 22 / 6 / 26

    .spread__area[data-template-name='column-6-bottom']
      grid-area 8 / 22 / 13 / 26

    .spread__area[data-template-name='column-1-3']
      grid-area 1 / 1 / 13 / 13

    .spread__area[data-template-name='column-1-2']
      grid-row-start 3
      grid-row-end 3
      grid-column-start 2
      grid-column-end 4

    .spread__area[data-template-name='column-2-3']
      grid-area 3 / 5 / 4 / 13

    .spread__area[data-template-name='column-profit-oriented-affiliations']
      z-index -2
      grid-area 1 / 5 / 4 / 10

    .spread__area[data-template-name='column-4-6']
      grid-area 1 / 14 / 13 / 26

    .spread__area[data-template-name='column-5-6']
      grid-area 1 / 15 / 13 / 20

    .spread__area[data-template-name='column-1-3-bottom']
      grid-row-start 4
      grid-row-end 4
      grid-column-start 2
      grid-column-end 53

    .spread__area[data-template-name='column-1-6-bottom']
      grid-row-start 4
      grid-row-end 6
      grid-column-start 2
      grid-column-end 9

    .spread__area[data-template-name='aside']
      grid-area aside

    .spread__area[data-template-name='column-10-1-13-13']
      grid-area

    .spread__area[data-template-name='column-10-1-13-13']
      grid-area 9 / 1 / 13 / 13

    .spread__area[data-template-name='column-9-14-13-26']
      grid-area 9 / 14 / 13 / 26

.layout
  .spread__area
    .content
      height 100%

    .content > p, .content > p
      max-width 100%

  .spread__area[data-template-name^='cell']
    position relative

    &:before
      position absolute
      top 0
      right $bl(-1)
      left $bl(-1)
      display block
      height 100%
      border-right $bl(1) solid rgba(white, 0.8)
      border-left $bl(1) solid rgba(white, 0.8)
      content ' '

    > .content
      height 100%
