@import '~@parent-theme/styles/mixins/responsive'
@import './mixins'

.page__supertitle
  font-size var(--baty__font-size--header-sm)
  $regular()

  // max-width 20ch
  span
    $pathicles-span(header-sm)
    background-color var(--kfb__gray--light)

h1.page__title
  font-size var(--baty__font-size--header-md)
  $bold()

  span
    $pathicles-span(header-md)
    background-color var(--kfb__blue)
    color white

.page__subtitle
  // $baselined-typography(header-sm)
  font-size var(--baty__font-size--header-sm)
  $regular()

  span
    $pathicles-span(header-sm)
    background-color var(--kfb__gray--light)
