// .layout--print-view
.spread-sheet, .grid-helper
  transform-origin 0 0

.spread-sheet
  position absolute
  top 0
  left 0
  // background-color red
  z-index 10
  overflow hidden
  width var(--spread__width-with-bleed)
  height var(--spread__height-with-bleed)

.spread
  margin-top var(--spread__bleed)
  margin-left var(--spread__bleed)
  width var(--spread__width)
  height var(--spread__height)
  // background-color rgba(orange, .1)
  box-shadow 0 0 5px 0 rgba(black, 0.5)
  // background-color white
