.header-slide-enter-active
  animation bounce-in 0.2s

.header-slide-leave-active
  animation bounce-in 0.2s reverse

@keyframes bounce-in
  0%
    transform translate(-100%)

  50%
    transform translate(-20%)

  100%
    transform translate(0)

@keyframes bounce-in
  0%
    transform translate(-100%)

  100%
    transform translate(0)

.fade-enter, .fade-leave-to
  opacity 0

.fade-enter-active, .fade-leave-active
  transition 0.1s
