<template>
  <pre>
message to sentry.io: {{ message }}
    (eventId: {{ eventID }})
    (eventId2: {{ eventID2 }})</pre
  >
</template>
<script>
import * as Sentry from '@sentry/browser'

export default {
  components: {},
  props: {
    message: {
      type: String,
      required: true
    }
  },
  data: function () {
    return {
      eventID: null,
      eventID2: null
    }
  },

  mounted() {
    // eslint-disable-next-line no-undef
    window.SS = Sentry
    this.eventID = Sentry.captureMessage(this.message)
    // eslint-disable-next-line no-undef,no-unused-vars
    const x = new XXXXX()
  }
}
</script>
