@import './mixins/'

.table-container
  overflow-x scroll
  overflow-y hidden
  max-width 100vw

.md-table_open
  margin-top $bl(1)
  padding-bottom $bl(1)
  border-collapse collapse

  +mq--gte-md()
    max-width $MAX_CONTEN_WIDTH--XL
    width 100%

  th, td, caption
    text-align left

    // > span:not(.no-blt), > div:not(.no-blt)
    > div
      $baselined-typography(body-sm)

    > div.small
      $baselined-typography(body-sm)

  th, td
    padding-right var(--padding__x)

  th
    $bold()

  td
    position relative
    background-color var(--table-background)
    $border-top(1px, rgba(black, 0.2), 0.25)

  .table-column--expand
    width $bl(2)

  td.w-25
    width 25%

  td.w-50
    width 50%

  td.w-75
    width 759%

  td.w-99
    width 99%

  td.nw
    white-space nowrap

  td.aligned--right, th.aligned--right
    text-align right

  tr.hoverable:hover td
    background-color var(--interaction__color--hover-on)
    cursor pointer

  $table__td--group()
    padding-top $bl(2)
    background-color transparent

    > div
      $baselined-typography(body-lg)
      $bold()

  tr.table__tr--group td, .dc-table-group td
    $table__td--group()
