@import './mixins/'

.nw
  white-space nowrap

.content, .content_default
  strong
    font-weight $FONT_WEIGHT__BOLD

  kbd
    padding 0 calc(0.15 * var(--baseline-height))
    border solid calc(0.15 * var(--baseline-height)) #ddd
    border-bottom solid calc(0.25 * var(--baseline-height)) #ddd
    border-radius calc(0.15 * var(--baseline-height))
    background #eee

  pre
    font-family monospace
