
.content
  h1
    color red !important

  > p, > ul, > ol, > ol
    $baselined-typography(body-md)

  > h3, > h4
    $baselined-typography(body-lg)
    font-weight $FONT_WEIGHT__REGULAR

  > h2
    $baselined-typography(body-lg)
    font-weight $FONT_WEIGHT__BOLD
    font-style italic

  code, kbd
    font-family source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

  p + p
    text-indent $bl(0.5)

  p + p.no-indent
    text-indent 0

  hr
    margin 0
    padding 0
    height $bl(1)
    border 0

  img
    max-width 100%

  blockquote
    margin-left 0
    padding-left $bl(1)

  ul, ol
    position relative
    margin-left $bl(1)

  ul li:before
    position absolute
    left calc(-1 * var(--baseline-height))
    display inline-block
    width $bl(1)
    content '–'
    text-align center
    font-family Arial

  > ol
    counter-reset ol-counter

  > ol li
    counter-increment ol-counter

  > ol li:before
    position absolute
    left calc(-1 * var(--baseline-height))
    display inline-block
    width $bl(1)
    content counter(ol-counter)
    text-align left
    font-variant small-caps

  > ol li:nth-child(-n+9)
    content '0' counter(ol-counter)

  .intro p
    $baselined-typography(header-sm)
    font-weight $FONT_WEIGHT__BOLD

  small
    > p, > h2, > h3, li
      $baselined-typography(body-sm)

    > ol
      counter-reset ol-counter

    > ol li
      counter-increment ol-counter

    > ol li:before
      position absolute
      left calc(-1 * var(--baseline-height))
      display inline-block
      width $bl(1)
      content counter(ol-counter)
      text-align left
      // background-color red
      text-align center
      font-variant small-caps

    > ol li:nth-child(-n+9)
      content '0' counter(ol-counter)

small
  position relative
  top 0.5pt !important
  background-color red
