body
  background-color var(--page__background-color)

.layout--screen-view
  .page
    z-index 0
    min-height 100vh

  .page__header
    padding-right var(--page__padding__x)
    padding-left var(--page__padding__x)

  .page__main
    padding-right var(--page__padding__x)
    padding-left var(--page__padding__x)
    max-width var(--content__width)

    +mq--gte-md()
      max-width calc(100vw - var(--ui__sidebar__width))

.layout--screen-view.layout--sidebar-hidden
  .page__main
    max-width 100%
