.navbar
  position fixed
  right 0
  z-index 100000
  height $ui__bl(5)
  background-color var(--ui__background-color)
  font-size var(--ui__font-size)

.navbar__item
  display flex
  overflow hidden
  height var(--ui__navbar__item-height)
  background-color var(--interaction__color--hover-off)
  box-shadow inset 0 0 2px 0 rgba(black, 0.4)
  color black
  white-space nowrap
  line-height var(--ui__navbar__item-height)
  cursor pointer
  user-select none

  &:hover
    background-color var(--interaction__color--hover-on)

  .navbar__item-label
    display flex
    flex-direction row
    padding 0 var(--ui__padding-x)
    width 100%

  .navbar__label-text
    flex 1
    padding-right var(--ui__padding-x)
    vertical-align middle

  .navbar__label-icon
    vertical-align middle
    text-align center

.navbar__item--sidebar-toggle, .navbar__item--next, .navbar__item--locales
  position fixed
  right $bl(0.5)
  display block
  $bold()

.navbar__item--next
  bottom calc(0.5 * var(--baseline-height) + 1.25 * var(--ui__navbar__item-height))
  z-index 1000

.navbar__item--sidebar-toggle
  bottom $bl(0.5)
  z-index 10000

// .navbar__item--locales
// bottom calc(3 * var(--ui__navbar__item-height))
// display flex

// .navbar__item--sidebar-toggle .navbar__label-text
// display none
.navbar__item--next .navbar__label-text
  display none

.navbar__item--next:hover .navbar__label-text
  display block
