.layout__sidebar
  position fixed
  top 0
  right 0
  bottom 0
  z-index 100000
  display flex
  flex-direction column
  overflow-y scroll
  padding-top var(--ui__sidebar__item-height)
  width var(--ui__sidebar__width)
  background-color var(--ui__background-color)
  font-size var(--ui__font-size)
  font-family var(--ui__font-family)
  line-height var(--ui__line-height)

  +mq--gte-md()
    box-shadow inset 10px 0 10px 0 rgba(black, 0.5)

.sidebar__footer
  color white
  font-size 0.75em

  p
    padding-left calc(var(--ui__sidebar__outline-width) + var(--ui__padding-x))

.sidebar-nav__item-link
  position relative
  display flex
  flex-wrap nowrap
  justify-content flex-start
  align-items center
  height calc(var(--ui__sidebar__item-height))
  color var(--ui__color)
  text-decoration none
  white-space nowrap
  cursor pointer

  .sidebar-nav__item-outline, .sidebar-nav__item-title
    border 1px solid var(--ui__background-color)
    background-color rgba(white, 0.1)

  &:hover
    background-color #5d5c1e

.sidebar-nav__item-link:hover .sidebar-nav__item-title
  text-shadow var(--interaction__color--spot) 0 0 1px

.sidebar .router-link-active .sidebar-nav__item-title
  text-shadow var(--interaction__color--spot) 0 0 2px
  opacity 1

.sidebar .router-link-exact-active
  .sidebar-nav__item-outline
    background-color var(--interaction__color--spot)

  .sidebar-nav__item-outline:before
    background-color var(--interaction__color--spot)

  .sidebar-nav__item-title
    color var(--interaction__color--spot)
    text-shadow var(--interaction__color--spot) 0 0 2px
    opacity 1

.sidebar-nav__item-outline, .sidebar-nav__item-title
  padding-right var(--ui__padding-x)
  padding-left var(--ui__padding-x)
  height 100%
  line-height calc(var(--ui__sidebar__item-height) - 2px)

  +mq--gte-md()
    padding-right var(--ui__padding-x)
    padding-left var(--ui__padding-x)

.sidebar-nav__item-outline
  position relative
  // display flex
  width var(--ui__sidebar__outline-width)

  span
    opacity 1
    $light()
    flex 0 1 1em

  span:last-child
    opacity 1
    $bold()

.sidebar-nav__item-title
  display block
  flex 1 0
  overflow hidden
  line-height var(--ui__sidebar__item-height)

+mq--gte-lg()
  .sidebar .sidebar-nav__item-title
    opacity 0.6
    transition 0.1s

  .sidebar:hover .sidebar-nav__item-title
    opacity 1

.sidebar-nav-item[data-depth='1']
  > .sidebar-nav__item-link
    .sidebar-nav__item-title, .sidebar-nav-item__outline
      text-transform uppercase
      $bold()

.sidebar-nav-item[data-depth='2']
  margin-top $ui__bl(1)

  > .sidebar-nav__item-link
    .sidebar-nav__item-title, .sidebar-nav-item__outline
      $bold()

.sidebar-nav-item[data-depth='3']
  > .sidebar-nav__item-link
    .sidebar-nav__item-title, .sidebar-nav-item__outline
      $regular()

.sidebar-nav-item[data-depth='4']
  > .sidebar-nav__item-link
    .sidebar-nav__item-title, .sidebar-nav-item__outline
      $regular()

.sidebar-nav-item[data-depth='5']
  > .sidebar-nav__item-link
    .sidebar-nav__item-title, .sidebar-nav-item__outline
      $light()
