.layout
  position relative

@media screen
  .layout
    .layout__sidebar
      transition 0.2s
      transition-timing-function ease-in-out

    .layout__sidebar, .layout__main
      transition 0.2s
      transition-timing-function ease-in-out

    +mq--lte-sm()
      .layout__sidebar
        transform translateY(0)

      &.layout--sidebar-hidden
        .layout__sidebar
          opacity 0
          transform translateY(100vh)

    +mq--gte-md()
      .layout__sidebar
        transform translateX(0)

      .layout__main
        margin-right var(--ui__sidebar__width)

      &.layout--sidebar-hidden
        .layout__sidebar
          opacity 0
          // transform translateX(calc(var(--ui__sidebar__width)))

        .layout__main
          margin-right 0

.hidden
  position absolute
  top auto
  left -10000px
  overflow hidden
  width 1px
  height 1px
