@import './mixins/'

.list
  margin-right calc(var(--padding__x) * -1)
  margin-left calc(var(--padding__x) * -1)
  max-width $MAX_CONTEN_WIDTH
  width calc(100% + 2 * var(--padding__x))
  transition 300ms

  +mq--gte-xl()
    max-width $MAX_CONTEN_WIDTH--XL
    transition 300ms

.list-group
  margin-bottom $bl(4)

//
.list-group__header
  height $bl(2)

//
// .list-groups--tight .list-group__header
// height $bl(.5)
// //overflow hidden
.list-group__title
  $baselined-typography(body-lg)
  color var(--kfb__gray)
  $light()
  text-transform uppercase
  font-style italic

.list-group__description
  $baselined-typography(body-md)

.list--tight .list__item
  padding-top $bl(0.5)
  padding-bottom $bl(0.5)

.list__item
  $border-top(2px)
  display flex
  flex-direction column
  flex-wrap wrap
  padding-bottom $bl(1)

.list__item.hoverable
  background-color var(--interaction__color--hover-off)
  cursor pointer
  transition background-color
  transition-duration 300ms

.list__item.hoverable:hover
  background-color var(--interaction__color--hover-on)
  transition-duration 300ms

.list__item-block
  padding-right var(--padding__x)
  padding-left var(--padding__x)

+mq--gte-md()
  .list__item
    flex-direction row
    flex-wrap nowrap

  .list__item-block--w-1
    flex 1 0 $bl(1)

  .list__item-block--w-5
    flex 1 0 40%

  .list__item-block--date
    flex 1 0 $bl(5)

  .list__item-block--content
    flex 0 1 100%

  .list__item-block--expand
    flex 0 0 $bl(0)
    margin-top $bl(0.25)
    padding-right $bl(0.25)

.list__item-content
  > h4, > h3, > div.date
    $baselined-typography(body-md)
    bold()
    text-transform uppercase

    a
      padding 0

  > h4, > h3, p.lead
    $bold()

  p, ol
    $baselined-typography(body-md)
    $regular()

  p.small
    $baselined-typography(body-sm)
  p.date
    $baselined-typography(body-md)

  ol
    column-count 2
