/* CSS for Paged.js interface */
/* Change the look */
:root
  --color-background whitesmoke
  --color-pageBox #666
  --color-paper white
  --color-marginBox transparent

/* To define how the book look on the screen: */
@media screen
  body
    background-color var(--color-background)

  .pagedjs_pages
    display flex
    flex 0
    flex-wrap wrap
    margin 0 auto
    width calc(var(--pagedjs-width) * 2)

  .pagedjs_page
    flex-grow 0
    flex-shrink 0
    margin 0
    margin-top 10mm
    background-color var(--color-paper)
    box-shadow 0 0 0 1px var(--color-pageBox)

  .pagedjs_first_page
    margin-left var(--pagedjs-width)

  .pagedjs_page:last-of-type
    margin-bottom 10mm

  /* show the margin-box */
  .pagedjs_margin-top-left-corner-holder, .pagedjs_margin-top, .pagedjs_margin-top-left, .pagedjs_margin-top-center, .pagedjs_margin-top-right, .pagedjs_margin-top-right-corner-holder, .pagedjs_margin-bottom-left-corner-holder, .pagedjs_margin-bottom, .pagedjs_margin-bottom-left, .pagedjs_margin-bottom-center, .pagedjs_margin-bottom-right, .pagedjs_margin-bottom-right-corner-holder, .pagedjs_margin-right, .pagedjs_margin-right-top, .pagedjs_margin-right-middle, .pagedjs_margin-right-bottom, .pagedjs_margin-left, .pagedjs_margin-left-top, .pagedjs_margin-left-middle, .pagedjs_margin-left-bottom
    box-shadow 0 0 0 1px inset var(--color-marginBox)

  /* uncomment this part for recto/verso book : ------------------------------------ */
  .pagedjs_pages
    flex-direction column
    width 100%

  .pagedjs_first_page
    margin-left 0

  .pagedjs_page
    margin 0 auto
    margin-top 10mm

  /* -------------------------------------------------------------------------------------- */
  /* uncomment this par to see the baseline : ------------------------------------------- */
  .pagedjs_pagebox
    background linear-gradient(var(--color-paper) 0, var(--color-paper) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent
    background-position-y var(--pagedjs-baseline-position)
    background-size 100% var(--pagedjs-baseline)
    background-repeat repeat-y
    --pagedjs-baseline var(--baseline-height)
    --pagedjs-baseline-position 0
    --pagedjs-baseline-color cyan

  /* -------------------------------------------------------------------------------------- */
