/*eslint-env browser*/

<template lang="pug">
.vue-dc-explorer
  .tiles.tiles--sources
    VDCTileCount(data-tile="count" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")
    VDCTileReset(data-tile="reset" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")
    VDCTileSearch(data-tile="text" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")

    VDCTileBarChart(data-tile="year" :loaded="loaded" :crossfilterIndex="idx"  :baselineHeight="baselineHeight")
    VDCTileRowChart(data-tile="language" :loaded="loaded" :crossfilterIndex="idx" fieldName="language"  :baselineHeight="baselineHeight")

    VDCTileRowChart(data-tile="pubtype"  :loaded="loaded" :crossfilterIndex="idx" fieldName="pubtype")
    VDCTileRowChart(data-tile="keywords"  :loaded="loaded" :crossfilterIndex="idx" fieldName="keywords" :multiple="true")

  .list-actions
    .list-action
      span.list-action__title {{translate("view")}}
      span.list-action__options
        span.list-action__option
          button.button--link(:class="{active: view === VIEWS.VIEW__LIST}" @click="setView(VIEWS.VIEW__LIST)") {{translate("view__list")}}
        span.list-action__option
          button.button--link(:class="{active: view === VIEWS.VIEW__COMPACT_TABLE}" @click="setView(VIEWS.VIEW__COMPACT_TABLE)") {{translate("view__compact_table")}}
        span.list-action__option
          button.button--link(:class="{active: view === VIEWS.VIEW__TABLE}" @click="setView(VIEWS.VIEW__TABLE)") {{translate("view__table")}}
    .list-action
      span.list-action__title {{translate("action__export")}}
      span.list-action__options
        span.list-action__option
          button.button--link(@click="downloadAsCSV('publications.csv')") {{translate("action__export__as_csv")}}
        span.list-action__option
          button.button--link(@click="downloadSelectionAsBibLaTeX('publications.bib')") {{translate("action__export__as_biblatex")}}


  .vdc__main
    keep-alive
      VDCItemsList(:loaded="loaded" v-if="view === VIEWS.VIEW__LIST" :groupedItems="groupedItems")
        template(v-slot:summary="{item}")
          .bib-item__formatted(v-html="item.formatted.chicago.full")
        template(v-slot:detail="{item}")
          .detail
            .bib-item__actions
              .bib-item__action
                a(@click="downloadAsBibLaTeX($event, item)") {{translate('downloadAsBibLaTeX')}}
            .bib-item__abstracts(v-if="item.abstract || item.abstract__de")
              .bib-item__abstract.bib-item__abstract--en(v-if="item.abstract")
                p
                  strong Abstract
                p(v-html="item.abstract")
              .bib-item__abstract.bib-item__abstract--de(v-if="item.abstract__de")
                p
                  strong Kurzfassung
                p(v-html="item.abstract__de")

      VDCItemsTable(:loaded="loaded" v-if="(view === VIEWS.VIEW__TABLE || view === VIEWS.VIEW__COMPACT_TABLE)"
        :compact="view === VIEWS.VIEW__COMPACT_TABLE"
        :tableColumns="tableColumns"
        :groupedItems="groupedItems"
        :sortColumn="sortField"
        :grouped="grouped"
        :sortAscending="sortAscending"
        :expanded="expanded"
        @change-sorting="changeSorting"
        @toggle-expanded="toggleExpanded"
        :baselineHeight="baselineHeight")
        template(v-slot:detail="{entry}")
          .detail
            .bib-item__formatted
              .bib-item__author {{entry.author}} ({{entry.year}})
              .bib-item__title(v-html='entry.title')
              .bib-item__publisher {{entry.publisher}} {{entry.institution}}

            .bib-item__actions
              .bib-item__action
                a(@click="downloadAsBibLaTeX($event, entry)") {{translate('downloadAsBibLaTeX')}}
            .bib-item__abstracts(v-if="entry.abstract || entry.abstract__de")
              .bib-item__abstract.bib-item__abstract--en(v-if="entry.abstract")
                p
                  strong Abstract
                p(v-html="entry.abstract")
              .bib-item__abstract.bib-item__abstract--de(v-if="entry.abstract__de")
                p
                  strong Kurzfassung
                p(v-html="entry.abstract__de")
</template>

<script>
import { NAMESPACED_ACTION_TYPES } from './../lib/store/bibliography/actionsFactory'

import {
  VDCExplorerMixin,
  VDCItemsList,
  VDCItemsTable,
  VDCTileBarChart,
  VDCTileCount,
  VDCTileAffiliationLocation,
  VDCTileReset,
  VDCTileRowChart,
  VDCTileSearch
} from '@jerrobs/vue-dc-explorer'

export default {
  mixin: [VDCExplorerMixin],
  name: 'vue-dc-explorer',
  components: {
    VDCItemsList,
    VDCItemsTable,
    VDCTileBarChart,
    VDCTileCount,
    VDCTileAffiliationLocation,
    VDCTileReset,
    VDCTileRowChart,
    VDCTileSearch
  },
  asyncComputed: {
    async items() {
      await this.$store.dispatch(NAMESPACED_ACTION_TYPES.FETCH)
      return this.$store.getters['bibliography/items']
        .filter(this.filter)
        .map((d) => {
          return {
            ...d,
            pubtype: this.translate(d.bibtype),
            language: this.translate(d.language),
            expanded: false
          }
        })
    }
  },
  computed: VDCExplorerMixin.computed,
  mounted: VDCExplorerMixin.mounted,
  data: VDCExplorerMixin.data,
  props: {
    ...VDCExplorerMixin.props,
    baselineHeight: {
      type: Number,
      default: 10
    },
    tableColumns: {
      type: Array,
      default: () => [
        {
          name: 'pubtype',
          width: 10,
          sortable: true,
          grouped: true,
          labelKey: 'column__pubtype'
        },
        {
          name: 'who',
          width: 20,
          labelKey: 'column__who',
          sortable: true,
          grouped: false
        },
        {
          name: 'when',
          width: 10,
          labelKey: 'column__when',
          sortable: true,
          grouped: true
        },
        {
          name: 'what',
          width: 30,
          labelKey: 'column__what',
          sortable: true,
          grouped: false
        },
        {
          name: 'where',
          width: 20,
          labelKey: 'column__where',
          sortable: true,
          grouped: true
        }
      ]
    }
  },
  methods: { ...VDCExplorerMixin.methods },
  watch: VDCExplorerMixin.watch
}
</script>

<style lang="stylus">
@import '~@jerrobs/vue-dc-explorer/src/styles/vue-dc-explorer.styl'

+mq--lte-sm()

  .tiles--sources

    [data-tile="count"]
      grid-area 1 / 1 / 1 / 1

    [data-tile="reset"]
      display none
      //grid-area 1 / 2 / 1 / 2

    [data-tile="text"]
      grid-area 1 / 2 / 1 / 2

    [data-tile="year"]
      grid-area 2 / 1 / 2 / 2

    [data-tile="language"]
      grid-area 3 / 1 / 3 / 2

    [data-tile="pubtype"]
      grid-area 2 / 3 / 5 / 3

  .tiles--sources.theses
    [data-tile="pubtype"]
      display none

    [data-tile="year"]
      grid-area 2 / 1 / 4 / 1

    [data-tile="language"]
      grid-area 4 / 1 / 6 / 1

    [data-tile="affiliation"]
      grid-area 2 / 2 / 6 / 2

    [data-tile="affiliation-location"]
      grid-area 2 / 3 / 6 / 3

+mq--gte-md()

  .tiles--sources

    [data-tile="count"]
      grid-area 1 / 1 / 1 / 1

    [data-tile="reset"]
      grid-area 1 / 2 / 1 / 2

    [data-tile="text"]
      grid-area 1 / 3 / 1 / 3

    [data-tile="year"]
      grid-area 2 / 1 / 4 / 1

    [data-tile="language"]
      grid-area  4 / 1 / 6 / 1

    [data-tile="keywords"]
      grid-area 2 / 2 / 6 / 2

    [data-tile="pubtype"]
      grid-area 2 / 3 / 6 / 3

  .tiles--sources.theses
    [data-tile="pubtype"]
      display none

    [data-tile="year"]
      grid-area 2 / 1 / 4 / 1

    [data-tile="language"]
      grid-area 4 / 1 / 6 / 1

    [data-tile="affiliation"]
      grid-area 2 / 2 / 6 / 2

    [data-tile="affiliation-location"]
      grid-area 2 / 3 / 6 / 3
</style>
