<template lang="pug">
  .bib-list
    .bib-list__item(v-for="d of sortedItems")
      span.inline(v-html="d.formatted.chicago.inline")
      span.full(v-html="d.formatted.chicago.full")

</template>

<script>
import { NAMESPACED_ACTION_TYPES } from './../lib/store/bibliography/actionsFactory'
// import { groups, ascending, descending } from 'd3-array'
const defaultLineHeight = 24
export default {
  name: 'BibList',
  props: {
    path: {
      type: String,
      default: ''
    },
    keyword: {
      default: () => null,
      type: String
    }
  },
  data: () => {
    return {
      items: []
    }
  },
  computed: {
    lineHeight() {
      return defaultLineHeight
    },
    filteredItems() {
      return this.keyword
        ? this.items.filter((d) => d.keywords.indexOf(this.keyword) > -1)
        : this.items
    },
    sortedItems() {
      return this.filteredItems
    }
  },
  async created() {
    await this.$store.dispatch(NAMESPACED_ACTION_TYPES.FETCH)
    this.items = this.$store.getters['bibliography/items'].map((d) => {
      return {
        ...d,
        // language__localized: this.translate(d.language),
        // bibtype__localized: this.translate(d.bibtype),
        expanded: true
      }
    })
    this.loaded = true
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/mixins/index.styl'


.bib-list
  height 100%


.bib-list__item
  $baselined-typography(body-sm)

  .inline
    font-variant small-caps
    font-variant-caps all-small-caps
    background-color yellow
    color black
    margin-right .3em

  .csl-contributors,
  .csl-date
    display inline
    font-variant small-caps
    font-variant-caps all-small-caps

  .csl-date:before
    content ' ('

  .csl-date:after
    content ')'

  .csl-access
    display inline-block

  a
    //opacity 0.5
    $link()

    $light()
</style>
