<template lang="pug">
  span.bib-ref(v-if="item")
    span(v-if="formattedItem" v-html="formattedItem")
    span.error(v-else) not found {{citeKey}}
</template>

<script>
import { NAMESPACED_ACTION_TYPES } from './../lib/store/bibliography/actionsFactory'
export default {
  name: 'BibRef',
  props: {
    citeKey: {
      type: String,
      default: ''
    },
    format: {
      type: String,
      default: 'inline'
    }
  },
  data: () => {
    return {}
  },
  asyncComputed: {
    async item() {
      await this.$store.dispatch(NAMESPACED_ACTION_TYPES.FETCH)
      return this.$store.getters['bibliography/getById'](this.citeKey)
    }
  },
  computed: {
    formattedItem() {
      try {
        return this.format === 'full'
          ? this.item.formatted.chicago.full
          : this.item.formatted.chicago.inline
      } catch (e) {
        return 'ERROR'
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/mixins/index.styl'

.bib-ref
  display inline
  color gray

.bib-ref:before
  content "("

.bib-ref:after
  content ")"

.bib-ref__item
  display inline
  font-variant small-caps
  font-variant-caps all-small-caps
</style>
