<template lang="pug">
.vue-dc-explorer
  .tiles.tiles--theses
    VDCTileCount(data-tile="count" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")
    VDCTileReset(data-tile="reset" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")
    VDCTileSearch(data-tile="text" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")

    VDCTileBarChart(data-tile="year" :loaded="loaded" :crossfilterIndex="idx" :baselineHeight="baselineHeight")
    VDCTileRowChart(data-tile="language" :loaded="loaded" :crossfilterIndex="idx" fieldName="language" :baselineHeight="baselineHeight")
    VDCTileRowChart(data-tile="gender" :loaded="loaded" :crossfilterIndex="idx" fieldName="gender" :baselineHeight="baselineHeight")

    VDCTileRowChart(data-tile="affiliation" :loaded="loaded" :crossfilterIndex="idx" fieldName="affiliationRef" :label="d => $store.getters['data/affiliationLabelShort'](d.key)")
    VDCTileAffiliationLocation(data-tile="affiliation-location" :loaded="loaded" :crossfilterIndex="idx")

  .list-actions
    .list-action
      span.list-action__title {{translate("view")}}
      span.list-action__options
        span.list-action__option
          button.button--link(:class="{active: view === VIEWS.VIEW__LIST}" @click="setView(VIEWS.VIEW__LIST)") {{translate("view__list")}}
        span.list-action__option
          button.button--link(:class="{active: view === VIEWS.VIEW__COMPACT_TABLE}" @click="setView(VIEWS.VIEW__COMPACT_TABLE)") {{translate("view__compact_table")}}
        span.list-action__option
          button.button--link(:class="{active: view === VIEWS.VIEW__TABLE}" @click="setView(VIEWS.VIEW__TABLE)") {{translate("view__table")}}
    .list-action
      span.list-action__title {{translate("action__export")}}
      span.list-action__options
        span.list-action__option
          button.button--link(@click="downloadAsCSV('kfb-dissertations.csv')") {{translate("action__export__as_csv")}}
        span.list-action__option
          button.button--link(@click="downloadSelectionAsBibLaTeX('kfb-dissertations.bib')") {{translate("action__export__as_biblatex")}}


  .vdc__main
    keep-alive
      VDCItemsList(:loaded="loaded" v-if="view === VIEWS.VIEW__LIST" :groupedItems="groupedItems")
        template(v-slot:summary="{item}")
          .bib-item__formatted(v-html="item.rendered.bibliography")
        template(v-slot:detail="{item}")
          p xxx
          .detail
            .bib-item__actions
              .bib-item__action(v-if="item.url")
                a(:href="item.url" rel='noopener noreferrer' target="_blank") {{translate('go to unversity library record')}}


      VDCItemsTable(:loaded="loaded" v-if="(view === VIEWS.VIEW__TABLE || view === VIEWS.VIEW__COMPACT_TABLE)"
        :compact="view === VIEWS.VIEW__COMPACT_TABLE"
        :tableColumns="tableColumns"
        :groupedItems="groupedItems"
        :sortColumn="sortField"
        :grouped="grouped"
        :hasDetails="hasDetails"
        :expanded="expanded"
        @change-sorting="changeSorting"
        @toggle-expanded="toggleExpanded"
        :baselineHeight="baselineHeight")
        template(v-slot:detail="{item}")
          .detail.padded
            .bib-item__formatted(v-html="item.rendered.bibliography")
            .bib-item__actions
              .bib-item__action(v-if="item.url")
                a.button--link(:href="item.url" rel='noopener noreferrer' target="_blank") {{translate('go to unversity library record')}}
              .bib-item__action
                button(@click="downloadAsBibLaTeX($event, item)") {{translate('downloadAsBibLaTeX')}}

</template>

<script>
import { NAMESPACED_ACTION_TYPES } from './../lib/store/bibliography/actionsFactory'

import {
  VDCExplorerMixin,
  VDCItemsList,
  VDCItemsTable,
  VDCTileBarChart,
  VDCTileCount,
  VDCTileAffiliationLocation,
  VDCTileReset,
  VDCTileRowChart,
  VDCTileSearch
} from '@jerrobs/vue-dc-explorer'

export default {
  mixin: [VDCExplorerMixin],
  name: 'vue-dc-explorer',
  components: {
    VDCItemsList,
    VDCItemsTable,
    VDCTileBarChart,
    VDCTileCount,
    VDCTileAffiliationLocation,
    VDCTileReset,
    VDCTileRowChart,
    VDCTileSearch
  },
  asyncComputed: {
    async items() {
      await this.$store.dispatch(NAMESPACED_ACTION_TYPES.FETCH)

      return (
        this.$store.getters['bibliography/items']
          // .filter(this.filter)
          .map((d) => {
            const affiliation = d.scopedTags.find(
              (st) => st.scope === 'affiliation'
            ).tag

            const who = d.cslItem.author[0]
            return {
              id: d.cslItem.id,
              who: who.literal ? who.literal : who.family + ', ' + who.given,
              when: d.cslItem.issued['date-parts'][0][0],
              where: this.$store.getters['data/affiliationLabelShort'](
                affiliation
              ),
              what: d.cslItem.title,
              affiliationRef: affiliation,
              url: d.cslItem.URL,
              pubtype: this.translate(d.cslItem.type),
              language: this.translate(d.cslItem.language),
              gender: d.scopedTags.find(
                (t) => t.scope === 'gender' && t.tag == 'male'
              )
                ? this.translate('male')
                : this.translate('female'), //this.translate(d.gender),
              expanded: false,
              rendered: {
                who: (d.cslItem.author || [])
                  .map((w) =>
                    w.literal
                      ? `<span class="literal name">${w.literal}</span>`
                      : `<span class="name"><span class="given name">${
                          w.given ? `${w.given} ` : ''
                        }</span><span class="family name">${
                          w['non-dropping-particle']
                            ? `${w['non-dropping-particle']} `
                            : ''
                        }${w.family}</span></span>`
                  )
                  .join('; '),
                bibliography: d.rendered.bibliography['de-DE'],
                citation: d.rendered.citation['de-DE'],
                biblatex: d.biblatex
              }
            }
          })
      )
    }
  },
  computed: VDCExplorerMixin.computed,
  mounted: VDCExplorerMixin.mounted,
  data: VDCExplorerMixin.data,
  props: {
    ...VDCExplorerMixin.props,
    baselineHeight: {
      type: Number,
      default: 10
    },
    tableColumns: {
      type: Array,
      default: () => [
        {
          name: 'who',
          width: 20,
          labelKey: 'column__who',
          sortable: true,
          sortFunction: (a, b) => {
            return a.who.localeCompare(b.who)
          },
          grouped: false,
          valueAccessor: (d) => d.rendered.who
        },
        {
          name: 'when',
          width: '5.5',
          valueAccessor: ({ when }) => when,
          labelKey: 'column__when',
          sortFunction: (a, b) => {
            return a.when - b.when || a.who.localeCompare(b.who)
          },
          sortable: true,
          grouped: true
        },
        {
          name: 'what',
          width: 25,
          valueAccessor: ({ what }) => what,
          labelKey: 'column__what',
          sortFunction: (a, b) => {
            return `${a.what}`.localeCompare(b.what, undefined, {
              ignorePunctuation: true
            })
          },
          sortable: true,
          grouped: false
        },
        {
          name: 'where',
          width: 20,
          labelKey: 'column__where',
          sortFunction: (a, b) => {
            const A = (a.where || '')
              .replace('http://', '')
              .replace('https://', '')
            const B = (b.where || '')
              .replace('http://', '')
              .replace('https://', '')

            return A.localeCompare(B)
          },
          valueAccessor: ({ where }) => {
            try {
              // eslint-disable-next-line no-undef
              const parsedUrl = new URL(where)
              return `<a class="md" href="${where}" target="_blank" rel="noopener"><span>${parsedUrl.host}</span></a>`
            } catch (e) {
              return where
            }
          },
          sortable: true,
          grouped: true
        },
        {
          name: 'language',
          width: 10,
          sortFunction: (a, b) => {
            return a.language.localeCompare(b.language)
          },
          sortable: true,
          grouped: true
        }
      ]
    },
    hasDetails: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    ...VDCExplorerMixin.methods
  },
  watch: VDCExplorerMixin.watch
}
</script>

<style lang="stylus">
@import '~@jerrobs/vue-dc-explorer/src/styles/vue-dc-explorer.styl'

+mq--lte-sm()

  .tiles--theses

    [data-tile="count"]
      grid-area 1 / 1 / 1 / 1

    [data-tile="reset"]
      grid-area 1 / 2 / 1 / 2

    [data-tile="text"]
      grid-area 1 / 2 / 1 / 2

    [data-tile="year"]
      grid-area 2 / 1 / 4 / 1

    [data-tile="language"]
      grid-area 2 / 2 / 4 / 2

    [data-tile="affiliation"]
      grid-area 4 / 1 / 8 / 1

    [data-tile="affiliation-location"]
      grid-area 4 / 2 / 8 / 2

+mq--gte-md()

  .tiles--theses

    [data-tile="count"]
      grid-area 1 / 1 / 2 / 1

    [data-tile="reset"]
      grid-area 1 / 2 / 2 / 2

    [data-tile="text"]
      grid-area 1 / 3 / 2 / 3

    [data-tile="year"]
      grid-area 2 / 1 / 4 / 1

    [data-tile="language"]
      grid-area 4 / 1 / 5 / 1

    [data-tile="gender"]
      grid-area 5 / 1 / 6 / 1

    [data-tile="pubtype"]
      grid-area 2 / 3 / 5 / 3

    [data-tile="affiliation"]
      grid-area 2 / 2 / 6 / 2

    [data-tile="affiliation-location"]
      grid-area 2 / 3 / 6 / 3

.vue-dc-explorer

  .bib-item__author
    $baselined-typography(body-md)
    font-variant small-caps
    font-variant-caps all-small-caps
    $bold()

  .bib-item__title
    $baselined-typography(body-md)
    $bold()

  .bib-item__publisher
    $baselined-typography(body-md)

  .bib-item__formatted,
  .bib-item__abstract p
    $baselined-typography(body-sm)

    margin-bottom 0


  .list

    .bib-item__title
      $baselined-typography(body-md)
      max-width 50ch

    .bib-item__actions
      $baselined-typography(body-sm)
      margin-bottom $bl(1)

      .bib-item__action
        display inline-block
        margin-right $bl(1)

  table


    .bib-item__title
      $baselined-typography(body-lg)
      max-width 50ch

    .bib-item__actions
      $baselined-typography(body-sm)
      margin-bottom $bl(1)

      .bib-item__action
        display inline-block
        margin-right $bl(1)


    div.detail
      padding-top $bl(1)
      display flex
      width 100%
      flex-wrap wrap
      padding-bottom $bl(2)

    .bib-item__actions
      flex 1 0 50%
    .bib-item__abstracts
      flex 1 0 100%
      display flex
      +mq--gte-md()
        display flex
        flex-direction row

        > *
          flex 1
          padding-right 1em
</style>
