@import './mixins/'


p
  hyphens: auto
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
section.md-section_open
  margin-bottom $bl(2)
* + section.md-section_open
  margin-top $bl(1)

.content
  h2, h3, h4, p, li
    max-width $MAX_CONTEN_WIDTH

h1.md-heading_open
  color red !important

img
  max-width 100%

.md-paragraph_open, .md-heading_open
  $baselined-typography(body-md)

h2.md-heading_open
  $baselined-typography(body-md)
  $caps()
  $bold()

h3.md-heading_open
  $baselined-typography(body-md)
  $caps()
  $bold()

h4.md-heading_open
  $baselined-typography(body-md)
  $caps()

hr.md-hr
  margin 0
  padding 0
  height $bl(1)
  border 0
  display none

.content, .md-section_open
  > .md-bullet_list_open, > .md-ordered_list_open
    $baselined-typography(body-md)
    margin-left $bl(.75)
    position relative

.md-bullet_list_open li:before
  position absolute
  left calc(-0.75 * var(--baseline-height))
  display inline-block
  width $bl(1)
  content '–'
  text-align left
  font-family Arial

.md-ordered_list_open
  counter-reset ol-counter

  li
    counter-increment ol-counter

  li:before
    position absolute
    left calc(-0.75 * var(--baseline-height))
    display inline-block
    width $bl(1)
    content counter(ol-counter)
    text-align left
    font-variant small-caps
    $bold()
    content counter(ol-counter, decimal)
    opacity 0.8

.small
  $baselined-typography(body-sm)

.large
  $baselined-typography(body-md)
  $bold()
