@font-face
  font-weight 300
  font-style normal
  font-family 'DIN'
  src url('~@bpde/strategie-2030/src/.vuepress/public/fonts/din-thin.woff2') format('woff2')
  font-display swap

@font-face
  font-weight 300
  font-style italic
  font-family 'DIN'
  src url('~@bpde/strategie-2030/src/.vuepress/public/fonts/din-thinitalic.woff2') format('woff2')
  font-display swap

@font-face
  font-weight 400
  font-style normal
  font-family 'DIN'
  src url('~@bpde/strategie-2030/src/.vuepress/public/fonts/din-regular.woff2') format('woff2')
  font-display swap

@font-face
  font-weight 400
  font-style italic
  font-family 'DIN'
  src url('~@bpde/strategie-2030/src/.vuepress/public/fonts/din-italic.woff2') format('woff2')
  font-display swap

@font-face
  font-weight 600
  font-style normal
  font-family 'DIN'
  src url('~@bpde/strategie-2030/src/.vuepress/public/fonts/din-demi.woff2') format('woff2')
  font-display swap

@font-face
  font-weight 600
  font-style italic
  font-family 'DIN'
  src url('~@bpde/strategie-2030/src/.vuepress/public/fonts/din-demiitalic.woff2') format('woff2')
  font-display swap
