@import "./fonts-din.styl"

.sidebar-nav-item[data-depth='3']
  margin-top $ui__bl(1)



p
  hyphens: auto
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
