@import "~@theme/styles/mixins"

.form__step
  margin-bottom 0
  position relative
  display grid
  grid-template-areas 'form__step-header' 'form__step-explanation' 'form__step-main'
  grid-row-gap 0
  padding-bottom $bl(2)
  max-width $MAX_FORM_CONTAINER__NARROW__WIDTH

+mq--gte-xl()
  .form__step
    display grid
    grid-template-areas 'form__step-header form__step-header' 'form__step-explanation form__step-main'
    grid-template-columns  1fr 1fr
    grid-column-gap $bl(2)
    grid-row-gap 0
    max-width $MAX_CONTEN_WIDTH--XL

.form__step-header
  grid-area form__step-header

  $baselined-typography(body-lg)
  $caps()
  $bold()

  .form__step-number, .form__step-title
    display inline
    margin-right .3em


.form__step-explanation
  grid-area form__step-explanation
  width 100%
  $light()
  margin-top $bl(1)

  +mq--lte-lg()
    margin-top 0
    .form__step-explanation-title
      text-align right

  p
    $baselined-typography(body-sm)

  ol
    list-style decimal
    $baselined-typography(body-sm)
    margin-left $bl(.75)
    position relative

    li
      margin-left 0


.form__step-main
  grid-area form__step-main
  padding-top $bl(1)

