@import "./../mixins"

.form-item
  .form__toggle-list__item
    $border-bottom(1px, var(--interaction__color--spot))
  .form__toggle-list__list
    $border-top(1px, var(--interaction__color--spot))

.form-item.form-item--has-error
  .form__toggle-list__item
    $border-bottom(1px, var(--interaction__color--error))
  .form__toggle-list__list
    $border-top(1px, var(--interaction__color--error))

.form-item.form-item--is-good
  .form__toggle-list__item
    $border-bottom(1px, var(--interaction__color--success))
  .form__toggle-list__list
    $border-top(1px, var(--interaction__color--success))

.form__toggle-list
  padding-top $bl(1)




.form__toggle-list-label
  $baselined-typography(body-md)
  display block
  position relative

.form__toggle-list__item,
.form__toggle-list__group
  &:before
    display none !important


.form__toggle-list__groups
  margin-right $bl(-1)
  display flex
  flex-direction column

  +mq--gte-md()
    flex-direction row

.form__toggle-list__group
  flex 1
  padding-right $bl(1)


.form__toggle-list__list
  display block
  $border-top(5px, gray)


.form__toggle-list__item, .form__toggle-list__group-title
  background-color var(--interaction__color--neutral)
  display flex

  &:hover
    background-color var(--interaction__color--neutral)

.form__toggle-list__group-title
  background-color white



.form__toggle-list__blocks
  padding 0 var(--padding__x)
  display flex
  cursor pointer
  width 100%



.form__toggle-list__block
  flex 1
  min-height $bl(1)
  line-height $bl(1)
  //font-size $SCREEN__TEXT__FONT_SIZE__XSMALL


.form__toggle-list__block--input
  flex 0 1 $bl(1)
  text-align left
  input
    display inline-block

.form__toggle-list__block--label
  cursor pointer
  flex 1 1 80%

  label, p
    cursor pointer
    display block

