@import "./../mixins"

.form-item--text-field
  position relative

.form-item--text-field:not(.form-item--has-error)
  .form-item__error
    opacity 0.5


.form__text-field-label
  position: relative
  display block
  $baselined-typography(body-xs)
  z-index 20000

.form__text-field-label
  transform translate(0, $bl(1))
  font-size $SCREEN__TEXT__FONT_SIZE__REGULAR
  transition 100ms
  pointer-events none
  opacity 1

.form-item--is-empty
  .form__text-field-label
    font-size $SCREEN__TEXT__FONT_SIZE__XSMALL
    transform translate(0, 0)
    opacity .5

.form-item--is-focused
  .form__text-field-label
    opacity 1


.form__text-field
  position relative
  background-color gray



.form__input-wrapper
  $border-bottom(4px, $INTERACTION__COLOR--SPOT, -.4)

.form-item--is-focused
  .form__input-wrapper
    $border-bottom(4px, $INTERACTION__COLOR--SPOT, -.4)

.form-item--has-error
  .form__input-wrapper
    $border-bottom(4px, $INTERACTION__COLOR--ERROR, -.4)

.form-item--is-good
  .form__input-wrapper
    $border-bottom(4px, $INTERACTION__COLOR--NEUTRAL--DARK, -.4)

.form__input-wrapper
  height $bl(1)
  position relative

.form__text-field-input
  border none
  $baselined-typography(body-md)
  padding-bottom 0
  width 100%
  outline none
  background-color transparent




