@import "./../mixins"

//.form-item.form-item--actions
//  padding-top $bl(1)

.button--link
  $link()


.form__button-wrapper
  padding-left 0
  padding-right 0
  height $bl(2)


.form__button, .form__button--outline
  width 100%
  height $bl(1.5)
  border none
  border-image none
  //text-transform uppercase
  border-radius $bl(.1)
  font-size var(--font-size--md)
  line-height $bl(1.5)
  outline-color var(--interaction__color--spot)
  padding-left var(--padding__x)
  padding-right var(--padding__x)
  transition opacity 300ms
  opacity 1
  cursor pointer
  position relative

  &::before
    content " "
    display block
    position absolute
    border 4px solid transparent
    top 0
    left 0
    height 100%
    width 100%


  //$baselined-typography(body-md)

button:disabled
  cursor not-allowed
  
.form-container .form__button--outline
  background-color transparent
  border-color var(--interaction__color--waiting)

[data-state='WAITING']
  .form__button
    background-color var(--interaction__color--waiting)
  &::before
    //background-color transparent
    outline-color var(--interaction__color--waiting)

[data-state='READY']
  .form__button
    background-color var(--interaction__color--spot)
    outline-color var(--interaction__color--spot)
  &:before
    border-color var(--interaction__color--spot)


[data-state='PROCESSING']
  .form__button
    background-color var(--interaction__color--processing)
    outline-color var(--interaction__color--processing)
    color white


[data-state='ERROR']
  .form__button
    background-color var(--interaction__color--error)
    outline-color var(--interaction__color--error)
    color white
  &:before
    border-color var(--interaction__color--error)


[data-state='SUCCESS']
  .form__button
    background-color var(--interaction__color--success)
    outline-color var(--interaction__color--success)
    color white

  &:before
    border-color var(--interaction__color--success)



.form-item--actions
  padding-top $bl(1)
  padding-bottom $bl(1)
  padding-left $bl(1)
  padding-right $bl(1)

  .form__actions--primary
    //background-color green
    //flex 1 1

  .form__actions--secondary
    //background-color blue
    //flex 1 1
    text-align left
    padding-top 0


    p.form-item__action-alternative
      $baselined-typography(body-sm)

  .form__action-response
    padding-bottom $bl(1)


    text-align left
    p
      $baselined-typography(body-md)
