.form__header
  display none

.form
  width 100%
  +mq--gte-md()
    width 100%
    max-width $MAX_CONTEN_WIDTH--XL

//.form__header, .form__main, .form__footer
//  position relative
//  padding-left var(--page__padding__x)
//  padding-right var(--page__padding__x)
//  padding-bottom $bl(1)
//
//
//.form__header
//  margin-top $bl(.5)
//  padding-top $bl(.5)
//  background-color rgba($COLOR__KFB__BLUE, 1)
//  color white
//
//  h2.form__title
//    $baselined-typography(body-lg-1-0-0)
//    $bold()
//    $caps()
//
//
//  .form__description
//    $baselined-typography(body-md)
//
.form__main
  padding-top $bl(1)
  margin-top 0
  padding-bottom $bl(1)
  //+mq--gte-md()
  //  padding-bottom $bl(2)
  background-color rgba(white, 0.99)

.form__footer
  padding-top $bl(1)
  margin-top 0
  //padding-bottom $bl(2)
  background-color rgba(white, 0.4)
  .form-container__alternatives
    $baselined-typography(body-sm)

