.form__log
  h2:before
    content " "
    display inline-block
    width $bl(1)
    height $bl(.5)
    margin-right 1em
  .error
    color var(--interaction__color--error)

.form__log--success
  h2:before
    background-color var(--interaction__color--success)

.form__log--error
  h2:before
    background-color var(--interaction__color--error)
