
.error
  color var(--interaction__color--error)

.form__group.form-group--error
  .form__input
    border-color var(--interaction__color--error)

.form__group.form-group--valid
  .form__input
    border-color var(--interaction__color--success)

.form__status-container
  padding-right $bl(0.5)
  padding-left $bl(0.5)
  min-height $bl(1)

.form-status
  color var(--interaction__color--error)
  font-size var(--font-size--md)

.form-item__error, .form__error
  color var(--interaction__color--error)
//  display block
//  width 100%

