@import "./../mixins"

.form-item__hint,
.form-item__error
  opacity 1
  transition opacity
  transition 100ms
  text-align right

  div
    $baselined-typography(body-xs)


.form-item__header
  min-height $bl(1)

.form-item__main
  display block

.form-item__footer
  min-height $bl(1)



.form-item--is-focused
  .form-item__hint
    opacity 1
    transition opacity
    transition 100ms



.form-container[data-state='ERROR']
  .form-item--feedback
    color $INTERACTION__COLOR--ERROR


.form-item__expand
  p
    $baselined-typography(body-sm)
