@import "../mixins"
@import './form'
@import './form__container'
@import './form__step'
@import './form__item'
@import './form__item__button'
@import './form__item__text-field'
@import './form__item__toggle-list'
@import './form__error'
@import './form__log'


input:-internal-autofill-selected
  background-color white !important

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
  box-shadow: 0 0 0 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
