<template lang="pug">
  nav.sidebar-nav-items.authentication
    nav.sidebar-nav-item(data-depth='1')
      nav.sidebar-nav-items(v-if="isAuthenticated")
        .sidebar-nav-item(data-depth='1')
          router-link.sidebar-nav__item-link(to="/de/auth/")
            span.sidebar-nav__item-title Mitgliederbereich
        .sidebar-nav-item(data-depth='1')
          router-link.sidebar-nav__item-link(to="/de/auth/profile/")
            span.sidebar-nav__item-title Ihre Daten
        .sidebar-nav-item(data-depth='1')
          router-link.sidebar-nav__item-link(to="/de/auth/members/")
            span.sidebar-nav__item-title Mitgliederliste
        .sidebar-nav-item(data-depth='1')
          router-link.sidebar-nav__item-link(to="/de/auth/logout/")
            span.sidebar-nav__item-title Abmelden
      nav.sidebar-nav-items(v-if="!isAuthenticated")
        .sidebar-nav-item(data-depth='1')
          router-link.sidebar-nav__item-link(to="/de/auth/login")
            span.sidebar-nav__item-title Anmelden
          <!--        .sidebar-nav-item(data-depth='1')-->
          <!--          router-link.sidebar-nav__item-link(to="/de/forum/mitgliedschaft/")-->
          <!--            span.sidebar-nav__item-title Registrieren-->

</template>

<script>
export default {
  name: 'Authentication',
  computed: {
    isAuthenticated() {
      return this.$store.getters['auth/isAuthenticated']
    },
    fullName() {
      return this.isAuthenticated ? this.$store.getters['auth/fullName'] : ''
    }
  }
}
</script>

<style lang="stylus">
@import "~@theme/styles/mixins"

.sidebar-nav-items.authentication
  margin-bottom $ui__bl(1)
</style>
