<template lang="pug">
  .spreads
    .spread
      .page--left &nbsp;
      .page--right
        img(:src="getThumbnailImage(1)" alt="Vorschaubild von Seite 1")
    .spread(v-for="n of Array.from(Array(54/2).keys())")
      .page--left
        img(:src='getThumbnailImage(2*n+2)' :alt="`Vorschaubild von Seite ${(2*n +2)}`")
      .page--right
        img(:src='getThumbnailImage(2*n+3)' :alt="`Vorschaubild von Seite ${(2*n +3)}`")
    .spread
      .page--left
        img(:src="getThumbnailImage(56)" alt="Vorschaubild von Seite 56")
      .page--right &nbsp;

</template>

<script>
export default {
  name: 'Brochure',
  methods: {
    getThumbnailImage(i) {
      // eslint-disable-next-line no-undef
      return require(`@bpde/website/src/media/brochure/page-${(i + '').padStart(
        2,
        '0'
      )}.jpg`)
    }
  }
}
</script>

<style lang="stylus">
.spreads
  display grid
  grid-gap 1rem
  grid-template-columns repeat(auto-fill, minmax(250px, 1fr))

.spread
  display flex

.page--left,
.page--right
  display inline-block
  flex 1 1 150px
</style>
