<template lang="pug">
span.badge.electoral-group(:class="['badge--' + name]"  :data-electoral-group="name") {{localizedGroupLabel}}
</template>

<script>
export default {
  props: {
    useShortLabel: {
      default: false,
      type: Boolean
    },
    name: {
      default: 'universities',
      type: String,
      mandatory: true
    }
  },
  computed: {
    localizedGroupLabel() {
      return this.useShortLabel
        ? this.$themeLocaleConfig.electoralGroups__short[this.name]
        : this.$themeLocaleConfig.electoralGroups[this.name]
    }
  }
}
</script>
