<template lang="pug">
  .list-groups
    .list-group(v-for="{groupName, items}  in groups" :key="groupName")
      header.list-group__header
        h2.list-group__title
          span {{groupName}}
      .list-group__body
        .list.list--meetings
          .list__item(v-for="(item, i) in items" :key="i" :class="{hoverable: item.headers}")
            .list__item-block.list__item-block--w-1
              .list__item-content
                p.date.nw
                  time(:datetime="item.date")
                    span.date {{item.frontmatter.date | formatDay() }}.&nbsp;
                    span.date {{item.frontmatter.date | formatMonth() }}&nbsp;
                    span.date {{item.frontmatter.date | formatYear() }}
                p.location.small {{item.frontmatter.location}}
              .list__item-content
            .list__item-block.list__item-block--w-5
              .list__item-content
                h4.list-item__title(v-html='(item.frontmatter.title__html)')
                p.lead(v-if="item.frontmatter.lead__html" v-html='(item.frontmatter.lead__html)')
                Content(:page-key="item.key")
</template>

<script>
import filters from '@parent-theme/mixins/filters.js'

export default {
  name: 'Events',
  components: {},
  mixins: [filters],
  props: {
    path: { default: '', type: String },
    items: { default: () => [], type: Array },
    view: { default: 'card', type: String }
  },
  computed: {
    itemsWithDate() {
      return this.items.map((item) => {
        const date =
          typeof item.frontmatter.date === 'string'
            ? new Date(item.frontmatter.date)
            : item.frontmatter.date
        return {
          ...item,
          date: date,
          year: date.getFullYear(),
          expanded: new Date().getFullYear() === date.getFullYear()
        }
      })
    },

    groups() {
      const groups = Array.from(
        this.dogroup(this.itemsWithDate, (d) => d.year),
        ([key, value]) => ({
          groupName: key,
          expanded: key === new Date().getFullYear(),
          items: value.sort((a, b) => {
            return b.date - a.date
          })
        })
      )
      groups.sort((a, b) => {
        return b.groupName - a.groupName
      })
      return groups
    }
  }
}
</script>
