<template lang="pug">

.form-item.form-item--toggle-list(:class="itemClasses")
  .form__toggle-list-label {{path([fieldName, "label" ], i18nMessages)}}
  .form__toggle-list(v-if="groups")
    ul.form__toggle-list__groups(@click="v.$touch()")
      li.form__toggle-list__group(v-for="group in groups")
        .form__toggle-list__group-title
          .form__toggle-list__blocks
            .form__toggle-list__block.form__toggle-list__block--input &nbsp;
            .form__toggle-list__block.form__toggle-list__block--label
              p {{group.label}}
        ul.form__toggle-list__list
          li.form__toggle-list__item(v-for="option in group.options")
            .form__toggle-list__blocks
              .form__toggle-list__block.form__toggle-list__block--input
                input(:type="type"
                  @focus="focus"
                  @input="v.$touch()"
                  v-model="v.$model"
                  :id="fieldName + '--' + option.value"
                  :value="option.value")
              .form__toggle-list__block.form__toggle-list__block--label
                label(:for="fieldName + '--' + option.value") {{option.label}}

  .form__toggle-list(v-if="options")
    ul.form__toggle-list__list(@click="v.$touch()")
      li.form__toggle-list__item(v-for="option in options")
        .form__toggle-list__blocks
          .form__toggle-list__block.form__toggle-list__block--input
             input(:type="type"
                  @focus="focus"
                  @input="v.$touch()"
                  v-model="v.$model"
                  :id="fieldName + '--' + option.value"
                  :value="option.value")
          .form__toggle-list__block.form__toggle-list__block--label
            label(:for="fieldName + '--' + option.value") {{option.label}}
  .form-item__footer
    .form__error(v-if="v.$anyError")
      span {{path([fieldName, "error" ], i18nMessages)}}
    .form-item__hint(v-else)
      span {{path([fieldName, "hint" ], i18nMessages)}} &nbsp;

</template>

<script>
import { path } from 'ramda'
export default {
  name: 'FormItemToggleList',
  props: {
    i18nMessages: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'checkbox'
    },
    options: {
      type: Array,
      default: () => []
    },
    groups: {
      type: Array,
      default: () => []
    },
    v: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isFocused: false
    }
  },
  computed: {
    itemClasses() {
      return [
        {
          'form-item--is-focused': this.isFocused,
          'form-item--is-empty': !!this.v.$model || this.isFocused,
          'form-item--has-error': this.v.$error,
          'form-item--is-good': !this.v.$error && this.v.$dirty
        }
      ]
    }
  },
  methods: {
    path,
    input() {
      this.isFocused = true
      this.v.$touch()
    },
    focus() {
      this.isFocused = true
      this.$emit('focus', this.fieldName)
    }
  }
}
</script>

<style scoped lang="stylus">

ul
  margin-left 0 !important
</style>
