<template lang="pug">
  .form-item.form-item--text-field(:class="itemClasses" :id="'form-item--' + fieldName")
    .form-item__header
      label.form__text-field-label
        .form__label(:for="fieldName") {{path([fieldName, "label" ], i18nMessages)}}
    .form-item__main
      .form__input-wrapper
        input.form__text-field-input(
          ref="input"
          :id="fieldName"
          :type="type"
          :disabled="disabled"
          :autocomplete="autocomplete"
          v-model="v.$model"
          @input="onChange"
          @focus="onFocus"
          @blur="onBlur")
    .form-item__footer
      .form-item__error(v-if="!this.isInitial && this.v.$error")
        .error-message {{path([fieldName, "error" ], i18nMessages)}}
      .form-item__hint(v-else)
        div {{path([fieldName, "hint" ], i18nMessages)}} &nbsp;
</template>

<script>
import { path } from 'ramda'

export default {
  name: 'FormItemTextField',
  props: {
    i18nMessages: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'text'
    },
    focusOnCreate: {
      type: Boolean,
      default: false
    },
    autocomplete: {
      type: String,
      default: null
    },
    v: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isFocused: false,
      isInitial: true
    }
  },
  computed: {
    itemClasses() {
      return [
        {
          'form-item--is-focused': this.isFocused,
          'form-item--is-empty': !!this.v.$model || this.isFocused,
          'form-item--has-error': !this.isInitial && this.v.$error,
          'form-item--is-good': !this.v.$error && this.v.$dirty
        }
      ]
    }
  },
  mounted() {
    if (this.focusOnCreate) {
      this.$refs.input.focus()
    }
  },
  methods: {
    path,
    onBlur($e) {
      this.isFocused = false
      this.isInitial = false
      this.v.$touch()
      this.$emit('blur', $e.target.value)
    },
    onChange($e) {
      this.v.$touch()
      this.$emit('change', $e.target.value)
    },
    onFocus() {
      this.isFocused = true
      this.$emit('focus', this.fieldName)
    }
  }
}
</script>
