<template lang="pug">
.form__step-explanation
 .form__step-explanation-body(v-if="isVisible")
    slot
    p {{path(['step_' + stepNumber + '_explanation_body'], i18nMessages)}}
</template>

<script>
import { path } from 'ramda'

export default {
  name: 'FormStepExplanation',
  props: {
    i18nMessages: {
      required: true,
      type: Object
    },
    stepNumber: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      isVisible: true // this.$breakpoints.isLargeDesktop()
    }
  },
  computed: {},
  methods: {
    path
  }
}
</script>
