<template lang="pug">
  .list-groups
    .list-group(v-for="[groupName, items]  in groups" :key="groupName")
      header.list-group__header
        .list-group__title {{groupName}}. Komitee für Beschleunigerphysik
      .list-group__body
        .list.list--meetings
          .list__item(v-for="(item, i) in items" :key="i" :class="{hoverable: item.headers}" @click="ifGoto(item.headers, item.path)")
            .list__item-block.list__item-block--w-5
              .list__item-content
                h4.list-item__title(v-html='(item.frontmatter.title__html)')
                p.event__lead(v-if="item.frontmatter.lead" v-html='(item.frontmatter.lead__md)')
            .list__item-block.list__item-block--w-5
              .list__item-content
                p.date.small
                  time(:datetime="item.date")
                    span.date {{item.frontmatter.date | formatDate() }}
                p.location.small {{item.frontmatter.location}}
                p(v-if="item.headers")
                  app-link.small(:to="item.path") Tagesordnung / Protokoll
</template>

<script>
import filters from '@parent-theme/mixins/filters'

function dogroup(values, keyof) {
  const map = new Map()
  let index = -1
  for (const value of values) {
    const key = keyof(value, ++index, values)
    const group = map.get(key)
    if (group) {
      group.push(value)
    } else {
      map.set(key, [value])
    }
  }
  return map
}

export default {
  name: 'KfbMeetings',
  components: {},
  mixins: [filters],
  props: {},
  data() {
    return {
      items: [],
      groups: []
    }
  },
  mounted() {
    this.items = this.$site.pages
      .filter((p) => {
        return p.frontmatter.type === 'forum-meeting'
      })
      .sort((a, b) => -a.path.localeCompare(b.path))

    this.groups = Array.from(dogroup(this.items, (d) => d.frontmatter.kfb))
  },
  methods: {
    ifGoto(condition, target) {
      if (condition) this.$router.push(target)
    }
  }
}
</script>
