<template lang="pug">

  .kfb-election-result(v-if="election")
    .list-groups.list-groups--tight
      .list-group
        .list-group__header
          .list-group__title Wahl
        .list-group__body
          .list
            .list__item
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p.label Wahl
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p(v-if="election.description__html" v-html='election.description__html')
            .list__item
              .list__item-block.list__item-block--w-5
                .list__item-content
                  .label Stimmabgabe
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p {{election.voting_time_slot}}
            .list__item
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p.label Online-Wahlsystem
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p POLYAS
            .list__item
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p.label Wahlleitung
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p {{election.chair}}
            .list__item(v-if="election.supervisor")
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p.label Wahlbeobachtung
              .list__item-block.list__item-block--w-5
                .list__item-content
                  p {{election.supervisor}}
      .list-group(v-if="election.entitled_to_vote")
        header.list-group__header
          h2.list-group__title Wahlbeteiligung
        .list-group__body
          .list
            .list__item
              .list__item-block.list__item-block--w-5
                .list__item-content
                  Donut(:sections="chartData"
                    background="white"
                    foreground="grey"
                    :size="4*28" unit="pt" :thickness="1.5*28"  legendPlacement="right"
                    :total="election.entitled_to_vote") {{turnout}}&nbsp;%
              .list__item-block.list__item-block--w-5
                .list.no-border-top
                  .list__item
                    .list__item-block.list__item-block--w-5
                      .list__item-content
                        p Wahlberechtigte
                    .list__item-block.list__item-block--w-1
                      .list__item-content
                        p {{election.entitled_to_vote}}
                  .list__item
                    .list__item-block.list__item-block--w-5
                      .list__item-content
                        p
                          span.legend-box.election_votes__valid
                          | gültige Stimmen
                    .list__item-block.list__item-block--w-1
                      .list__item-content
                        p {{election.election_votes__valid}}

                  .list__item
                    .list__item-block.list__item-block--w-5
                      .list__item-content
                        p
                          span.legend-box.election_votes__abstent
                          | Enthaltungen
                    .list__item-block.list__item-block--w-1
                      .list__item-content
                        p {{election.election_votes__abstention}}

                  .list__item
                    .list__item-block.list__item-block--w-5
                      .list__item-content
                        p
                          span.legend-box.election_votes__invalid
                          | ungültige Stimmen
                    .list__item-block.list__item-block--w-1
                      .list__item-content
                        p {{election.election_votes__invalid_vote}}

                  .list__item
                    .list__item-block.list__item-block--w-5
                      .list__item-content
                        p Wahlbeteiligung
                    .list__item-block.list__item-block--w-1
                      .list__item-content
                        p {{turnout}}&nbsp;%
    .kfb-election-result__candidates-by-electoral-group
      .list-groups
        .list-group(v-for="(candidates, electoralGroup) in election.candidates"  :key="electoralGroup" :class="{['list-group--' + electoralGroup]: true}")
          header.list-group__header
            h2.list-group__title  {{translate(electoralGroup)}}
            p.list-group__description {{translate(electoralGroup + "__description")}}
          .list-group__body
            .list
              .list__item(v-for="(candidate, i) in candidates" :key="i" :data-candidate-status="candidate.status")
                .list__item-block.list__item-block--w-5
                  .list__item-content(v-if="candidate.status==='elected'")
                    p.name
                      app-link(tag="p" :to="'/de/kfb/mitglieder/' + (candidate['name'] || candidate['last-name'].toLowerCase()) + '/'")
                        span.name {{candidate['first-name']}} {{candidate['last-name']}}
                        |, {{candidate['affiliation']}}
                  .list__item-content(v-else)
                    p.name {{candidate['first-name']}} {{candidate['last-name']}}, {{candidate['affiliation']}}
                .list__item-block.list__item-block--w-5(:style="{position: 'relative'}")
                  .list__item-content
                    p.votes
                      | {{candidate['votes']}}
                      .votes-bar(:style="{width: candidate.votes_rel + '%'}")


  div(v-else)
    p.error No election data found (refPermalink = '{{refPermalink}}')

</template>

<script>
const T_helmholtz = 'helmholtz'
const T_abroad = 'abroad'
const T_others = 'others'
const T_universities = 'universities'

const translations = {
  '/de/': {
    [T_helmholtz]: 'Helmholtz-Zentren',
    [T_abroad]: 'Ausländische Institute',
    [T_others]: 'Sonstige deutsche Institute',
    [T_universities]: 'Universitäten',
    helmholtz__description: '5 Vertretende',
    universities__description: '5 Vertretende',
    abroad__description: '1 Vertreter/in',
    others__description: '1 Vertreter/in'
  },
  '/en/': {
    [T_helmholtz]: T_helmholtz,
    [T_abroad]: T_abroad,
    [T_others]: T_others,
    [T_universities]: T_universities
  }
}

import filters from '@parent-theme/mixins/filters'
import Donut from 'vue-css-donut-chart/src/components/Donut.vue'
import 'vue-css-donut-chart/dist/vcdonut.css'

export default {
  components: { Donut },
  mixins: [filters],
  props: {
    refPermalink: {
      default: '',
      type: String
    }
  },
  data() {
    return {}
  },
  computed: {
    electionDataPage() {
      return this.refPermalink
        ? this.$site.pages.find(
            (p) => p.frontmatter.permalink === this.refPermalink
          )
        : this.$page
    },
    election() {
      if (!this.electionDataPage || !this.electionDataPage.frontmatter) {
        return null
      }

      const election = this.electionDataPage.frontmatter.election

      const get_max_votes = (candidates) =>
        Math.max.apply(
          null,
          candidates.map((c) => {
            return c.votes
          })
        )

      const votes_rel = (candidate, candidates) =>
        (candidate.votes / get_max_votes(candidates)) * 80

      const candidates = Object.keys(election.candidates).reduce((acc, key) => {
        return [...acc, ...election.candidates[key]]
      }, [])

      Object.keys(election.candidates).forEach((key) => {
        election.candidates[key].forEach((candidate) => {
          candidate.votes_rel = votes_rel(candidate, candidates)
        })
        election.candidates[key].sort((a, b) => {
          return b.votes - a.votes
        })
      })

      return election
    },
    turnout() {
      return (
        (this.election.election_votes__valid / this.election.entitled_to_vote) *
        100
      ).toFixed(1)
    },
    chartData() {
      return [
        {
          color: '#008000',
          label: 'gültige Stimme',
          value: this.election.election_votes__valid
        },
        {
          color: 'darkorange',
          label: 'Enthaltungen',
          value: this.election.election_votes__abstention
        },
        {
          color: 'red',
          label: 'ungültige Stimmen',
          value: this.election.election_votes__abstention
        }
      ]
    }
  },
  mounted: function () {},
  methods: {
    translate(key) {
      return translations[this.$localePath][key]
    }
  }
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins'

.kfb-election-result__summary
  margin-bottom $bl(2)

.kfb-election-result__turnout
  max-width $MAX_CONTEN_WIDTH
  transition 300ms

  +mq--gte-xl()
    max-width $MAX_CONTEN_WIDTH--XL
    transition 300ms
  display grid
  grid-template-areas 'chart' 'data'
  grid-template-columns: 1fr

  +mq--gte-md()
    grid-template-areas 'chart data'
    grid-template-columns: 1fr 1fr

.kfb-election-result__turnout-chart
  grid-area chart

.kfb-election-result__turnout-data
  grid-area data

[data-candidate-status='not-elected']
  opacity: .5

.kfb-election-result__turnout-chart
  height $bl(5)

.cdc-legend
  $baselined-typography(body-sm)

.cdc-container
  margin-top $bl(1)

.legend-box
  content " "
  display inline-block
  width $bl(.5)
  height $bl(.5)
  border-radius 2px
  margin-right .5em


.election_votes__valid
  background-color #008000

.election_votes__invalid
  background-color red

.election_votes__abstent
  background-color darkorange

.votes-bar
  background-color: orange
  position: absolute;
  left: $bl(2)
  top $bl(.5)
  content: " "
  height: $bl(.5)

.list-group--helmholtz .votes-bar
  background-color: $COLOR__helmholtz

.list-group--universities .votes-bar
  background-color: $COLOR__universities

.list-group--others  .votes-bar
  background-color: $COLOR__others

.list-group--abroad  .votes-bar
  background-color: $COLOR__abroad

.no-border-top .list__item:first-child:before
  display none

.kfb-election-result__candidates-by-electoral-group
  break-before page

.list-group__header
  height $bl(2.5)

.list .label
  text-transform: uppercase
  $baselined-typography(body-sm)
  $bold()

span.name
  $bold()
</style>
