<template lang="pug">
  .profile-wrapper
    KfbMembers(v-if="view === 'full'" type="kfb-member" view="carousel")
    .profile(v-bind="component" :data-view="view" :data-kfb-role="role")
      header.profile__header
        .profile__avatar(v-if="portrait")
          div.avatar(:style="'background-image: url(' + portraitUrl + ')'")
        .profile__avatar(v-else)
          div.avatar &nbsp;
        .profile__info
          p.role {{$localeConfig[role]}}
          p.name
            span.academic-title {{(academicTitle || '') + ' '}}
            span.given-name {{givenName + ' '}}
            span.family-name {{familyName}}
          p.affiliation.small
            span.affiliation-title {{affiliationTitle}} &nbsp;
            ElectoralGroupBadge(:name="electoralGroup" :useShortLabel="view === 'carousel'")
      .profile__details(v-if="view === 'full'")
        section.profile__detail.profile__detail--motivation(v-if="motivation__html")
          h2 Motivation und Zielvorstellungen
          .content(v-html="motivation__html")
        aside
          section.profile__detail.profile__detail--professional-positions(v-if="professionalPositions__html")
            h3 Berufliche Position
            .content.small(v-html="professionalPositions__html")
          section.profile__detail.profile__detail--professional-activities(v-if="professionalActivities__html")
            h3 Tätigkeiten
            .content.small(v-html="professionalActivities__html")
          section.profile__detail.profile__detail--research-interests(v-if="reseachInterests__html")
            h3 Forschungsinteressen
            .content.small(v-html="reseachInterests__html")
          section.profile__detail.profile__detail--work-history
            h3 Berufliche Stationen
            .content.small(v-html="workHistory__html")
</template>

<script>
// import filters from '@theme/mixins/filters'

export default {
  // mixins: [filters],
  props: {
    view: {
      type: String,
      default: 'preview'
    },
    linked: {
      type: Boolean,
      default: false
    },
    affiliationTitle: {
      type: String,
      required: true
    },
    electoralGroup: {
      type: String,
      required: true
    },
    portrait: {
      type: String,
      required: true
    },
    role: {
      type: String,
      required: true
    },
    academicTitle: {
      type: String
    },
    givenName: {
      type: String,
      required: true
    },
    familyName: {
      type: String,
      required: true
    },
    motivation__html: {
      type: String,
      require: true
    },
    reseachInterests__html: {
      type: String,
      require: true
    },
    professionalActivities__html: {
      type: String,
      require: true
    },
    professionalPositions__html: {
      type: String
    },
    workHistory__html: {
      type: String,
      require: true
    }
  },
  computed: {
    portraitUrl() {
      // eslint-disable-next-line no-undef
      return require('@bpde/website/src' + this.portrait)
    },
    electoralGroupTitle() {
      return this.$themeLocaleConfig.electoralGroups[this.electoralGroup]
    },
    component() {
      return false && this.linked
        ? {
            is: 'router-link',
            to: this.permalink
          }
        : {
            is: 'div'
          }
    }
  },

  methods: {
    getPortraitUrl(item) {
      return item.frontmatter.portraitUrl
    },
  }
}
</script>

<style lang="stylus">

@import '~@theme/styles/config.styl'
@import '~@theme/styles/mixins/index.styl'

.profile__header
  position relative


[data-view="grid"], [data-view="full"]
  .profile__header
    display flex
    flex-direction row
    $border-bottom(2px)

  [data-kfb-role="kfb-chairperson"], [data-kfb-role="kfb-co-chairperson"]
    .profile__header
        background-color rgba(black, .05)

  .profile__info
    padding-right var(--padding__x)
    padding-bottom $bl(1)
    display flex
    flex-direction column
    justify-content flex-end

    p.role, p.affiliation
      $baselined-typography(body-sm)

    p
      $baselined-typography(body-md)

    p.name
      $baselined-typography(body-md)

    .academic-title
      $light()

    .family-name
      $bold()
      $caps()

    .given-name
      $light()
      $caps()

  .profile__avatar
    padding $bl(1)
    flex 0 0 $bl(4)

    div
      width $bl(4)
      height $bl(4)
      background-size cover
      margin $bl(-.5)


[data-view="full"]
  .profile__avatar
    padding-left $bl(0.5)


[data-view="carousel"]
  .profile:hover
    .profile__avatar
      div
        filter: grayscale(0);

  .profile__header
    flex-direction column
    display flex


  .profile__avatar
    padding 0
    flex 0 0 $bl(2)

    div
      width $bl(3)
      height $bl(3)
      background-size cover
      margin 0
      filter: grayscale(1);

  .badge
    position: absolute;
    top $bl(3)
    right 0
    transform rotate(90deg)
    transform-origin 100% 0
    display none

  .profile__info
    padding-top 0

    .affiliation-title, p.role
      display none

    p
      font-size $SCREEN__TEXT__FONT_SIZE__XSMALL
      line-height var(--baseline-height)
    span.given-name, span.family-name
      display block

    .academic-title
      display none



+mq--gte-md()
  .profile__details
    display grid
    grid-template-areas 'header header' 'motivation secondary'
    grid-template-columns 1fr 1fr
    grid-template-rows max-content max-content max-content
    grid-row-gap $bl(1)
    grid-column-gap $bl(1)
    max-width $MAX_CONTEN_WIDTH--XL
    align-items: start
    justify-content: start
    align-content start

@media print
  .profile__details
    display grid
    grid-template-areas 'header header' 'motivation secondary'
    grid-template-columns 1fr 1fr
    grid-template-rows max-content max-content max-content
    grid-row-gap $bl(1)
    grid-column-gap $bl(1)
    max-width $MAX_CONTEN_WIDTH--XL
    align-items: start
    justify-content: start
    align-content start

.profile__detail
  > h2
    $baselined-typography(body-md)

.content .profile__detail > h3
  $baselined-typography(body-sm)
  $bold()

.content .profile__detail
  h4
    $baselined-typography(body-sm)
    $regular()
  ul
    margin-top 0 !important


.profile__detail--motivation
  grid-area motivation
  margin-bottom 0

aside
  grid-area secondary

  section
    margin-bottom 0
</style>
