<template lang="pug">
  .meeting-meta
    .list
      .list__item
        .list__item-block.list__item-block--w-1
          .list__item-content
            h3 Datum
        .list__item-block.list__item-block--w-5
          .list__item-content
            .date
              time(:datetime="meeting.date")
                span.date {{meeting.date | formatDate() }}
            .date
              time(:datetime="meeting.date")
                span.date {{meeting.date | formatTime() }}&nbsp;Uhr bis&nbsp;
              time(:datetime="meeting.date_end")
                span.date {{meeting.date_end | formatTime() }}&nbsp;Uhr

      .list__item
        .list__item-block.list__item-block--w-1
          .list__item-content
            h3 Ort
        .list__item-block.list__item-block--w-5
          .list__item-content
            p {{meeting.location}}
            p {{meeting.location_detail}}

      .list__item(v-if="meeting.minutes")
        .list__item-block.list__item-block--w-1
          .list__item-content
            h3 Protokoll
        .list__item-block.list__item-block--w-5
          .list__item-content
            ol.minutes(v-if="meeting.minutes")
              li(v-for="person in meeting.minutes" :key="person.slug") {{person}}

      .list__item(v-if="meeting.attendees  && meeting.attendees.length")
        .list__item-block.list__item-block--w-1
          .list__item-content
            h4  Anwesend
        .list__item-block.list__item-block--w-5
          .list__item-content
            ol.attendees
              li(v-for="person in meeting.attendees" :key="meeting.slug") {{person}}

      .list__item(v-if="meeting.invited  && meeting.invited.length")
        .list__item-block.list__item-block--w-1
          .list__item-content
            h4  Eingeladen
        .list__item-block.list__item-block--w-5
          .list__item-content
            ol.inline
              li(v-for="person in meeting.invited" :key="meeting.slug") {{person}}

      .list__item.absents(v-if="meeting.absents_excused  && meeting.absents_excused.length")
        .list__item-block.list__item-block--w-1
          .list__item-content
            h3 Abwesend
        .list__item-block.list__item-block--w-5
          .list__item-content
            ol.absents_excused
              li(v-for="person in meeting.absents_excused" :key="meeting.slug") {{person}}

      .list__item.guests(v-if="meeting.guests && meeting.guests.length")
        .list__item-block.list__item-block--w-1
          .list__item-content
            h4 Gäste
        .list__item-block.list__item-block--w-5
          .list__item-content
            ol.guests
              li(v-for="person in meeting.guests" :key="meeting.slug") {{person}}

</template>
<script>
import filters from '@parent-theme/mixins/filters'

export default {
  mixins: [filters],
  props: {
    meeting: {
      default: null,
      type: Object
    }
  }
}
</script>
