<template lang="pug">
  .kfb-members(:data-view="view")
    .kfb-member(v-bind="getComponent(item)" v-for="item in sortedItems" :key="item.title" )
      KfbMember(:linked="linked" :view="view" v-bind="item")
</template>

<script>
export default {
  components: {},
  props: {
    view: {
      type: String,
      default: 'grid'
    },
    type: {
      type: String,
      default: 'kfb-member'
    },
    linked: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    items() {
      return this.$site.pages
        .filter((p) => {
          return p.frontmatter.type === this.type
        })
        .map((p) => p.frontmatter)
    },
    sortedItems() {
      return this.items.sort((a, b) => {
        if (a.role === 'kfb-chairperson') return -1
        if (a.role === 'kfb-co-chairperson' && b.role != 'kfb-chairperson')
          return -1
      })
    }
  },
  methods: {
    getComponent(item) {
      // if (item.type === 'candidate-2019') {
      // return {
      //   is: 'router-link',
      //   to: item.permalink
      // }
      // }
      return {
        is: 'div'
      }
    }
  },
  mounted() {}
}
</script>

<style lang="stylus">

@import '~@theme/styles/mixins'

.kfb-members[data-view="grid"]
  max-width $MAX_CONTEN_WIDTH
  margin-left $bl(-.5)
  margin-right $bl(-.5)
  margin-top $bl(1)
  display grid
  grid-column-gap $bl(1)
  +mq--gte-md()
    grid-template-columns: repeat(auto-fill, minmax($bl(15), 1fr));
    grid-auto-rows: minmax($bl(5), auto)
    max-width $MAX_CONTEN_WIDTH--XL

.kfb-members[data-view="carousel"]
  display grid
  grid-column-gap $bl(.5)
  grid-row-gap $bl(.5)
  grid-template-columns: repeat(auto-fill, minmax($bl(3), 1fr));
  grid-auto-rows: minmax($bl(3), auto)
  max-width var(--content__width)
  margin-bottom $bl(2)


.content .kfb-members
  .kfb-member
    border none !important
    //background-color var(--interaction__color--hover-off)
    cursor pointer
    transition background-color
    transition-duration 300ms
    //
    //&:hover
    //  background-color var(--interaction__color--hover-on)
    //  transition-duration 300ms

@media print
  .kfb-members[data-view="carousel"]


    display none
</style>
