<template lang="pug">
  .list-groups
    .list-group(v-for="[groupName, items]  in groups" :key="groupName")
      header.list-group__header
        .list-group__title
          span {{groupName}}. Komitee für Beschleunigerphysik
      .list-group__body
        .list.list--meetings
          .list__item(v-for="(item, i) in items" :key="i" :class="{hoverable: item.headers}" @click="ifGoto(item.headers, item.path)")
            .list__item-block.list__item-block--w-5
              .list__item-content
                h4.list-item__title(v-html='(item.frontmatter.title__html)')
                p.event__lead(v-if="item.frontmatter.lead" v-html='(item.frontmatter.lead__md)')
                p.small(v-if="item.headers")
                  app-link(:to="item.path") Protokoll
            .list__item-block.list__item-block--w-5
              .list__item-content
                p.date.small
                  time(:datetime="item.date")
                    span.date {{item.frontmatter.date | formatDate() }}
                p.location.small {{item.frontmatter.location}}
</template>

<script>
import filters from '@parent-theme/mixins/filters'
import AppLink from '@jerrobs/vuepress-theme-master/components/AppLink'

function dogroup(values, keyof) {
  const map = new Map()
  let index = -1
  for (const value of values) {
    const key = keyof(value, ++index, values)
    const group = map.get(key)
    if (group) {
      group.push(value)
    } else {
      map.set(key, [value])
    }
  }
  return map
}

export default {
  name: 'KfbMeetings',
  components: { AppLink },
  mixins: [filters],
  props: {},

  computed: {
    items() {
      return this.$site.pages
        .filter((p) => {
          return p.frontmatter.type === 'kfb-meeting'
        })
        .reverse()
    },
    groups() {
      return Array.from(dogroup(this.items, (d) => d.frontmatter.kfb)).sort(
        (a, b) => {
          return b[0] - a[0]
        }
      )
    }
  },
  mounted() {},
  methods: {
    ifGoto(condition, target) {
      if (condition) this.$router.push(target)
    }
  }
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins/'
</style>
