<template lang="pug">
  .list-groups
    .list-group(v-for="{groupName, items}  in groups" :key="groupName")
      header.list-group__header
        h2.list-group__title
          span {{groupName}}
      .list-group__body
        .list
          NewsletterIssue(v-for="(item, i) in itemViews" :key="i" v-bind="item" :itemKey="item.key")
</template>

<script>
import filters from '@parent-theme/mixins/filters.js'
import NewsletterIssue from './NewsletterIssue'

export default {
  name: 'Newsletter-Issues',
  components: { NewsletterIssue },
  mixins: [filters],
  props: {
    path: { default: '', type: String },
    items: { default: () => [], type: Array },
    view: { default: 'card', type: String }
  },
  methods: {
    toggleExpanded(item) {
      item.isExpanded = !item.isExpanded
    }
  },
  computed: {
    itemViews() {
      return this.items
        .filter((item) => item.frontmatter.date)
        .map((item) => {
          const date =
            typeof item.frontmatter.date === 'string'
              ? new Date(item.frontmatter.date)
              : item.frontmatter.date
          return {
            ...item,
            date: date,
            year: date.getFullYear(),
            isExpanded: false
          }
        })
        .sort((a, b) => {
          return b.date.getTime() > a.date.getTime() ? 1 : -1
        })
    },

    groups() {
      const groups = Array.from(
        this.dogroup(this.itemViews, (d) => d.year),
        ([key, value]) => ({
          groupName: key,
          expanded: key === new Date().getFullYear(),
          items: value.sort((a, b) => {
            return b.date - a.date
          })
        })
      )
      groups.sort((a, b) => {
        return b.groupName - a.groupName
      })
      return groups
    }
  }
}
</script>
