<template lang="pug">
  .list__item.hoverable(:class="{expanded: isExpanded}" @click="isExpanded = !isExpanded")
    .list__item-block.list__item-block--w-1
      .list__item-content
        p.date.nw.small vom&nbsp;
          time(:datetime="frontmatter.date")
            span.date {{frontmatter.date | formatDay() }}.&nbsp;
            span.date {{frontmatter.date | formatMonth() }}&nbsp;
            span.date {{frontmatter.date | formatYear() }}
        p.location.small an {{frontmatter.segment}}
      .list__item-content
    .list__item-block.list__item-block--w-5
      .list__item-content
        h4.list-item__title(v-html='(frontmatter.title__html)')
        Content(v-if="isExpanded" :page-key="itemKey")
    .list__item-block.list__item-block--expand
      expand-button(:expanded="isExpanded" @toggle-expanded="$emit('toggle-expanded')")

</template>

<script>
import filters from '@parent-theme/mixins/filters.js'

export default {
  name: 'Newsletter-Issue',
  components: {},
  mixins: [filters],
  props: {
    frontmatter: { mandatory: true },
    itemKey: { mandatory: true }
  },
  data: () => {
    return {
      isExpanded: false
    }
  }
}
</script>
