<template lang="pug">
  .list-groups
    .list-group(v-for="[groupName, attributeNames]  in attributeGroups" :key="groupName")
      header.list-group__header
        h2.list-group__title {{translate(groupName)}}
      .list-group__body
        .list
          .list__item(v-for="(attributeName, i) in attributeNames" :key="i")
            .list__item-block.list__item-block--w-5
              .list__item-content
                p.label.attribute-name {{$themeLocaleConfig.userAttributes[attributeName]}}
            .list__item-block.list__item-block--w-5
              .list__item-content
                .content(v-if="attributeName==='custom:affiliation'")
                  p {{affiliationsMap[attributes[attributeName]] && affiliationsMap[attributes[attributeName]].title}}
                .content(v-else-if="attributeName==='custom:fieldsOfWork'")
                  p(v-for="d in (attributes[attributeName] || '').split(',')") {{$themeLocaleConfig.fieldsOfWork[d]}}
                .content(v-else-if="attributeName==='custom:groups'")
                  p(v-for="d in (attributes[attributeName] || '').split(',')") {{$themeLocaleConfig.groups[d]}}
                .content(v-else-if="attributeName==='custom:academicDegrees'")
                  p(v-for="d in (attributes[attributeName] || '').split(',')") {{$themeLocaleConfig.academicDegrees[d]}}
                p(v-else) {{attributes[attributeName]}}
</template>

<script>
const T_identity = 'identity'
const T_membership = 'membership'
const T_privileges = 'privileges'

const translations = {
  '/de/': {
    [T_identity]: 'Identität',
    [T_membership]: 'Mitgliedschaft',
    [T_privileges]: 'Berechtigung'
  },
  '/en/': {
    [T_identity]: T_identity,
    [T_membership]: T_membership,
    [T_privileges]: T_privileges
  }
}

import { mapGetters } from 'vuex'
import { validationMixin } from 'vuelidate'

export default {
  name: 'Profile',
  components: {},
  mixins: [validationMixin],
  props: {
    attributeGroups: {
      type: Array,
      default: () => [
        [T_identity, ['name', 'email']],
        [
          T_membership,
          [
            'custom:affiliation',
            'custom:academicDegrees',
            'custom:fieldsOfWork'
          ]
        ],
        // [
        //   'visibility',
        //   [
        //     'custom:isEmailForumPublic',
        //     'custom:isNameForumPublic'
        //     // 'custom:isNameWebPublic',
        //     // 'custom:isEmailWebPublic'
        //   ]
        // ],

        [T_privileges, ['custom:groups']]
      ]
    }
  },
  validations: {
    email: {},
    fullName: {}
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({ affiliationsMap: 'data/affiliationsMap', attributes: 'auth/attributes' }),
  },
  methods: {
    translate(key) {
      return translations[this.$localePath][key]
    }
  }
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins'

p.attribute-name
  $bold()
</style>
