<template lang="pug">
  .kanban.kanban--projects
    projects-category(status="in-progress" :items="items")
    projects-category(status="completed" :items="items")
</template>

<script>
import ProjectsCategory from './ProjectsCategory'
import projects from '@dynamic/collection__projects'

export default {
  components: { ProjectsCategory },
  computed: {
    items: function () {
      return projects
    }
  },
  methods: {}
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins'

.kanban
  margin-top $bl(1)
  max-width 100vw
  +mq--gte-md()
    display grid
    grid-column-gap $bl(1)
    grid-template-columns: repeat(auto-fill, minmax($bl(15), 1fr));
    grid-auto-rows: minmax($bl(5), auto)
    max-width $MAX_CONTEN_WIDTH--XL

  .list-group__title
    $baselined-typography(body-sm)
    padding-right var(--padding__x)
    padding-left var(--padding__x)
    margin-bottom 0


  .kanban__list-item
    margin-bottom $bl(1)
    padding-right var(--padding__x)
    padding-left var(--padding__x)
    $border-top(2px)
    background-color rgba(white, 1)


  .kanban__item-header
    display flex

  p.project-title, p.project-description
    flex 2
    $baselined-typography(body-md)
    text-transform none

  p.project-title
    $bold()
  .project-time
    flex 1
    text-align right
    $baselined-typography(body-sm)
</style>
