<template lang="pug">
  .kanban__category.list-group
    header.list-group__header
      .list-group__title
        span {{messages[$localePath][status]}}
      .kanban__category-main
        .kanban__list
          .kanban__list-item(v-for="item in items.filter(item => item.status === status)" :key="item.slug")
            .project
              .kanban__item-header
                p.project-title(v-html='item.title__html || item.title')
                .project-time  {{item.start}}&nbsp;-&nbsp;{{item.end}}
              .kanban__item-main
                p.project-description(v-html='item.description__html || item.description')
</template>

<script>
export default {
  components: {},
  props: {
    items: { default: () => [], type: Array },
    status: { default: 'completed', type: String }
  },
  data() {
    return {
      messages: {
        '/de/': {
          completed: 'abgeschlossen',
          'in-progress': 'in Arbeit',
          planned: 'in Planung'
        },
        '/en/': {
          completed: 'completed',
          'in-progress': 'in progress',
          planned: 'planned'
        }
      }
    }
  }
}
</script>
