/* eslint-env browser */

<template lang="pug">
  .timeline
    .timeline__group(v-for="{groupName, entries}  in groups" :key="groupName")
      span.timeline__year {{groupName}}
      .timeline__entry(v-for=`({ date, title, description, isDateHidden }, i) of entries` :key="i")
        .timeline__element
          .timeline__date(v-if="!isDateHidden")
            span.timeline__day {{date | formatDate($lang, {day: '2-digit'})}}
            span.timeline__month {{date | formatDate($lang, {month: 'short'})}}
          .timeline__content
            p.timeline__element-title {{title}}
            p.timeline__element-description {{description}}
</template>

<script>
import filters from '@parent-theme/mixins/filters'

export default {
  name: 'Timeline',
  mixins: [filters],
  props: {
    entries: {
      type: Array,
      required: true
    },
    color: {
      type: String,
      default: () => 'var(--kfb__blue)'
    }
  },
  computed: {
    groups: function () {
      const options = {
        month: 'long'
      }
      const entriesWithDate = this.entries.map((item) => {
        const date = new Date(item.date)
        return {
          ...item,
          date: date,
          isDateHidden: !!item.isDateHidden,
          month: new Intl.DateTimeFormat('de-DE', options).format(date)
          // expanded: new Date().getFullYear() === date.getFullYear()
        }
      })
      const groups = Array.from(
        this.dogroup(entriesWithDate, (d) => d.month),
        ([key, value]) => ({
          groupName: key,
          entries: value.sort((a, b) => {
            return a.date - b.date
          })
        })
      )

      return groups.sort()
    }
  },

  mounted() {}
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins'

.timeline
  margin $bl(1) $bl(-.5)
  z-index 1000
  position relative
  --uiTimelineMainColor var(--kfb__blue)
  --uiTimelineSecondaryColor var(--timelineSecondaryColor, #fff)
  padding-left var(--padding__x)
  padding-right var(--padding__x)
  max-width $MAX_CONTEN_WIDTH
  +mq--gte-xl()
    max-width $MAX_CONTEN_WIDTH--XL

  +mq--gte-md()
    &::before
      content " "
      display block
      width 4px
      height 100%
      background-color var(--kfb__gray)
      position absolute
      top 0
      left $bl(1.25)
      z-index 100


  .timeline__year
    display block
    color var(--kfb__gray)
    position absolute
    text-align right
    transform-origin 50% 100%
    transform translate($bl(.25), 0) rotate(-90deg)
    z-index 10000
    height $bl(2)
    width $bl(3)
    left $bl(-.5)

    +mq--gte-lg()
      left $bl(-1)

  +mq--lte-sm()
    .timeline__year
      display none


.timeline__group
  position relative

  &:not(:first-of-type)
    margin-top $bl(1)


.timeline__entry
  position relative


  +mq--gte-md()
    padding-left $bl(2.5)


  &:not(:last-of-type)
    margin-bottom $bl(1)

  &:before
    content " "
    width 100%
    height 2px
    position absolute
    left 0
    z-index -1


  .timeline__date
    width $bl(2)
    color var(--uiTimelineSecondaryColor)
    text-align center
    margin-right $bl(.25)

    +mq--lte-sm()
      float left

    +mq--gte-md()
      left 0
      position absolute



    &:before
      height $bl(2.2)
      width $bl(2.2)
      content " "
      position absolute
      z-index 105
      background-color var(--uiTimelineMainColor)
      border $bl(.1) white solid
      top $bl(.15)
      left $bl(-.2)

  .timeline__day, .timeline__month
    $light()
    display block
    $baselined-typography(body-lg)
    width $bl(1.75)
    z-index 205
    position relative

  .timeline__day
    $bold()

.timeline__element
  margin-left 0
  padding 0


.timeline__element-title
  $baselined-typography(body-md)
  $bold()

.timeline__element-description
  $baselined-typography(body-sm)
/*
+mq--gte-md()
  .timeline__element
    margin-left $bl(2)

  .timeline__content
    float left
  .timeline__date
    position absolute
    left $bl(-2)
    float none


border-radius 5px*/
</style>
