<template lang="pug">
  .list-groups.weblinks
    .list-group(v-for="[groupName, links] in groups" :key="groupName")
      header.list-group__header
        h2.list-group__title
          span {{translate(groupName)}}
      .list-group__body
        .list
          .list__item.list__item--card(v-for="(link, i) in links.sort((a,b) => a.title.localeCompare(b.title))" :key="i")
            .list__item-block
              .list__item-content
                .weblink__icons.weblink__icons(v-if="($localePath === '/de/' && (link.language||'').indexOf('de') == -1) || ($localePath === '/en/' && (link.language||'').indexOf('en') == -1) || link.forStudents")
                  .icon--english(v-if="$localePath === '/de/' && (link.language||'').indexOf('de') == -1")
                    span EN
                  .icon--german(v-if="$localePath === '/en/' && (link.language||'').indexOf('en') == -1")
                    span DE
                  .icon--student(v-if="link.forStudents")
                    span &nbsp;
                h4.list-item__title
                  a(:href="link.url" v-html='link["title"]')
                p.weblink__description(v-if="link.description" v-html='(link.description)')

</template>

<script>
const translations = {
  '/de/': {
    accelerator: 'Beschleunigeranlagen',
    association: 'Verbände',
    'companioned-committee': 'Befreundete Komitees',
    conference: 'Konferenzen',
    education: 'Ausbildung',
    'job-offers': 'Stellenangebote',
    'program-or-coordination': 'Forschungsprogramme',
    'research-center': 'Außeruniversitäre Forschungseinrichtungen',
    'research-funding': 'Forschungsförderung',
    university: 'Lehrstühle und universitäre Arbeitsgruppen'
  },
  '/en/': {
    accelerator: 'Beschleunigeranlagen',
    association: 'Verbände',
    'companioned-committee': 'Befreundete Komitees',
    conference: 'Konferenzen',
    education: 'Ausbildung',
    'job-offers': 'Stellenangebote',
    'program-or-coordination': 'Forschungsprogramme',
    'research-center': 'Außeruniversitäre Forschungseinrichtungen',
    'research-funding': 'Forschungsförderung',
    university: 'Departmental Chairs and Working Groups'
  }
}

export default {
  props: { weblinks: { default: () => [], type: Array } },
  data() {
    return {
      translations,
      groups: this.dogroup(this.weblinks, (d) => d.type)
    }
  }
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins'

.list-groups.weblinks .list__item-content
  padding-right $bl(2)

.weblink__icons
  position absolute
  /*background-color #aaaaaa*/
  background-color var(--interaction__color--neutral--light)
  box-shadow: 0 3px 3px 1px rgba(black, .2)
  right $bl(.5)
  top 1px
  padding-bottom $bl(.25)
  z-index -1


  text-align center


  .icon--english,
  .icon--german
    display block
    $baselined-typography(body-xs)
    margin-bottom 0
    padding-bottom 0


    span
      vertical-align baseline
      display inline-block
      width $bl(1)
      height $bl(.75)

  .icon--student
    span
      display inline-block
      width $bl(1)
      height $bl(.75)
      background-image url("data:image/svg+xml,%3Csvg viewBox='3 2 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.1 7.8c0 2.2-1.8 4.1-4.1 4.1s-4.1-1.8-4.1-4.1 1.8-4.1 4.1-4.1 4.1 1.9 4.1 4.1z' fill='none' stroke='%231d1d1b' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath d='m11.6 5.3c.1-.3.2-.5.4-.7.7-1 2.3-1.4 4-.9 1.3.3 2.3 1.1 2.8 1.9.3.5-7.5 1.2-7.2-.3z' fill='%231d1d1b' stroke='%231d1d1b' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath d='m7.1 19.1c-.3 0-.5.1-.7 0-.1-.1-.1-.4-.1-.6 0-.5-.1-1-.1-1.5 0-.4.2-.6.6-.5 2.4.5 4.9 1.1 7.3 1.6.2 0 .3.1.4.3 0 .1.1.2.2.2h.6c.1 0 .2-.1.3-.2 0-.2.2-.3.4-.3 2.2-.5 4.3-.9 6.5-1.4.3-.1.6-.1.8-.2.4-.1.6.1.6.5 0 .6-.1 1.2-.1 1.8 0 .3 0 .3-.3.3h-.8c-.6.1-1 .4-1.1 1 0 .1-.1.1-.1.2-.1.1-.1.3-.2.4v1.5c0 .7.3 1.2 1 1.4.3.1.6.2.9.2.1 0 .2.1.2.2v.2c0 .3-.1.4-.4.5-1 .2-2 .3-3 .5-1.2.2-2.3.4-3.5.6-.1 0-.2.1-.3.1-.6.5-1.5.5-2.1 0-.1-.1-.2-.1-.3-.1-2-.4-4.1-.7-6.1-1.1h-.2c-.7-.1-.6-.3-.7-.8 0-.1 0-.2.2-.2.3-.1.6-.1.9-.2.7-.2 1-.7 1-1.5v-1.1c0-.7-.4-2-1.4-2.1-.2.3-.4.3-.4.3zm7.5.6v5.2c0 .3.1.4.3.4.3 0 .5-.1.5-.4v-5-.2z'/%3E%3Cpath d='m8.8 15.9c.1-.7.3-1.2 1-1.4.8-.3 1.6-.6 2.3-.9.2-.1.4-.1.7-.2-.1.8-.1 1.5-.2 2.2.1 0 .2-.1.3-.1.7-.2 1.3-.5 2-.7h.4c.7.2 1.3.5 2 .8.1 0 .1 0 .2.1-.1-.7-.1-1.5-.2-2.2.5.1.9.2 1.4.4.6.2 1.2.5 1.7.7.6.3.8.8.9 1.4-.3.1-.7.2-1 .2-1.5.3-2.9.6-4.4 1-.2 0-.4.2-.6.2h-.3c-.2-.1-.4-.2-.6-.2-1.7-.4-3.5-.8-5.2-1.1-.2-.1-.3-.2-.4-.2zm-2.7 7.2c-.8 0-1.3-.5-1.3-1.3-.1-.9.5-1.6 1.4-1.7.2 0 .5-.1.8-.1.4 0 .5.1.6.5.1.3.3.6.1.9.2.3 0 .6.1.9.1.2-.1.3-.3.4s-.5.2-.8.3c-.2 0-.4 0-.6.1zm17.6 0c-.3-.1-.8-.2-1.3-.3-.2-.1-.3-.2-.3-.5v-.5-.1c.1-.2.1-.4 0-.6v-.2c0-.1.1-.3.2-.4 0-.2.1-.4.4-.4.6 0 1.2 0 1.8.2s.9 1 .7 1.7c-.1.7-.6 1.1-1.5 1.1z'/%3E%3C/svg%3E%0A")
      background-position 50% 100%
      background-size $bl(.75) $bl(.75)
      background-repeat no-repeat
    &:first-child
      padding-top $bl(.25)
</style>
