<%
if (locals.action) {
    locals.action.forEach(function(actionItem) {
        // Make it possible to override action button color (specify fallback color if no color specified)
        if (!actionItem.button.color) {
            actionItem.button.color = '#ffc82c';
        }
        deprecatedColorToHex(actionItem.button);
    });

  // Convert deprecated red/green/blue action button color to hex since we switched to a hex-based button color
  function deprecatedColorToHex(button) {
      if (button.color === 'red') {
            button.color = '#DC4D2F';
      }
      else if (button.color === 'green') {
            button.color = '#22BC66';
      }
      else if (button.color === 'blue') {
            button.color = '#3869D4';
      }
  }
}
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css" rel="stylesheet" media="all">
    /* Base ------------------------------ */
    *:not(br):not(tr):not(html) {
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    body {
      width: 100% !important;
      height: 100%;
      margin: 0;
      line-height: 24px;
      background-color: #F2F4F6;
      color: #74787E;
      -webkit-text-size-adjust: none;
    }
    a, a:visited, a:hover, a:active {
      color: #74787E;
    }

    /* Layout ------------------------------ */
    .email-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: #F2F4F6;
    }
    .email-content {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    /* Masthead ----------------------- */
    .email-masthead {
      padding: 24px 0;
      text-align: center;
    }
    .email-masthead_logo {
      max-width: 400px;
      border: 0;
    }
    .email-masthead_name {
      font-size: 16px;
      font-weight: bold;
      color: #2F3133;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
    }
    .email-logo {
      max-height: 50px;
    }

    /* Body ------------------------------ */
    .email-body {
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: 1px solid #EDEFF2;
      border-bottom: 1px solid #EDEFF2;
      background-color: #FFF;
    }
    .email-body_inner {
      width: 570px;
      margin: 0 auto;
      padding: 0;
    }
    .email-footer {
      width: 570px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    .email-footer p {
      color: #AEAEAE;
    }
    .body-action {
      width: 100%;
      margin: 32px auto;
      padding: 0;
      text-align: center;
    }
    .body-dictionary {
      width: 100%;
      overflow: hidden;
      margin: 24px auto 12px;
      padding: 0;
    }
    .body-dictionary dd {
      margin: 0 0 10px 0;
    }
    .body-dictionary dt {
      clear: both;
      color: #000;
      font-weight: bold;
    }
    .body-dictionary dd {
      margin-left: 0;
      margin-bottom: 12px;
    }
    .body-sub {
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid #EDEFF2;
    }
    .content-cell {
      padding: 35px;
    }
    .align-right {
      text-align: right;
    }

    /* Type ------------------------------ */
    h1 {
      margin-top: 0;
      color: #2F3133;
      font-size: 16px;
      font-weight: bold;
    }
    h2 {
      margin-top: 0;
      color: #2F3133;
      font-size: 16px;
      font-weight: bold;
    }
    h3 {
      margin-top: 0;
      color: #2F3133;
      font-size: 16px;
      font-weight: bold;
    }
    p {
      margin-top: 0;
      color: #74787E;
      font-size: 16px;
      line-height: 24px;
    }
    p.sub {
      font-size: 16px;
    }
    p.center {
      text-align: center;
    }

    /* Data table ------------------------------ */
    .data-table-title {
      width: 100%;
      margin: 0;
      font-size: 16px;
      padding: 24px 0 12px 0;
    }
    .data-wrapper {
      width: 100%;
      margin: 0;
      padding: 0 0 48px 0;
    }
    .data-table {
      width: 100%;
      margin: 0;
    }
    .data-table th {
      text-align: left;
      padding: 0 6px;
      padding: 0 0 48px 0;
      border-bottom: 1px solid #EDEFF2;
    }
    .data-table th p {
      margin: 0;
      color: #9BA2AB;
      font-size: 16px;
    }
    .data-table td {
      padding: 12px 6px;
      color: #74787E;
      font-size: 16px;
      line-height: 24px;
    }

    /* Buttons ------------------------------ */
    .button {
      display: inline-block;
      border-radius: 3px;
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-decoration: none;
      -webkit-text-size-adjust: none;
      mso-hide: all;
      color: #000000;
    }

    /*Media Queries ------------------------------ */
    @media only screen and (max-width: 600px) {
      .email-body_inner,
      .email-footer {
        width: 100% !important;
      }
    }
    @media only screen and (max-width: 500px) {
      .button {
        width: 100% !important;
      }
    }
  </style>
</head>
<body dir="<%- textDirection %>">
  <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
          <!-- Logo -->
          <tr>
            <td class="email-masthead">
              <a class="email-masthead_name" href="<%- product.link %>" target="_blank">
                <% if (locals.product.logo) { %>
                  <img src="<%- product.logo %>" class="email-logo" />
                <% } else { %>
                  <%- product.name %>
                <% } %>
                </a>
            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td class="email-body" width="100%">
              <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
                <!-- Body content -->
                <tr>
                  <td class="content-cell">
                    <h1><%- title %></h1>
                    <% if (locals.intro) { %>
                      <% intro.forEach(function (introItem) { -%>
                        <p><%- introItem %></p>
                      <% }) -%>
                    <% } %>

                    <!-- Dictionary -->
                    <% if (locals.dictionary) { %>
                    <dl class="body-dictionary">
                      <% for (item in dictionary) { -%>
                        <dt><%- item.charAt(0).toUpperCase() + item.slice(1) %>:</dt>
                        <dd><%- dictionary[item] %></dd>
                      <% } -%>
                    </dl>
                    <% } %>

                    <!-- Table -->
                    <% if (locals.table) { %>
                      <% table.forEach(function (tableItem, i) { -%>
                      <h1 class="data-table-title"><%- tableItem.title %></h1>
                      <table class="data-wrapper" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <td colspan="2">
                            <table class="data-table" width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <% for (var column in tableItem.data[0]) {%>
                                  <th
                                    <% if(tableItem.columns && tableItem.columns.customWidth && tableItem.columns.customWidth[column]) { %>
                                        width="<%= tableItem.columns.customWidth[column] %>"
                                    <% } %>
                                    <% if(tableItem.columns && tableItem.columns.customAlignment && tableItem.columns.customAlignment[column]) { %>
                                        style="text-align:<%= tableItem.columns.customAlignment[column] %>"
                                    <% } %>
                                  >
                                    <p><%- column.charAt(0).toUpperCase() + column.slice(1) %></p>
                                  </th>
                                <% } %>
                              </tr>
                              <% for (var i in tableItem.data) {%>
                              <tr>
                                <% for (var column in tableItem.data[i]) {%>
                                  <td
                                      <% if(tableItem.columns && tableItem.columns.customAlignment && tableItem.columns.customAlignment[column]) { %>
                                          style="text-align:<%= tableItem.columns.customAlignment[column] %>"
                                      <% } %>
                                  >
                                    <%- tableItem.data[i][column] %>
                                  </td>
                                <% } %>
                              </tr>
                              <% } %>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <% }) %>
                    <% } %>

                    <!-- Action -->
                    <% if (locals.action) { %>
                      <% action.forEach(function (actionItem) { -%>
                        <p><%- actionItem.instructions %></p>
                        <!--[if mso]>
                          <center>
                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<%- actionItem.button.link %>" style="height: 45px; v-text-anchor: middle; width: 200px;" arcsize="10%" stroke="f" fillcolor="<%- actionItem.button.color %>">
                              <w:anchorlock/>
                              <center style="color: #ffffff; font-family: sans-serif; font-size: 16px;">
                                <%- actionItem.button.text %>
                              </center>
                            </v:roundrect>
                          </center>
                        <![endif]-->
                        <![if !mso]>
                          <table class="body-action" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                              <td align="center">
                                <a href="<%- actionItem.button.link %>" class="button" target="_blank" style="background-color: <%- actionItem.button.color %>;">
                                  <%- actionItem.button.text %>
                                </a>
                              </td>
                            </tr>
                          </table>
                        <![endif]>
                      <% }) -%>
                    <% } %>

                    <!-- Support for Gmail Go-To Actions -->
                    <% if (locals.goToAction) { %>
                      <script type="application/ld+json">
                      {
                        "@context": "http://schema.org",
                        "@type": "EmailMessage",
                        "potentialAction": {
                          "@type": "ViewAction",
                          "url": "<%- goToAction.link %>",
                          "target": "<%- goToAction.link %>",
                          "name": "<%- goToAction.text %>"
                        },
                        "description": "<%- goToAction.description %>"
                      }
                      </script>
                    <% } %>

                    <% if (locals.outro) { %>
                      <% outro.forEach(function (outroItem) { -%>
                        <p><%- outroItem %></p>
                      <% }) -%>
                    <% } %>

                    <p>
                      <%- signature %>
                      <br>
                      <%- product.name %>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-cell">
                    <p class="sub center">

                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
