/*eslint-env browser*/

<template lang="pug">
  .list-container
    loading(v-if="groupedItems.length==0")
    .list-groups
      .list-group(v-for="[groupName, items] in groupedItems" :key="groupName")
        header.list-group__header
          h2.list-group__title {{groupName}}
        .list-group__body
          .list.list--tight.list--small
            .list__item.hoverable(v-for="(item, i) in items" :key="i" @click="click(item)")
              .list__item-header
                .list__item-block.list__item-block--content
                  .list__item-content.list__item-content--small
                    slot(name="summary" :item="item")
                      p xxx
                .list__item-block.list__item-block--expand
                  expand-button(:expanded="item.expanded")
              expand-transition(appear)
                .list__item-block.list__item-block--content(v-if="item.expanded" :pageKey="item.key")
                  .list__item-content
                    p xxx
                    slot(name="detail" :item="item")


</template>

<script>
import translations from './../translations'
import Vue from 'vue'

export default {
  name: 'VDCItemsList',
  props: {
    groupedItems: {
      type: Array,
      required: true
    }
  },
  data: () => {
    return {
      translations
    }
  },
  computed: {},
  mounted() {},
  methods: {
    click(item) {
      Vue.set(item, 'expanded', !item.expanded)
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~@parent-theme/styles/mixins/'

.list-container
  min-height 25vh
  position relative

  .loading
    position absolute !important
    height $bl(10) !important
    padding-top $bl(10) !important

.list
  max-width initial
.list__item
  flex-direction column
  //padding-top $bl(0.5)
  //padding-bottom $bl(0.5)
.list__item-header
  display flex
</style>
