<template lang="pug">
  .table-container.table-container--vdc-items
    loading(v-if="rows.length==0")
    table(:class="{compact: compact}")
      thead
        tr
          //th.toggle-group.empty(width="5%")
          //  div.expand-button(v-if="hasDetails")
          //    expand-button(:expanded="expanded" @toggle-expanded="$emit('toggle-expanded')")
          //th.toggle-row(:width="baselineHeight" v-if="hasDetails")
          //  div &nbsp;
          th(v-for="(tableColumn) in tableColumns"
            :data-field-name="tableColumn.name"
            :width="(tableColumn.width/columnWidthsSum*100).toFixed(0) + '%'"
            :class="{sortable: tableColumn.sortable, sorted: sortColumn === tableColumn.name}")

            div.padded(v-on:click="tableColumn.sortable && ($emit('change-sorting', tableColumn.sortField || tableColumn.name, tableColumn.sortFunction, tableColumn.grouped), sortAscending = !sortAscending)")
              span.label {{tableColumn.label || (tableColumn.labelKey && translate(tableColumn.labelKey)) || translate(tableColumn.name)}}
              .button.sort(:class="{asc: sortAscending}" v-if="tableColumn.sortable && sortColumn === tableColumn.name" :title="'sort by' + tableColumn.name ")

      tbody
        tr(v-for="(row,i) in visibleRows"
          :key="'row' + i" :class="{[row.type]: true, 'group--expanded': row.expanded, 'item--expanded': row.item && row.item.expanded}" @click="toggleExpanded($event, row)")


          td.group(:colspan="tableColumns.length" v-if="row.type === 'group'")
            div.padded
              .group-info
                .group-name {{row.groupName}}

          td(v-if="row.type === 'item' && row.group.expanded" v-for="tableColumn in tableColumns")
            div.padded.truncated(v-html="(tableColumn.valueAccessor && tableColumn.valueAccessor(row.item)) || row.item[tableColumn.name]")

          td.detail(v-if="row.type === 'detail' && row.item.expanded" :colspan="tableColumns.length")
            slot(name="detail" :item="row.item")


</template>

<script>
import '@fontsource/barlow-semi-condensed'
import translations from './../translations'
import Vue from 'vue'

export default {
  name: 'VDCItemsTable',
  props: {
    groupedItems: {
      type: Array,
      required: true
    },
    tableColumns: {
      type: Array,
      default: () => [
        'bibtype__localized',
        'expand',
        'who',
        'when',
        'where',
        'what'
      ]
    },
    sortColumn: {
      type: String,
      default: 'when'
    },
    sortAscending: {
      type: Boolean,
      default: false
    },
    expanded: {
      type: Boolean,
      default: false
    },
    compact: {
      type: Boolean,
      default: true
    },
    loaded: {
      type: Boolean,
      default: false
    },
    grouped: {
      type: Boolean,
      default: false
    },
    hasDetails: {
      type: Boolean,
      default: false
    },
    baselineHeight: {
      type: Number,
      default: 10
    }
  },
  data: () => {
    return {
      translations,
      rows: []
    }
  },
  watch: {
    groupedItems() {
      this.rows = this.getFlattenedGroupedItems()
    }
  },
  computed: {
    columnWidthsSum() {
      return this.tableColumns
        .map((d) => +d.width || 0)
        .reduce((sum, item) => {
          return sum + item
        }, 0)
    },
    visibleRows() {
      return this.rows.filter(
        (row) =>
          row.type === 'group' ||
          (row.type === 'item' && row.group.expanded) ||
          (row.type === 'detail' && row.item.expanded)
      )
    }
  },
  methods: {
    getFlattenedGroupedItems() {
      const result = []
      let groupItem = null
      this.groupedItems.forEach(([group, rows]) => {
        groupItem = {
          type: 'group',
          groupName: group,
          expanded: true,
          count: rows.length
        }
        if (this.grouped) {
          result.push(groupItem)
        }
        rows.forEach((item) => {
          result.push({ group: groupItem, type: 'item', item })
          if (this.hasDetails) {
            result.push({ group: groupItem, type: 'detail', item })
          }
        })
      })
      return result
    },
    toggleExpanded($event, row) {
      // if (row.type === 'detail') return
      if (row.type === 'group') {
        Vue.set(row, 'expanded', !row.expanded)
      } else {
        Vue.set(row.item, 'expanded', !row.item.expanded)
      }
    }
  }
}
</script>

<style lang="stylus" scoped>

@import '~@parent-theme/styles/mixins/'


.table-container--vdc-items
  margin-right calc(-1 * var(--padding__x))
  margin-left calc(-1 * var(--padding__x))

  min-height 25vh
  position relative

  .loading
    position absolute !important
    height $bl(10) !important
    padding-top $bl(10) !important

  div.selection
    display inline

    $light()
    span
      margin-right .3em

  .selection span
    opacity .5
  .selection .active
    $bold()
    opacity 1


  table
    font-family "Barlow Semi Condensed"
    width 100%
    table-layout: fixed

    th
      $border-bottom(1px, rgba(black, 0.5), 0)
      $border-top(1px, rgba(black, 0.5), 0)
      text-align left

      &.sortable
        cursor pointer
      div
        font-size $SCREEN__TEXT__FONT_SIZE__SMALL
        position relative
        width 100%
      &.sorted
        $bold()

    th, td
      div.padded
        padding-left calc(1 * var(--padding__x))


    tbody
      tr.item:hover
        td
          background-color var(--interaction__color--hover-on)

    tr.group
      cursor pointer
      overflow hidden
      background: linear-gradient(
        #fff,
        #fff $bl(1),
        var(--interaction__color--neutral--dark) $bl(1),
        var(--interaction__color--neutral--dark) $bl(5));
      td
        padding-top $bl(1)
        height $bl(2)
        overflow hidden
        position relative


        .group-info
          position absolute
          overflow hidden
          .group-name
            max-width 25ch
            display inline
            font-size $SCREEN__TEXT__FONT_SIZE__LARGE

            $bold()
        .group-size
          font-size $SCREEN__TEXT__FONT_SIZE__XSMALL
          margin-top .2em
          opacity .75
          text-align center
          width 100%

    tr.item
      cursor pointer
      td
        background-color var(--interaction__color--hover-off)
        $border-top(1px, rgba(black, 0.2), 0)
        position relative

        div
          font-size $SCREEN__TEXT__FONT_SIZE__SMALL
          line-height $bl(1)
        div.xs
          font-size $SCREEN__TEXT__FONT_SIZE__XSMALL
        div.xxs
          font-size $SCREEN__TEXT__FONT_SIZE__XXSMALL

  th.toggle-group
    width 5%
  .toggle-table, .toggle-group, .toggle-detail
    text-align center
    padding 0
    font-size $SCREEN__TEXT__FONT_SIZE__LARGE
    div
      text-align center

  table.compact
    tr.item td, tr th
      white-space: nowrap
      height $bl(1)
      > div
        overflow hidden
        width 100%
        text-overflow: ellipsis;


  .expand-button
    position absolute

  .button.sort
    padding-right: 15px
    background-color: transparent
    border: none
    box-shadow none
    position: absolute
    left calc(-.5 * var(--padding__x))
    top $bl(.5)

  .button.sort:before,
  .button.sort:after
    border: 4px solid transparent
    content: " "
    display: block
    height: 0
    right: 5px
    top: 50%
    position: absolute
    width: 0

  .button.sort:before
    border-bottom-color: #aaa
    margin-top: -9px
  .button.sort.asc:before
    border-bottom-color: #000

  .button.sort:after
    border-top-color: #000
    margin-top: 1px
  .button.sort.asc:after
    border-top-color: #aaa
</style>
