<template lang="pug">
  .tile
    .tile__header
      .reset(:class="{visible: hasFilterApplied}")
        button.button--link(@click="reset") Reset
      .tile__title {{translate($props.fieldName)}}
    .tile__body(:class="{'filtered': hasFilterApplied, 'unfiltered': !hasFilterApplied}")
      loading(v-if="!loaded")
      .row-chart(ref="cointainer" :data-field-name="$props.fieldName")
</template>

<script>
import VDCTile from './VDCTile'
import { rowChart } from './../lib/dc-custom'
import { defaultBaselineHeight } from './VDCTile'

export default {
  mixins: [VDCTile],
  name: 'VDCTileRowChart',
  data: VDCTile.data,
  props: {
    ...VDCTile.props,
    fieldName: {
      type: String,
      default: 'when'
    },
    label: {
      type: Function,
      default: (d) => d.key
    },
    multiple: {
      type: Boolean,
      default: false
    },
    localize: {
      type: Boolean,
      default: false
    },
    barRatio: {
      type: Number,
      default: 0.25
    },
    baselineHeight: {
      type: Number,
      default: defaultBaselineHeight
    }
  },
  watch: {
    loaded() {
      const groupCount = this.group.all().length
      this.chart
        .width(this.width)
        .renderTitleLabel(true)
        .transitionDuration(100)
        .labelOffsetX(-this.width * (1 - this.barRatio))
        .titleLabelOffsetX(
          this.width * this.barRatio + 0.25 * this.baselineHeight
        )
        .title((d) => d.value)
        .label(this.label)
        .margins({ ...this.margins, left: this.width * (1 - this.barRatio) })
        .height((groupCount + 0) * this.baselineHeight * 0.75)
        .fixedBarHeight(0.5 * this.baselineHeight)
        .gap(0.25 * this.baselineHeight)
        .elasticX(true)
        .on('renderlet', () => {
          this.updateIsFiltered()
        })
        // .ordering(function(d) {
        //   return d.key
        // })
        .transitionDuration(this.transitionDuration)

      this.chart.render()
    }
  },
  mounted() {
    this.resize()
    this.dimension = this.crossfilterIndex.dimension(
      (d) =>
        (this.localize
          ? this.translate(d[this.fieldName] || '[none]')
          : d[this.fieldName]) || (this.multiple ? ['none'] : 'none'),
      this.multiple
    )
    this.group = this.dimension.group().reduceCount()

    this.chart = rowChart(this.$refs.cointainer)
      .dimension(this.dimension)
      .group(this.group)
  },
  methods: {
    ...VDCTile.methods
  }
}
</script>
