<template lang="pug">
  .tile
    .tile__header
      .tile__title {{translate('search')}}
    .tile__body
      loading(v-if="!loaded")
      .text-filter(ref="cointainer")
</template>

<script>
import VDCTile from './VDCTile'
import { textFilterWidget } from './../lib/dc-custom'

export default {
  name: 'VDCTileSearch',
  data: VDCTile.data,
  props: VDCTile.props,
  watch: {
    loaded() {
      this.dimension = this.crossfilterIndex.dimension((d) => JSON.stringify(d))
      this.chart = textFilterWidget('.text-filter')
        .dimension(this.dimension)
        .placeHolder(this.translate('search-string'))
        .on('renderlet', () => {
          this.$emit('update')
        })

      this.chart.render()
    }
  },

  methods: {
    ...VDCTile.methods
  }
}
</script>

<style lang="stylus" scoped>
@import '~@theme/styles/mixins/'
</style>
