<template lang="pug">
  .tile
    .tile__header
      .tile__title {{translate('filter')}}
    .tile__body
      loading(v-if="!loaded")
      .filter-reset(:class="isFiltered ? 'filtered' : 'unfiltered'")
        p
          span.hint {{translate('filters-hint')}}
          span.reset
            button.button--link(@click="resetAll") {{translate('reset-filters-1')}}
        div.hidden(ref="container")
</template>

<script>
import VDCTile from './VDCTile'
import { renderAll, filterAll, dataCount } from './../lib/dc-custom'

export default {
  name: 'VDCTileReset',
  props: VDCTile.props,
  data: VDCTile.data,
  methods: {
    ...VDCTile.methods,
    resetAll: function () {
      filterAll()
      renderAll()
    }
  },
  watch: {
    loaded() {
      this.chart = dataCount(this.$refs.container)
      this.chart
        .crossfilter(this.crossfilterIndex)
        .groupAll(this.crossfilterIndex.groupAll())
        .on('renderlet', () => {
          this.updateIsFiltered()
        })
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~@theme/styles/mixins/'

.filter-reset

  transition opacity

  p
    $baselined-typography(body-xs)
    text-overflow: ellipsis;
    overflow: hidden;
    span
      display inline-block
      width 100%

  &.unfiltered
    .hint
      opacity 1
    .reset
      opacity 0
  &.filtered
    .hint
      display none
    .reset
      opacity 1
</style>
