<template lang="pug">
  .tile(:class="'filter--' + $props.fieldName")
    .tile__header
      .reset(:class="{visible: hasFilterApplied}")
        button.button--link(@click="reset") Reset
      .tile__title {{translate($props.fieldName)}}
    .tile__body(:class="{'filtered': isFiltered, 'unfiltered': !isFiltered}")
      loading(v-if="!loaded")
      .bar-chart(ref="container" :data-field-name="fieldName")
</template>

<script>
import VDCTile from './VDCTile'
import { format, scaleLinear } from 'd3'
import { barChart } from './../lib/dc-custom'
import { defaultBaselineHeight } from './VDCTile'

export default {
  name: 'VDCTileBarChart',
  mixins: [VDCTile],
  data: VDCTile.data,
  props: {
    ...VDCTile.props,
    fieldName: {
      type: String,
      default: 'when'
    },
    baselineHeight: {
      type: Number,
      default: defaultBaselineHeight
    }
  },
  watch: {
    loaded() {
      this.dimension = this.crossfilterIndex.dimension((d) => d[this.fieldName])

      this.group = this.dimension.group().reduceCount()
      VDCTile.methods.remove_empty_bins(this.group)

      const allYears = this.group
        .top(Infinity)
        .map((y) => y.key)
        .filter((y) => y !== '')
        .sort()

      this.chart = barChart(this.$refs.container)
        .height(4.5 * this.baselineHeight)
        .x(
          scaleLinear().domain([
            allYears[0] - 1,
            allYears[allYears.length - 1] + 0.5
          ])
        )
        .elasticY(true)
        .elasticX(false)
        .centerBar(true)
        .dimension(this.dimension)
        .group(this.group)
        .margins({
          ...this.margins,
          bottom: this.baselineHeight,
          top: this.baselineHeight
        })
        .ordinalColors(['#f0f0f0'])
        .renderHorizontalGridLines(true)
        .transitionDuration(this.transitionDuration)
        .on('renderlet', () => {
          this.updateIsFiltered()
          // this.chart
          //   .selectAll('g.y')
          //   .attr('transform', 'translate(' + this.width + ',0)')
        })

      this.chart.xAxis().ticks(5).tickFormat(format('2'))
      this.chart.yAxis().ticks(3)
    }
  },
  methods: {
    ...VDCTile.methods
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/mixins/'

//:deep(.bar-chart)
//  .tick text
//    font-size $SCREEN__TEXT__FONT_SIZE__XSMALL
//
//  .axis .domain
//    color var(--interaction__color--neutral)
//
//  .grid-line.horizontal line
//    stroke-width 1px
//    stroke-dasharray 2, 2
//    stroke black
</style>
