<template lang="pug">
  .tile.tile--bubble-overlay
    .tile__header
      .reset(:class="{visible: hasFilterApplied}")
        button.button--link(@click="reset") Reset
      .tile__title {{translate($props.fieldName)}}
    .tile__body
      loading(v-if="!loaded")
      div.chart(ref="cointainer" )
        svg#map(:width="width" :height="height" :viewport="[0,0, width, height]")
          g.countries
</template>

<script>
import { select } from 'd3-selection'
import { bubbleOverlay } from './../lib/dc-custom'

import { feature } from 'topojson-client'
import geoData from './../bundeslaender.geo.topo.json'
import { geoMercator, geoPath } from 'd3-geo'

import { observer } from 'vue-mutation-observer'

import VDCTile from './VDCTile'

export default {
  name: 'VDCTileLocation',
  mixins: [VDCTile],
  directives: { observer },
  data: () => ({
    ...VDCTile.data
  }),

  props: {
    ...VDCTile.props,
    fieldName: {
      type: String,
      default: 'affiliationRef'
    }
  },
  watch: {
    loaded() {
      this.dimension = this.crossfilterIndex.dimension((d) => {
        return d[this.fieldName] || 'none'
      })
      this.group = this.dimension.group().reduceCount()

      this.chart = bubbleOverlay(this.$refs.cointainer)
        .svg(select('svg#map'))
        .dimension(this.dimension)
        .group(this.group)

        .radiusValueAccessor((p) => p.value / 2)
        .title(({ key }) => key)
        .transitionDuration(this.transitionDuration)
        .label(({ key }) =>
          this.$store.getters['data/affiliationLabelShort'](key)
        )
        .on('renderlet', () => {
          this.updateIsFiltered()
          this.chart.selectAll('.node text')
        })
      Array.from(this.group.top(Infinity)).forEach((d) => {
        if (d.key) {
          this.chart.point(
            d.key,
            ...this.projection(
              this.$store.getters['data/affiliationCoordinates'](d.key)
            )
          )
        }
      })
      this.chart.render()
    }
  },

  computed: {
    path() {
      return geoPath(this.projection)
    },
    projection() {
      return geoMercator().fitExtent(
        [
          [0, this.height * 0.02],
          [this.width, this.height]
        ],
        this.points
      )
    },
    bundeslaender() {
      return feature(geoData, geoData.objects['DEU_adm2']).features
    },
    points() {
      return {
        type: 'FeatureCollection',
        features: Object.values(
          this.$store.getters['data/affiliationCoordinates']()
        ).map((d) => ({
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: d
          }
        }))
      }
    }
  },
  mounted() {
    this.resize()
    this.countriesLayer = select('g.countries')

    this.countriesLayer
      .selectAll('path')
      .data(this.bundeslaender)
      .enter()
      .append('path')
      .attr('fill', '#dddddd')
      .attr('stroke', 'white')
      .attr('d', this.path)
  },

  methods: {
    ...VDCTile.methods
    // getLocation(key) {
    //   return this.locations(key)
    // }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/mixins/';

.tile--bubble-overlay {
  height: 100%;

  .node {
    cursor: pointer;
  }

  .node.deselected {
    fill-opacity: 0.2;

    circle {
      fill-opacity: 0.2;
      stroke-opacity: 0.2;
    }
  }

  .tile__body {
    div.chart {
      height: 100%;
      width: 100%;
    }

    circle {
      fill-opacity: 0.5;
      stroke: var(--interaction__color--spot);
      fill: white;
      stroke-width: 2px;
    }

    text {
      font-size: $SCREEN__TEXT__FONT_SIZE__XSMALL;
    }
  }
}
</style>
