<template lang="pug">
  .tile
    .tile__header
      .tile__title {{translate('count')}}
    .tile__body
      loading(v-if="!loaded")
      .data-count(ref="container")
</template>

<script>
import { numberDisplay } from './../lib/dc-custom'
import * as d3 from 'd3'
import VDCTile from './VDCTile'

export default {
  name: 'VDCTileCount',
  props: VDCTile.props,
  data: VDCTile.data,

  watch: {
    loaded() {
      const format = d3.format(
        Object.assign(d3.formatSpecifier('f'), {
          precision: d3.precisionFixed(0)
        })
      )
      this.chart = numberDisplay(this.$refs.container)
      this.chart
        .group(this.crossfilterIndex.groupAll())
        .valueAccessor((x) => x)
        .html({
          some: this.translate('dataCountTemplate__some').replace(
            /%total-count/,
            this.crossfilterIndex.size()
          ),
          all: this.translate('dataCountTemplate__all').replace(
            /%total-count/,
            this.crossfilterIndex.size()
          ),
          none: this.translate('dataCountTemplate__none').replace(
            /%total-count/,
            this.crossfilterIndex.size()
          )
        })
        .formatNumber(format)
        .transitionDuration(this.transitionDuration)

      this.chart.render()
    }
  }
}
</script>

<style lang="stylus"></style>
