/* eslint-env browser */

<template lang="pug">
  div.grid-helper
    div.grid
      div.baseline(v-for="({i,y}) in baselines" :style="{top: y}")
       div.label {{i}}
      div.column(v-for="({i,x}) in columns" :style="{left: x}")
        div.label {{i}}
        <!--      div.row(v-for="({i,x}) in columns" :style="{top: x}")-->
        <!--        div.label {{i}}-->
</template>

<script>
import toPx from 'unit-to-px'
export default {
  name: 'PerfectGrid',
  methods: {
    bl: function (b) {
      return b * this.$props.baselineHeight
    },
    toPixel: function (b) {
      return toPx(b)
    }
  },
  computed: {
    tp() {
      return this.toPixel('1pt')
    },
    layoutElement() {
      return document.querySelector('.layout')
    },

    baselineHeight: function () {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--baseline-height')
    },
    pageWidth: function () {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__width')
    },
    pageHeight: function () {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__height')
    },
    margin() {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__margin')
    },
    gridHeight() {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__grid-height')
    },
    gridWidth() {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__grid-width')
    },
    columnCount() {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__column-count')
    },
    columnWidth() {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__column-width')
    },
    columnGapWidth() {
      return window
        .getComputedStyle(this.layoutElement)
        .getPropertyValue('--page__column-gap-width')
    },
    baselineCount() {
      // console.log(this.gridHeight )
      return 12 * 4 + 1 //Math.ceil(this.gridHeight / this.baselineHeight) + 1
    },
    baselines() {
      return Array.from({ length: this.baselineCount }, (v, i) => ({
        i: i + 1,
        y: `calc(${i} * var(--baseline-height))`
      }))
    },
    columns() {
      return Array.from({ length: this.columnCount }, (v, i) => ({
        i: i + 1,
        x: `calc(${i} * var(--page__column-width) + ${i} * var(--page__column-gap-width))`
      }))
    }
  }
}
</script>

<style lang="stylus">

.grid-helper
  position: absolute
  top var(--page__bleed)
  left var(--page__bleed)
  user-select none
  width var(--page__width)
  height var(--page__height)
  overflow hidden

  .grid
    position: absolute
    top var(--page__margin)
    left var(--page__margin)
    bottom var(--page__margin)
    right var(--page__margin)
    background-color rgba(black, .05)

    .label
      font-size 8px
      opacity .5

    .baseline
      background-color rgba(black, .1)
      height 1px
      position absolute
      right 0
      left 0
      .label
        margin-left: calc(-3 * var(--baseline-height))
        text-align right
        width calc(2 * var(--baseline-height))


    .column
      background-color rgba(black, .05)
      position absolute
      top 0
      bottom 0
      width var(--page__column-width)
      .label
        margin-top: calc(-2 * var(--baseline-height))
    .row
      background-color rgba(black, .05)
      position absolute
      left 0
      right 0
      height var(--page__column-width)
      .label
        position absolute
        right calc(-1  * var(--baseline-height))
</style>
