<template lang="pug">
  .page(:class="pageClasses")
    .page__grid
      header.page__header
        .page__header-block
          transition(name='header-slide' mode='out-in')
            .page__supertitle(:key="$frontmatter.supertitle__html")
              span(v-html="$frontmatter.supertitle__html")
          transition(name='header-slide' mode='out-in')
            h1.page__title(:key="$frontmatter.title__html")
              span(v-html="$frontmatter.title__html")
          transition(name='header-slide' mode='out-in')
            p.page__subtitle(v-if="$frontmatter.subtitle__html" :key="$page.subtitle__html")
              span(v-html="$frontmatter.subtitle__html")
      main.page__main
        transition(name='fade'  mode='out-in')
          Content.content(:key="$frontmatter.title__html")
</template>

<script>
export default {
  computed: {
    pageClasses() {
      return [this.$page.frontmatter.pageType, this.$page.frontmatter.pageClass]
    }
  }
}
</script>
