/* eslint-env browser */

<template lang="pug">
  .spread-sheet(ref="spread-sheet" :style="{transform: `scale(${(this.$store.state.ui.isSpreadFit) ? scaleFactor : 1})`}")
    PerfectGrid(v-if="this.$store.state.ui.areBaselinesVisible && this.$store.state.ui.isInPrintView" :baselineHeight="$store.getters['ui/baselineHeight']")
    PerfectGrid(style="left: unset; right: var(--page__bleed);" v-if="this.$store.state.ui.areBaselinesVisible && this.$store.state.ui.isInPrintView" :baselineHeight="$store.getters['ui/baselineHeight']")
    .spread(:class="cssClasses")
      .spread__background
        Content.content(slot-key="background")
        .cover
      .spread__background-left
        Content.content(slot-key="background-left")
      .spread__background-right
        Content.content(slot-key="background-right")
      .spread__aside(v-if="showSlot('aside')")
        Content.content(slot-key="aside")
      .spread__grid
        .spread__area(data-template-name="header")
          header.spread__header.spread__area
            //transition(name='header-transition' mode='out-in')
            .spread__supertitle(v-if="$frontmatter.supertitle__html")
              span(v-html="$frontmatter.supertitle__html")
            //transition(name='header-transition' mode='out-in')

            h1.spread__title(:data-section-number="$frontmatter.sectionNumber")
              //div.spread__section-number {{$frontmatter.sectionNumber}}
              span.pathicles
                span.section-number {{$frontmatter.sectionNumber}}
                span(v-html="$frontmatter.title__html")
            //transition(name='header-transition' mode='out-in')
            p.spread__subtitle(v-if="$frontmatter.subtitle__html || $frontmatter.subtitle")
              span.pathicles(v-html="$frontmatter.subtitle__html || $frontmatter.subtitle")

        .spread__area.content(v-for="slot in gridSlots" :data-template-name="slot" :key="slot" :style="slot.indexOf('cell-') > -1 ? 'grid-area: ' + slot.replace('cell-', '').split('-').join(' / '): ''")
          Content.content(:slot-key="slot")

</template>

<script>
import { watchViewport, unwatchViewport } from 'tornis'

export default {
  name: 'Spread',
  data: function () {
    return {
      scaleFactor: 1
    }
  },
  computed: {
    cssClasses() {
      return [this.$page.frontmatter.pageClass]
    },
    gridSlots() {
      return (this.$frontmatter.slots || []).filter((s) => s !== 'aside')
    }
  },
  methods: {
    showSlot(slotKey) {
      if ((this.$page.frontmatter.slots || []).indexOf(slotKey) === -1)
        return false
      return true
    },
    handleViewportChange() {
      this.scaleFactor =
        document.querySelector('.layout__main').offsetWidth /
        this.$refs['spread-sheet'].offsetWidth
    }
  },
  mounted() {
    watchViewport(this.handleViewportChange)
  },
  destroyed() {
    if (typeof window !== 'undefined' && window.document) {
      unwatchViewport(this.handleViewportChange)
    }
  }
}
</script>
