<template lang="pug">
  a(:href="'/media/strategie-2030__' + $themeConfig.locales[$localePath].version + '.pdf'") PDF-Version
</template>

<script>
export default {
  name: 'pdf-link',
  computed: {}
}
</script>
