<template lang="pug">
  .recommendation(:data-name="name")
    header
      h3.md-heading_open {{item.title}}
    .body.content(v-html="item.content")

</template>

<script>
import recommendations from '@dynamic/collection__recommendations'

export default {
  name: 'Recommendation',

  props: {
    name: {
      type: String,
      required: true
    }
  },
  computed: {
    item: function() {
      return recommendations.find(({ id }) => id === `collection/${this.name}`)
    }
  }
}
</script>

<style lang="stylus">

@import '~@theme/styles/config.styl'
@import '~@theme/styles/mixins/index.styl'

.recommendation
  margin-bottom $bl(2)
</style>
