<template lang="pug">
  .research-area-header(:data-name="name")
    figure.icon(:class="type")
      //img(:src="imagePath()")
      figcaption(v-if="title")
        div(v-html="(title.indexOf(' ') === -1 ? '<br/>' : '') + title")
</template>

<script>
export default {
  name: 'ResearchTopic',

  props: {
    type: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'physics'
    },
    title: {
      type: String,
      default: 'physics'
    }
  },
  methods: {
    imagePath() {
      try {
        // eslint-disable-next-line no-undef
        return require('@kfs-report/report-2019/src/media/icons/svg-white/' +
          this.name +
          '.svg')
      } catch (e) {
        return ''
      }
    }
  }
}
</script>

<style lang="stylus">

/*@import '~@theme/styles/config.styl'*/
/*@import '~@theme/styles/mixins/palette.styl'*/
/*
.research-area-header
  margin-bottom 0
  margin-bottom $bl(1)
  height $bl(3)

figure.icon
  width 100%
  height $bl(3)
  display flex
  flex-direction row-reverse

  img
    height $bl(2)
    margin-top $bl(.5)
    display block
    flex 0 0 $bl(3)

  figcaption
    flex 1 0 $bl(5)
    font-variant-caps all-small-caps
    height $bl(3)
    line-height $bl(3)

    div
      padding-left $bl(.5)
      padding-right 0
      font-size 13px
      line-height $bl(1)
      padding-top $bl(.5)
      $bold()
      color rgba(black, .7)

*/


.research-topic[data-name="health"]
  .research-area-header
    background-color  var(--color__topic--health)

  strong
    background-color #ffcdd2

.research-topic[data-name="it"]
  .research-area-header
    background-color var(--color__topic--it)

  /*strong*/
  /*  background-color #d7ccc8*/
  /*  padding 1px*/

.research-topic[data-name="greener-chemistry"]
  .research-area-header
    background-color var(--color__topic--sustainable-production)
  /*strong*/
  /*  background-color #c8e6c9*/
  /*  padding 1px*/

.research-topic[data-name="environment"]
  .research-area-header
    background-color  var(--color__topic--environment)
  /*strong*/
  /*  background-color #b3e5fc*/
  /*  padding 1px*/
</style>
