<template lang="pug">
  .research-focus-area(:data-name="name")
    header
      h2.md-heading_open {{item.title}}
    .body(v-html="item.content")

</template>

<script>
import items from '@dynamic/collection__research-focus-areas'

export default {
  name: 'Recommendation',

  props: {
    name: {
      type: String,
      required: true
    }
  },
  computed: {
    item: function() {
      return items.find(({ id }) => id === `collection/${this.name}`)
    }
  }
}
</script>

<style lang="stylus">

@import '~@theme/styles/config.styl'
@import '~@theme/styles/mixins/index.styl'

.research-focus-area
  margin-bottom $bl(2)
</style>
