<template lang="pug">
  table.md-table_open
    thead
      tr
        th
          div Hochschule
        th.aligned--right
          div SWS
        th
          div Fachbereich
    tbody
      tr(v-for="([name, v]) in byUniversities")
        td.nw
          div {{name}}
        td.aligned--right
          div {{v.sws}}
        td.nw
          div {{fachbereich(name).join(", ")}}
    caption
      div Hochschulen mit Lehrveranstaltungen im Bereich Beschleunigerforschung

</template>

<script>
import teachings from '@bpde/common-data/src/data/teaching.json'
import { rollups, groups } from 'd3-array'
import { sum, hierarchy } from 'd3'

export default {
  props: {},
  computed: {
    byUniversities: function() {
      const root = hierarchy(
        [
          null,
          rollups(
            teachings,
            v => ({ entries: v, sws: sum(v, d => d['SWS']) }),
            d => d.university
          )
        ],
        ([, value]) => value
      )
        // .sum(([, value]) => value)
        .sort((a, b) => b.sws - a.sws)

      const universities = root.data[1].sort((a, b) => b[1].sws - a[1].sws)
      console.log(root.data[1])
      console.log(universities)
      return universities
    }
  },
  methods: {
    fachbereich(university) {
      return {
        'HU Berlin': ['Physik'],
        'RWTH Aachen': ['Physik'],
        'TU Darmstadt': ['Physik', 'E-Technik'],
        'TU Dortmund': ['Physik'],
        'Uni Frankfurt': ['Physik'],
        'Uni Hamburg': ['Physik'],
        'Uni Mainz': ['Physik'],
        'Uni Siegen': ['Physik'],
        'Uni Rostock': ['E-Technik'],
        KIT: ['Physik']
      }[university]
    }
  }
}
</script>

<style lang="stylus">

@import '~@theme/styles/config.styl'
@import '~@theme/styles/mixins/index.styl'

.recommendation
  margin-bottom $bl(2)
</style>
