<template lang="pug">
  .toc-items
    toc-items(:items="sitemapItems")
</template>

<script>
import TocItems from './TocItems'
export default {
  name: 'Toc',
  components: { TocItems },
  computed: {
    sitemapItems() {
      return (
        (this.$sitemapper &&
          this.$sitemapper.sitemapTrees &&
          this.$sitemapper.sitemapTrees[this.$localePath] &&
          this.$sitemapper.sitemapTrees[this.$localePath][0]) ||
        []
      )
    }
  }
}
</script>
