<template lang="pug">
.toc-items(v-if="items && items.length > 0")
  .toc__item(v-for='item, i in items'
    :key="i"
    :data-depth="depth"
    :data-path="item.data.path"
    :data-id="'item-' + i")
    component.toc__item-link(
      :is="item.data.path ? 'router-link' : 'div'"
      :to="item.data.path" :data-depth="depth" )
      span.toc-item__outline(v-html="item.data.sectionNumber")
      span.toc__item-title(v-html="item.data.title")
      <!--      .toc__item-link(v-else-if="item.data.title" :data-depth="depth" )-->
      <!--        span.toc-item__outline(v-html="item.data.sectionNumber")-->
      <!--        span.toc__item-title(v-html="item.data.title")-->
    toc-items(v-if="item.children" :items="item.children"  :depth="depth+1")

</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    depth: {
      type: Number,
      default: 1
    }
  },
  methods: {
    showItem(item) {
      return true || item.data.isInTOC
    }
  }
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins/index.styl'

span.toc-item__outline
  width $bl(3)
  text-align right
  margin-right $bl(1)
  display inline-block

.toc__item-title
  text-decoration none

.toc__item-link
  $baselined-typography(body-md)
  text-decoration none
  height $bl(2)
  display block

.toc__item-link[data-depth='3']
  margin-top $bl(1)
  .toc__item-title
    text-transform none
    $bold()
    $caps()
</style>
