/* eslint-env browser */

<template lang="pug">
  .layout(:class="layoutClasses")
    a.skip-link.hidden(href="#maincontent") Skip to main content
    DebugInfo
    .layout__sidebar
      sidebar
    .layout__main
      keep-alive
        Component(:is="childComponentName" id="maincontent")
    navbar(@toggle-sidebar="toggleSidebar")
</template>

<script>
import { NAMESPACED_MUTATION_TYPES } from '@jerrobs/vuepress-theme-master/store/modules/ui'

export default {
  name: 'Layout',
  data: function () {
    return {}
  },
  beforeMount() {
    this.$store.commit(NAMESPACED_MUTATION_TYPES.READ_CSS_VARIABLES)
  },
  components: {
    Page: () => import('./pages/Page.vue'),
    Home: () => import('./pages/Home.vue'),
    Spread: () => import('./pages/Spread.vue')
  },
  computed: {
    childComponentName() {
      if (this.$frontmatter.layoutType === 'home') return 'Home'
      if (this.$frontmatter.layoutType === 'spread') return 'Spread'
      if (this.$frontmatter.layoutType === 'PathiclesStory') return 'Home'
      return 'Page'
    },
    // formatted_version_date() {
    //   const options = {
    //     year: 'numeric',
    //     month: 'short',
    //     day: 'numeric',
    //     hour: 'numeric',
    //     minute: 'numeric',
    //     hour12: false
    //   }
    //   try {
    //     return Intl.DateTimeFormat(this.$lang, options).format(
    //       new Date(this.$localeConfig.version_date)
    //     )
    //   } catch (e) {
    //     return ''
    //   }
    // },
    layoutClasses() {
      const userPageClass = this.$page && this.$page.frontmatter.type
      return [
        {
          'layout--sidebar-hidden': !this.$store.state.ui.isSidebarOpen,
          'layout--baselines-visible': this.$store.state.ui.areBaselinesVisible,
          'layout--debug-view': this.$store.state.ui.areBaselinesVisible,
          'layout--print-view': this.$store.state.ui.isInPrintView,
          'layout--screen-view': !this.$store.state.ui.isInPrintView,
          ['layout--' + this.$frontmatter.layoutType || 'default']: true
        },
        userPageClass
      ]
    }
  },
  methods: {
    toggleSidebar() {
      this.$store.commit(NAMESPACED_MUTATION_TYPES.TOGGLE_SIDEBAR)
    }
  }
}
</script>
