@import '~@parent-theme/styles/mixins'
@import '~@parent-theme/styles/mixins'
@import './mixins/'

// .custom-block.cta
// z-index 100
// text-align center
// $interaction-element()
// background-color var(--interaction__color--spot)
// padding $bl(1) $bl(.5) $bl(1) $bl(1)
// margin 0 $bl(-.5)
// margin-bottom $bl(2)
// p
// $baselined-typography(body-lg)
a.header-anchor
  position absolute
  display block
  display block
  display none

section
  margin-bottom $bl(2)

p + section
  margin-top $bl(2)

.content__default, .content__default section
  sub
    position relative
    top 5px
    display inline-block
    transform scale(0.8)

  a
    $link()

  > h2, > h3, > h4, > p, > ul, > ol
    max-width $MAX_CONTEN_WIDTH

  h1
    color red !important

  > p, > ul, > ol, > dl, > blockquote
    $baselined-typography(body-md)

  > h2
    $baselined-typography(body-lg-1-0-1)
    $caps()

    span.pathicles
      position relative
      $pathicles-span()

      &::after
        position absolute
        top $bl(-1.33)
        display block
        content ' '
        content attr(data-label)
        $bold()
        margin-right 0.5em
        $baselined-typography(body-sm)

  > h3
    $baselined-typography(body-md)
    $caps()
    $bold()

  > h4
    $baselined-typography(body-md)
    $caps()

  code, kbd
    font-family source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

  > h3 + p, > h4 + p, > h3 + ul, > h4 + ul
    margin-top $bl(1)

  p.no-indent
    text-indent 0

  hr
    margin 0
    padding 0
    height $bl(1)
    border 0

  img
    max-width 100%

  blockquote
    margin-left 0
    padding-left $bl(0.5)
    max-width 700px
    border-left calc(0.25 * var(--baseline-height)) solid #dfe2e5
    font-style italic

  cite
    float right
    font-style normal

  > ul, > ol
    position relative
    margin-left $bl(1)

  ul li:before
    position absolute
    left calc(-1 * var(--baseline-height))
    display inline-block
    width $bl(1)
    content '–'
    text-align center
    font-family Arial

  > ol
    counter-reset ol-counter

  > ol li
    counter-increment ol-counter

  > ol li:before
    position absolute
    left calc(-1 * var(--baseline-height))
    display inline-block
    width $bl(1)
    content counter(ol-counter)
    text-align left
    font-variant small-caps
    $bold()
    content counter(ol-counter, decimal-leading-zero)
    opacity 0.8

  > p.small
    $baselined-typography(body-md)
