@import './mixins/'
@import '~@parent-theme/styles/reset'
@import '~@parent-theme/styles/root'
@import './config.styl'
@import './content__block'
@import '~@parent-theme/styles/content__inline'
@import '~@parent-theme/styles/content__table'
@import '~@parent-theme/styles/layout'
@import '~@parent-theme/styles/layout__page'
@import '~@parent-theme/styles/layout__sidebar'
@import '~@parent-theme/styles/layout__navbar'
@import '~@parent-theme/styles/list'
@import '~@parent-theme/styles/error'
@import './badges'
@import './layout__debug.styl'
@import './layout__page-header.styl'
@import './transitions'

:root
  --font-family--body var($FONT-FAMILY--BODY, "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif")
  --SECTION-NUMBER-DISPLAY $SECTION-NUMBER-DISPLAY
  --page__padding__x 0.5 * $BASELINE-HEIGHT
  --ui__font-size $UI__FONT_SIZE
  --ui__line-height $UI__BASELINE_HEIGHT
  --ui__padding-x 0.5 * $UI__BASELINE_HEIGHT
  --ui__navbar-height $UI__NAVBAR_HEIGHT
  --ui__sidebar__item-height $UI__BASELINE_HEIGHT
  --ui__sidebar__width 100vw
  --padding__y 1 * $BASELINE-HEIGHT
  --padding__x 0.25 * $BASELINE-HEIGHT
  --padding__x--neg -0.25 * $BASELINE-HEIGHT

  +mq--sm()
    --page__padding__x 0.5 * $BASELINE-HEIGHT
    --padding__x 0.25 * $BASELINE-HEIGHT
    --padding__y 1 * $BASELINE-HEIGHT

  +mq--gte-md()
    --page__padding__x $BASELINE-HEIGHT
    --ui__sidebar__width 5 * $UI__BASELINE_HEIGHT
    --padding__x 0.5 * $BASELINE-HEIGHT
    --padding__y 1 * $BASELINE-HEIGHT

  +mq--gte-lg()
    --page__padding__x 2 * $BASELINE-HEIGHT
    --ui__sidebar__width 7 * $UI__BASELINE_HEIGHT
    --padding__y $BASELINE-HEIGHT

  +mq--gte-xl()
    --ui__sidebar__width 9 * $UI__BASELINE_HEIGHT
    --padding__x 1 * $BASELINE-HEIGHT

:root
  --font-family--body var($FONT-FAMILY--BODY, "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif")
  --SECTION-NUMBER-DISPLAY $SECTION-NUMBER-DISPLAY

.layout--view-screen
  --baseline-height $BASELINE-HEIGHT
  $set-baselined-typography('body-sm', $SCREEN__TEXT__FONT_SIZE__SMALL, $BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-md', $SCREEN__TEXT__FONT_SIZE__REGULAR, $BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-lg', $SCREEN__TEXT__FONT_SIZE__LARGE, $BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-md-1-0-1', $SCREEN__TEXT__FONT_SIZE__REGULAR, $BASELINE-HEIGHT, 1, 0, 1, $FONT-BASELINE)
  $set-baselined-typography('body-lg-1-0-1', $SCREEN__TEXT__FONT_SIZE__LARGE, $BASELINE-HEIGHT, 1, 0, 1, $FONT-BASELINE)
  $set-baselined-typography('body-lg-1-0-0', $SCREEN__TEXT__FONT_SIZE__LARGE, $BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('header-sm', $SCREEN__HEADER__FONT_SIZE__SMALL, $BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('header-md', $SCREEN__HEADER__FONT_SIZE__REGULAR, $BASELINE-HEIGHT, 2, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('header-lg', $SCREEN__HEADER__FONT_SIZE__LARGE, $BASELINE-HEIGHT, 2, 0, 0, $FONT-BASELINE)
  --baselined-typography__pathicles__padding-top--header-sm 6px
  --baselined-typography__pathicles__padding-bottom--header-sm 8px
  --baselined-typography__pathicles__padding-top--body-lg-1-0-0 6px
  --baselined-typography__pathicles__padding-bottom--body-lg-1-0-0 4px
  --baselined-typography__pathicles__padding-top--body-lg-1-0-1 6px
  --baselined-typography__pathicles__padding-bottom--body-lg-1-0-1 5px
  --baselined-typography__pathicles__padding-top--header-sm 11px
  --baselined-typography__pathicles__padding-bottom--header-sm 8px
  --baselined-typography__pathicles__padding-top--header-md 10px
  --baselined-typography__pathicles__padding-bottom--header-md 4px
  --baselined-typography__pathicles__padding-top--header-lg 8px
  --baselined-typography__pathicles__padding-bottom--header-lg 3px

:root
  --interaction__color--hover-on $INTERACTION__COLOR--NEUTRAL--LIGHT
  --interaction__color--hover-off white
  --interaction__color--error red
  --interaction__color--spot $INTERACTION__COLOR--SPOT
  --interaction__color--spot--light $INTERACTION__COLOR--SPOT--LIGHT
  --interaction__color--success $INTERACTION__COLOR--SUCCESS
  --link-color rgb(100, 100, 100)
  --link-color--sidebar rgba(255, 255, 255, 0.4)
  --link-color--sidebar--active rgba(255, 255, 255, 0.9)
  --link-color--sidebar--exact-active rgba(255, 255, 255, 1)
  --page__background-color transparent
  --text-color rgba(0, 0, 0, 0.8)
  --text-color--sidebar rgba(255, 255, 255, 0.9)
  --ui__background-color rgba(40, 40, 40, 1)
  --ui__background-color--dark rgba(30, 30, 30, 1)
  --ui__navbar__background-color rgba(40, 40, 40, 1)

@import './print'
