
@media print
  :root
    --text-color rgba(0, 0, 0, 1)

@page
  margin-top 3cm
  margin-right 2cm
  margin-bottom 2cm
  margin-left 25mm
  size a4
  background-image url('/media/din-5008_b.png')

:root
  --baseline-height $PRINT__BASELINE-HEIGHT
  --baseline-step $PRINT__BASELINE-STEP
  --print__baseline-height $PRINT__BASELINE-HEIGHT
  $set-baselined-typography('body-sm', $PRINT__TEXT__FONT_SIZE__SMALL, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-md', $PRINT__TEXT__FONT_SIZE__REGULAR, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('body-lg', $PRINT__TEXT__FONT_SIZE__LARGE, $PRINT__BASELINE-HEIGHT, 1, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('header-sm', $PRINT__HEADER__FONT_SIZE__SMALL, $PRINT__BASELINE-HEIGHT, 2, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('header-md', $PRINT__HEADER__FONT_SIZE__REGULAR, $PRINT__BASELINE-HEIGHT, 2, 0, 0, $FONT-BASELINE)
  $set-baselined-typography('header-lg', $PRINT__HEADER__FONT_SIZE__LARGE, $PRINT__BASELINE-HEIGHT, 2, 0, 0, $FONT-BASELINE)
