// .header-slide-enter-active
// animation: bounce-in .2s
// 
// .header-slide-leave-active
// animation: bounce-in .2s reverse
// 
// @keyframes bounce-in
// 0%
// transform: translate(-100%)
// 
// 100%
// transform: translate(100%)
.fade-enter, .fade-leave-to
  opacity 0

.fade-enter-active, .fade-leave-active
  transition 0.5s

.slide-enter
  opacity 0
  transform scale3d(2, 0.5, 1) translate3d(400px, 0, 0)

.slide-enter-to
  transform scale3d(1, 1, 1)

.slide-enter-active, .slide-leave-active
  transition 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)

.slide-leave
  transform scale3d(1, 1, 1)

.slide-leave-to
  opacity 0
  transform scale3d(2, 0.5, 1) translate3d(-400px, 0, 0)

.rotate-enter
  transform perspective(500px) rotate3d(0, 1, 0, 90deg)

.rotate-enter-active, .rotate-leave-active
  transition 0.5s

.rotate-leave-to
  transform perspective(500px) rotate3d(0, 1, 0, -90deg)

.overlay-left-full-enter ~ .overlay-right
  width 100vw
  background-color red

.overlay-left-full-enter-active ~ .overlay-right, .overlay-left-full-leave-active ~ .overlay-right
  width 100vw

.overlay-left-full-enter-active ~ .overlay-right
  transition-timing-function ease-in

.overlay-left-full-enter-active ~ .overlay-right, .overlay-left-full-enter-to ~ .overlay-right
  display none

.overlay-left-full-enter-to ~ .overlay-left
  width 0

.overlay-left-full-leave-active ~ .overlay-left
  transition-timing-function ease

.overlay-left-full-enter ~ .overlay-left, .overlay-left-full-enter-active ~ .overlay-left, .overlay-left-full-enter-to ~ .overlay-left
  width 100vw
  transition-duration unset !important

.overlay-left-full-enter-active, .overlay-left-full-leave-active
  transition-duration var(--transition-duration)
