@import '~@parent-theme/styles/mixins/'
@import './vue-dc-explorer__charts.styl'
@import './vue-dc-explorer__layout.styl'
@import './vue-dc-explorer__tiles.styl'
@import './vue-dc-explorer__actions.styl'

.vue-dc-explorer
  .loading
    position fixed
    top 0
    z-index 10000
    width 100%
    height 100%

  .button--link
    display inline-block
    margin 0
    padding 0
    border none
    border-radius 0
    background none !important
    background-color transparent
    $link()
    font-size $SCREEN__TEXT__FONT_SIZE__SMALL
    cursor pointer


.dc-text-filter-input
  border none
  $baselined-typography(body-md)
  padding-bottom 0
  width 100%
  outline none
  background-color transparent


.name .given
  opacity .8
