.vue-dc-explorer
  .tiles
    display grid
    margin-right calc(-1 * var(--padding__x))
    margin-bottom $bl(1.5)
    margin-left calc(-1 * var(--padding__x))
    grid-gap $bl(0)
    grid-auto-columns 1fr
    grid-auto-rows $bl(3)

    .tile
      display flex
      flex-direction column
      overflow-y hidden
      height 100%
      box-shadow 0 0 5px rgba(black, 0.2) , 0 0 1px rgba(black, 0.5)

    .tile__header
      position relative
      flex 0 0 $bl(1)
      overflow-y hidden
      padding 0 var(--padding__x)
      text-overflow ellipsis
      text-transform uppercase
      background-color rgba(gray, .1)

      .reset, .tile__title
        font-size $SCREEN__TEXT__FONT_SIZE__XSMALL
        padding 0

      .tile__title
        $bold()


      .reset
        position absolute
        right var(--padding__x)
        z-index 100
        opacity 0
        transition opacity
        transition-duration 200ms
        text-align right

        button.button--link
          font-size $SCREEN__TEXT__FONT_SIZE__XSMALL

      .reset.visible
        opacity 1
        transition opacity
        transition-duration 200ms

    .tile__body
      flex 1
      padding 0 var(--padding__x)
      overflow-y scroll
      background-color rgba(gray, .05)

