.vue-dc-explorer
  .dc-chart
    rect.bar
      /* stroke: none; */
      cursor pointer

    rect.bar:hover
      fill-opacity 0.5

  rect.selection
    fill var(--interaction__color--spot)
    stroke var(--interaction__color--spot)
    stroke-width 2px

  .stack
    rect
      fill var(--interaction__color--spot)
      stroke var(--interaction__color--spot)
      stroke-width 0

    rect.deselected
      fill var(--interaction__color--neutral--dark, gray)

  g.row rect
    cursor pointer
    fill-opacity 1
    fill var(--interaction__color--spot)
    stroke var(--interaction__color--neutral--dark, gray)
    stroke-width 1px
    stroke-opacity 1

  .filtered g.row rect.deselected
    fill var(--interaction__color--neutral--dark, gray)

  g.row rect.selected
    fill var(--interaction__color--spot)

  .dc-chart g.row rect:hover
    fill var(--interaction__color--spot)
    fill-opacity 0.5
    stroke var(--interaction__color--spot)

  .dc-chart g.row text
    font-size $SCREEN__TEXT__FONT_SIZE__XSMALL
    cursor pointer

    g.selection
      fill var(--interaction__color--spot)

  .row-chart
    margin-top $bl(0)

    g.axis
      display none !important

    .deselected + text
      opacity 0.8

    .titlerow
      fill-opacity 0.5

  .number-display p
    font-size $SCREEN__TEXT__FONT_SIZE__XLARGE
    line-height $bl(2)
    text-align right

    .main-count
      $bold()

    .total-count
      $light()

      &:before
        content ' / '
