
.vue-dc-explorer
  .list-actions
    display flex
    flex-direction column-reverse
    justify-content flex-end
    align-items flex-end
    margin-bottom $bl(1)

    +mq--gte-md()
      flex-direction row

  .list-action
    $baselined-typography(body-sm)
    margin-left $bl(1)

  .list-action__title
    $bold()
    opacity 0.8
    transition opacity

    &:after
      margin-right 0.3em
      content ': '

  .list-action__option
    &:after
      margin-right 0.3em
      content ' | '

    button
      margin-right 0
      opacity 0.8
      transition opacity

    button.active
      opacity 1

  .list-action__option:last-child
    &:after
      content ' '

  .list-actions:hover
    .list-action__title, .list-action__option button
      opacity 1
      transition opacity
