<template lang="pug">
  aside.content
    h4.md-heading_open {{title}}
    slot
</template>
<script>
export default {
  name: 'Aside',
  props: {
    title: { default: '', type: String }
  }
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins/'
</style>
