<template lang="pug">
  .columns.content
    slot
</template>
<script>
export default {
  name: 'Columns',
  methods: {}
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins/'

.columns
  //max-width $MAX_CONTEN_WIDTH--XL + 1 * $BASELINE-HEIGHT
  display flex
  flex-direction column
  margin-left $bl(-.5)
  margin-right $bl(-.5)
  +mq--gte-md()
    flex-direction row
</style>
