<template lang="pug">
  .column.content
    slot
</template>
<script>
export default {
  name: 'Column',
  methods: {}
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins/'

.column
  padding-left $bl(.5)
  padding-right $bl(.5)
  flex 1 1

.column__title
  $baselined-typography(body-lg)
  $caps()
</style>
