<template lang="pug">
  .cta-component
    app-link.cta-component-link(:to="to")
      slot
</template>
<script>
export default {
  name: 'CTA',
  props: {
    to: { default: '/', type: String }
  }
}
</script>

<style lang="stylus">
@import '~@theme/styles/mixins/'

.cta-component
  z-index 100
  text-align center
  border-top $bl(.25) solid transparent
  border-bottom $bl(.25) solid var(--interaction__color--spot)
  padding $bl(.5)
  padding-bottom $bl(1)
  margin $bl(2) 0
  margin-bottom $bl(0.25)
  max-width: $MAX_CONTEN_WIDTH
  position relative

  &:after
    display block
    width 100%
    position absolute
    height 100%
    background-color var(--interaction__color--spot)
    content " "
    top 0
    z-index -50
    opacity: .5
    left 0

  a.cta-component-link:hover
    background-color transparent
    border none
    $bold()

  p
    $baselined-typography(body-lg)
    $caps()
</style>
