<template lang="pug">
  .debug-only
    .debug-info
      .screen-size &nbsp;
      .view
        span.print-view print
        span.screen-view screen
</template>

<script>
export default {}
</script>

<style lang="stylus">
@import './../styles/mixins'

.debug-info
  top 0
  width 100%
  position fixed
  z-index 12000
  padding 0 $bl(.5)
  display flex
  justify-content center

.screen-view, .print-view
  opacity .5
  display inline-list-item
  background-color rgba(white, .8)

.layout--screen-view .screen-view
  opacity 1
.layout--print-view .print-view
  opacity 1

+mq--xs()
  .screen-size:before
    content 'XS'

+mq--sm()
  .screen-size:before
    content 'SM'

+mq--md()
  .screen-size:before
    content 'MD'

+mq--lg()
  .screen-size:before
    content 'LG'

+mq--xl()
  .screen-size:before
    content 'XL'
</style>
