<template lang="pug">
  .expand-button__container--small(@click="$emit('toggle-expanded')")
    .expand-button__toggle-small(:data-collapsed="!value")

</template>
<script>
export default {
  name: 'expand-button-small',
  props: {
    value: { default: true, type: Boolean }
  }
}
</script>

<style lang="stylus">
@import './../styles/mixins/'

.expand-button__container--small
  width $bl(.5)
  height $bl(.5)
  background-color var(--interaction__color--spot)
  border-radius 50%
  position relative
  display inline-block


.expand-button__toggle-small
  top $bl(0.4)
  cursor pointer
  width $bl(1)
  height $bl(1)
  position absolute
  margin 0 auto

  &:before, &:after
    background: black
    content ' '
    height 2px
    position absolute
    width $bl(.25)
    transition transform 200ms ease

  &:after
    transform-origin center

  &[data-collapsed="true"]
    &:after
      transform: rotate(90deg)
    &:before
      transform rotate(180deg)
</style>
