<template lang="pug">
  .expand-button__container(:style="{visibility: hidden ? 'hidden' : 'visible'}")
    .expand-button__toggle(:data-collapsed="!expanded")
</template>
<script>
export default {
  name: 'ExpandButton',
  props: {
    expanded: { default: true, type: Boolean },
    hidden: { default: false, type: Boolean }
  }
}
</script>

<style lang="stylus" scoped>
@import './../styles/mixins/'

.expand-button__container
  display: flex
  align-items: center
  justify-content: center
  content " "
  width $bl(1)
  height $bl(1)
  //background-color var(--interaction__color--spot)
  position relative


.expand-button__toggle
  cursor pointer
  width $bl(.5)
  height $bl(.5)
  border solid 2px white
  border-radius 50%
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.95);



  &:before, &:after
    background: var(--interaction__color--spot)
    content ' '
    height $bl(.1)
    position absolute
    width $bl(.4)
    transition transform 200ms ease
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    transform-origin center center

  &[data-collapsed="true"]
    &:after
      transform: translate(-50%, -50%) rotate(90deg)

    &:before
      transform translate(-50%, -50%) rotate(180deg)
</style>
