/* eslint-env browser */

<template lang="pug">
footer.layout__navbar.navbar.navbar--bottom
  .navbar__item.navbar__item--sidebar-toggle(@click="$emit('toggle-sidebar')" aria-hidden="true")
    .navbar__item-label
      .navbar__label-text {{$themeConfig.locales[$localePath].menu}}
      .navbar__label-icon(aria-hidden="true")
        fa(:icon="faBars" aria-hidden="true")

  .navbar__item--locales
    router-link.navbar__item.navbar__item--locale(v-for='(localeOption, l) in localeOptions'
      :key='"locale-option-" + l'
      :class="{active: $localePath===localeOption.to }"
      :to="{ path: localeOption.to , query: { localeChange: true } }"
      )
      .navbar__item-label
        .navbar__label-text.long {{localeOption.label}}

  router-link.navbar__item.navbar__item--next(v-if="next && next.path" :to="next.path" tag="div")
    .navbar__item-label
      .navbar__label-text#next {{next.title}}
      .navbar__label-icon
        fa(:icon="faStepForward" role="presentation" aria-labelledby="next")

    <!--  .navbar__item.navbar__item&#45;&#45;back-to-top(@click="scrollToTop" :class="{active: showBacktoTop}")-->
    <!--    .navbar__item-label-->
    <!--      .navbar__label-text nach oben &nbsp;-->
    <!--      .navbar__label-icon-->
    <!--        fa(:icon="faChevronUp")-->

</template>

<script>
import Fa from 'vue-fa'
import {
  faBars,
  faChevronUp,
  faStepForward
} from '@fortawesome/free-solid-svg-icons'
import store from '../store'
import { resolveNext } from '../lib/util'

export default {
  components: { Fa },
  props: {
    threshold: {
      type: Number,
      default: 300
    }
  },
  data() {
    return {
      store,
      faStepForward,
      faChevronUp,
      faBars,
      scrollTop: null
    }
  },
  computed: {
    localeOptions() {
      return Object.keys(this.$themeConfig.locales)
        .filter((localePath) => {
          return localePath.length > 1 && this.$localePath !== localePath
        })
        .map((localePath) => ({
          to:
            (this.$frontmatter &&
              this.$frontmatter.i18n &&
              this.$frontmatter.i18n[localePath]) ||
            localePath,
          label: this.$themeConfig.locales[localePath].label,
          label__short: this.$themeConfig.locales[localePath].label__short
        }))
    },
    next() {
      if (this.$page.frontmatter.tour_exclude) {
        return
      }
      return resolveNext(
        this.$route.path,
        this.$sitemapper.sitemaps[this.$localePath] || []
      )
    },
    showBacktoTop() {
      return this.scrollTop > this.threshold
    }
  },
  methods: {
    // getScrollTop() {
    //   return (
    //     window.pageYOffset ||
    //     document.documentElement.scrollTop ||
    //     document.body.scrollTop ||
    //     0
    //   )
    // },
    // scrollToTop() {
    //   window.scrollTo({ top: 0, behavior: 'smooth' })
    //   this.scrollTop = 0
    // },
    //
    // mounted() {
    //   window.addEventListener('keydown', this.onkey)
    //   this.scrollTop = this.getScrollTop()
    //   window.addEventListener(
    //     'scroll',
    //     debounce(() => {
    //       this.scrollTop = this.getScrollTop()
    //     }, 100)
    //   )
    // }
  }
}
</script>
