<template>
  <router-link
    v-if="isInternal"
    class="nav-link"
    :to="link"
    :exact="exact"
    @focusout.native="focusoutAction"
    >{{ item.text }}</router-link
  >
  <a
    v-else
    :href="link"
    class="nav-link external"
    :target="target"
    :rel="rel"
    @focusout="focusoutAction"
  >
    {{ item.text }}
    <OutboundLink v-if="isBlankTarget" />
  </a>
</template>

<script>
import { isExternal, isMailto, isTel, ensureExt } from '../lib/util'
export default {
  props: {
    item: {
      required: true,
      type: String
    }
  },
  computed: {
    link() {
      return ensureExt(this.item.link)
    },
    exact() {
      if (this.$site.locales) {
        return Object.keys(this.$site.locales).some(
          (rootLink) => rootLink === this.link
        )
      }
      return this.link === '/'
    },
    isNonHttpURI() {
      return isMailto(this.link) || isTel(this.link)
    },
    isBlankTarget() {
      return this.target === '_blank'
    },
    isInternal() {
      return !isExternal(this.link) && !this.isBlankTarget
    },
    target() {
      if (this.isNonHttpURI) {
        return null
      }
      if (this.item.target) {
        return this.item.target
      }
      return isExternal(this.link) ? '_blank' : ''
    },
    rel() {
      if (this.isNonHttpURI) {
        return null
      }
      if (this.item.rel) {
        return this.item.rel
      }
      return this.isBlankTarget ? 'noopener noreferrer' : ''
    }
  },
  methods: {
    focusoutAction() {
      this.$emit('focusout')
    }
  }
}
</script>
