<template lang="pug">
 SWUpdatePopup
  .my-sw-update-popup(v-if='enabled' slot-scope='{ enabled, reload, message, buttonText }' @click='reload')
    .my-sw-update-popup__message
      p {{ message }}
    .my-sw-update-popup__button
      a.my-sw-update-popup__button-text {{ buttonText }}
</template>

<script>
import SWUpdatePopup from '@vuepress/plugin-pwa/lib/SWUpdatePopup.vue'

export default {
  name: 'ServiceWorkerUpdatePopup',
  components: { SWUpdatePopup }
}
</script>

<style scoped lang="stylus">
@import '~@theme/styles/mixins/'
.my-sw-update-popup
  position fixed
  right 0
  bottom 0
  left 0
  z-index 20
  height var(--ui__navbar-height)
  line-height var(--ui__navbar-height)
  border-radius 0

  line-height var(--ui__navbar-height)
  cursor pointer
  z-index 100000
  display flex
  background-color var(--interaction__color--spot)
  transition background 100ms

  &:hover
    background-color var(--interaction__color--spot--light)
    transition background 100ms

  .my-sw-update-popup__message, .my-sw-update-popup__button
    flex 1
    padding 0 .5em

  .my-sw-update-popup__message
    text-align right

  .my-sw-update-popup__button-text
    border-bottom dotted 1px black

.sw-update-popup-enter,
.sw-update-popup-leave-to
  transform translate(0, 150%) scale(1)
  opacity 0
</style>
