<template lang="pug">
  nav.sidebar-nav-items(v-if="items && items.length > 0")
    .sidebar-nav-item(v-for='item, i in items' :key='"item-" + i' :data-depth="depth" :data-path="item.data.path" :data-id="'item-' + i" v-if="showItem(item)")
      router-link.sidebar-nav__item-link(v-if="!item.data.excludeFromMenu && (typeof item.data.path !== 'undefined' && item.data.title)" :to="item.data.path" tag="a")
        div.sidebar-nav__item-outline
          span(v-for="i in item.data.sectionNumbers") {{i}}
        span.sidebar-nav__item-title(v-html="item.data.title" :data-section="item.data.sectionNumber")
      .sidebar-nav__item-link(v-else-if="item.data.title")
        span.sidebar-nav__item-title(v-html="item.data.title" :data-section="item.data.sectionNumber")
      sidebar-nav-items(v-if="item.children" :items="item.children" :depth="depth+1")
</template>

<script>
export default {
  name: 'SidebarNavItems',

  props: {
    items: {
      type: Array,
      default: () => []
    },
    depth: {
      type: Number,
      default: 1
    }
  },

  methods: {
    showItem(item) {
      if (
        // !this.$store.state.ui.areBaselinesVisible &&
        item.data.excludeFromMenu
      ) {
        return false
      }
      return true
    }
  }
}
</script>
