/* eslint-env browser */

<template lang="pug">
.sidebar__wrapper
  aside.sidebar
    .sidebar__main
      Component(v-if="authenticationComponent" :is="authenticationComponent")
      sidebar-nav-items(:items="sitemapItems")
    .sidebar__footer.debug-only
      p Version {{$localeConfig.version}}
      p {{formatted_version_date}}
      p(v-if="$localeConfig.sls_stage") SLS_STAGE: {{$localeConfig.sls_stage}}
</template>

<script>
// import SidebarNavItems from '@theme/components/SidebarNavItems.vue'
export default {
  name: 'Sidebar',
  components: {
    // SidebarNavItems
  },

  computed: {
    authenticationComponent() {
      return this.$store.state.auth ? 'authentication' : false
    },

    formatted_version_date() {
      const options = {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
        hour12: false
      }
      try {
        return Intl.DateTimeFormat(this.$lang, options).format(
          new Date(this.$localeConfig.version_date)
        )
      } catch (e) {
        return ''
      }
    },

    sitemapItems() {
      return (
        (this.$sitemapper.sitemapTrees &&
          this.$sitemapper.sitemapTrees[this.$localePath] &&
          this.$sitemapper.sitemapTrees[this.$localePath][0]) ||
        []
      )
    }
  }
}
</script>
