<template lang="pug">
  details(:open="open" v-on:toggle="toggle")
    summary.content
      p
        span {{summary}}
    expand-transition
      slot

</template>

<script>
export default {
  name: 'vue-details',
  model: {
    prop: 'open',
    event: 'change'
  },
  watch: {
    open: function (val) {
      this.updateVal(val)
    }
  },
  props: {
    open: { type: Boolean, default: false },
    summary: { type: String, default: 'SUMMARY' }
  },
  methods: {
    toggle: function (e) {
      this.$emit('change', e.target.open)
    },
    updateVal: function (open) {
      if (open) this.$el.setAttribute('open', '')
      else this.$el.removeAttribute('open')
    }
  },
  mounted: function () {
    this.updateVal(this.open)
  }
}
</script>

<style lang="stylus">

@import './../styles/mixins/'
summary
  outline none
  span
    $link()

details:hover summary::-webkit-details-marker:hover,
details > summary::-webkit-details-marker
  display none
</style>
