<template lang="pug">
  .form-container.form-container--narrow(:data-state="state")
    form.form(v-on:submit.prevent="submit")
      .form__header
        h2.form__title Passwort neu setzen (2/2)
        p.form__description 1. Bestätigungs-Link zuschicken lassen<br>2. Passwort festlegen

      .form__main
        form-item-text-field.hidden(fieldName="email" v-model="email" :v="$v.email" :i18nMessages="i18nMessages" type="email" autocomplete="email"  @change="updateState"  @blur="updateState")
        form-item-text-field.hidden(fieldName="confirmationCode" v-model="confirmationCode" :v="$v.confirmationCode" :i18nMessages="i18nMessages" type="number" @change="updateState" @blur="updateState")
        form-item-text-field(fieldName="password" v-model="password" :v="$v.password" :i18nMessages="i18nMessages" type="password" autocomplete="password" @change="updateState" @blur="updateState" :focusOnCreate="true")

      .form__footer
        .form-item.form-item--actions
          .form__actions--primary
            .form__button-wrapper
              button#button--login.form__button(type="submit")
                span {{i18nMessages.submitButton[state]}}

            .form__action-response.form__action-response--success(v-if="state === STATES.SUCCESS")
              p
                strong Sie können sich nun mit dem neuen Passwort
                router-link(:to="`/de/auth/login/?email=${email}`") anmelden
                | .

            .form__action-response.form__action-response--error(v-if="state === STATES.ERROR")
              p
                strong Es gab einen Fehler
              p.form__error(v-if="error") {{error.message}}

          .form__actions--secondary
            p.form-item__action-alternative
              router-link(to="/de/auth/login") {{i18nMessages.loginAlternative}}



</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, maxLength, minLength } from 'vuelidate/lib/validators'
import { NAMESPACED_ACTION_TYPES } from '@jerrobs/vuepress-plugin-amplify/lib/store/auth/actionsFactory'

export const WAITING = 'WAITING'
export const READY = 'READY'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}
export default {
  name: 'AuthSetPassword',
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    confirmationCode: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(6)
    },
    password: { required, minLength: minLength(12) }
  },

  data() {
    return {
      STATES,
      state: STATES.WAITING,
      errorMessage: null,
      error: null,
      email: this.$route.query.email || '',
      confirmationCode: this.$route.query.code || '',
      password: ''
    }
  },
  computed: {
    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    }
  },
  mounted() {
    // console.log(this.$route)
  },
  methods: {
    updateState() {
      if (!this.$v.$anyError) {
        this.state = this.STATES.READY
      } else {
        this.state = this.STATES.WAITING
      }
    },
    submit() {
      if (!this.$v.$error) {
        this.state = STATES.PROCESSING

        this.$store
          .dispatch(NAMESPACED_ACTION_TYPES.RESET_PASSWORD__CONFIRM, {
            email: this.email,
            code: this.confirmationCode,
            newPassword: this.password
          })
          .then(() => {
            this.state = STATES.SUCCESS
            this.$router.push({
              path: this.$localePath + 'auth/login/',
              query: { email: this.email }
            })
          })
          .catch((e) => {
            this.state = STATES.ERROR
            this.error = e
            this.errorMessage = e.message
          })
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/form/index.styl'
</style>
