<template lang="pug">
  .form-container.form-container--narrow(:data-state="state")
    form.form(v-on:submit.prevent="submit")
      .form__header
        h2.form__title Passwort neu setzen (1/2)
        p.form__description 1. Bestätigungs-Link zuschicken lassen<br>2. Passwort festlegen

      .form__main

        form-item-text-field(
          fieldName="email"
          v-model="email"
          :v="$v.email"
          :i18nMessages="i18nMessages"
          type="email"
          autocomplete="email"
          :focusOnCreate="true"
          @change="updateState"
          @focus="updateState")

      .form__footer
        .form-item.form-item--actions
          .form__actions--primary
            .form__button-wrapper
              button#button--login.form__button(type="submit")
                span {{i18nMessages.submitButton[state]}}

            .form__action-response.form__action-response--success(v-if="state === STATES.SUCCESS")
              p
                strong Sie haben Post!
              p Um zu überprüfen, dass die angegebene E-Mail-Adresse Ihnen gehört, haben wir eine E-Mail mit einem Bestätigungslink verschickt. Bitte folgen Sie diesem, um das Setzen eines neuen Passworts abzuschließen.
              p Sollten Sie in den nächsten fünf Minuten keine E-Mail erhalten, wenden Sie sich bitte an <a href="mailto:kommunikation@beschleunigerphysik.de">kommunikation@beschleunigerphysik.de</a>

            .form__action-response.form__action-response--error(v-if="state === STATES.ERROR")
              p
                strong Es gab einen Fehler
              p.form__error(v-if="error") {{error.message}}

          .form__actions--secondary
            p.form-item__action-alternative
              router-link(to="/de/auth/login") {{i18nMessages.loginAlternative}}

</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import { NAMESPACED_ACTION_TYPES } from '@jerrobs/vuepress-plugin-amplify/lib/store/auth/actionsFactory'

export const WAITING = 'WAITING'
export const READY = 'READY'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}
export default {
  name: 'AuthSetPassword_' + '_Initiate',
  mixins: [validationMixin],
  validations: {
    email: { required, email }
  },

  data() {
    return {
      STATES,
      state: STATES.WAITING,
      errorMessage: null,
      error: null,
      email: this.$route.query.email || ''
    }
  },
  computed: {
    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    }
  },
  methods: {
    updateState() {
      if (!this.$v.$anyError) {
        this.state = this.STATES.READY
      } else {
        this.state = this.STATES.WAITING
      }
    },
    submit() {
      if (!this.$v.$error) {
        this.state = STATES.PROCESSING

        this.$store
          .dispatch(NAMESPACED_ACTION_TYPES.RESET_PASSWORD, {
            email: this.email
          })
          .then(() => {
            this.state = STATES.SUCCESS
            // this.$router.push({
            //   path: this.$localePath + 'auth/set-password/',
            //   query: { email: this.email }
            // })
          })
          .catch((e) => {
            this.state = STATES.ERROR
            this.error = e
            this.errorMessage = e.message
          })
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/form/index.styl'
</style>
