<template lang="pug">
  .form-container.form-container--narrow(:data-state="state")
    form.form(v-on:submit.prevent="submit")
      .form__header
        h2.form__title
          span {{i18nMessages.title}}


      .form__main
        .content
          p.form__description {{i18nMessages.description}}
        form-item-text-field(fieldName="confirmation" v-model="confirmation" :v="$v.confirmation" :i18nMessages="i18nMessages" :focusOnCreate="true"  type="text" @change="updateState" @blur="updateState")

      .form__footer
        .form-item.form-item--actions
          .form-item__main
            .form__button-wrapper
              button#button--login.form__button(type="submit")
                span {{i18nMessages.submitButton[state]}}
          .form-item__footer
            p.form__error(v-if="error") {{error.message}}
          .form-item__footer
            p
              router-link(to="/de/auth/") {{i18nMessages.cancelAction}}


</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export const WAITING = 'WAITING'
export const READY = 'READY'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}

export default {
  name: 'AuthDeleteUser',
  mixins: [validationMixin],
  validations() {
    return {
      confirmation: {
        required,

        isValid: (val) => {
          return val === 'DELETE ' + this.email
        }
      }
    }
  },

  data() {
    return {
      STATES,
      state: STATES.WAITING,

      // action: null,
      stateExplanation: 'Waiting for user input.',
      errorMessage: null,
      error: null,

      confirmation: ''
    }
  },
  computed: {
    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    },
    email() {
      return this.$store.getters['auth/email']
    }
  },
  methods: {
    updateState() {
      if (this.$v.$dirty) {
        this.state = STATES.READY
      }
    },
    mounted() {},
    submit() {
      if (!this.$v.$anyError) {
        this.state = STATES.PROCESSING
        this.stateExplanation = 'waiting for server server response.'
        this.$store
          .dispatch('auth/DELETE', { email: this.email })
          .then(() => {
            this.state = STATES.SUCCESS
            this.stateExplanation = 'Delete was successful.'
            // this.$router.push(this.nextUrl)
          })
          .catch((error) => {
            this.state = STATES.ERROR
            this.error = error
          })
      } else {
        this.state = STATES.ERROR
        this.error = this.$themeLocaleConfig.forms.correctErrorsPrompt
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/form/index.styl'
</style>
