<template lang="pug">
  .form-container(:data-state="state")
    form.form(v-on:submit.prevent="submit")
      .form__main

        section.form__step
          .form__step-header
            .form__step-number 1.
            .form__step-title {{i18nMessages.step_1_title}}

          form-step-explanation(:i18nMessages="i18nMessages", :stepNumber="1")

          .form__step-main

            form-item-text-field(fieldName="email" v-model="email" :v="$v.email"  :i18nMessages="i18nMessages" type="email" autocomplete="email" :focusOnCreate="true" @change="updateState"  @blur="updateState")
            form-item-text-field(fieldName="password" v-model="password" :v="$v.password"  :i18nMessages="i18nMessages" type="password" autocomplete="new-password" @change="updateState"  @blur="updateState")
            form-item-text-field(fieldName="fullName"  v-model="fullName" :v="$v.fullName"  :i18nMessages="i18nMessages" @change="updateState"  @blur="updateState")

        section.form__step
          .form__step-header
            .form__step-number 2.
            .form__step-title {{i18nMessages.step_2_title}}

          form-step-explanation(:i18nMessages="i18nMessages" :stepNumber="2" v-if="$localePath==='/de/'")
            p Nach Satzung ist die Mitgliedschaft im Forum Beschleunigerphysik an folgenden Voraussetzungen geknüpft:
            ol.bullet_list_open
              li Abschluss eines Hochschulstudiums mit Bachelor, Master, Diplom oder Promotion.
              li Beschäftigung/Einbindung an einer wissenschaftlichen Einrichtung in der Bundesrepublik Deutschland oder als Deutsche/r an Einrichtungen, bei denen die Bundesrepublik Deutschland an der Grundfinanzierung beteiligt ist (z.B. CERN, ESRF).
              li Ausübung einer Forschungs-, Entwicklungs-, oder Lehrtätigkeit oder eine Leitungsfunktion im Bereich der Beschleunigerphysik.
          form-step-explanation(:i18nMessages="i18nMessages", :stepNumber="2" v-if="$localePath==='/en/'")
            p Membership in the _Forum Beschleunigerphysik_ is by statute subject to the following prerequisites:
            ol.bullet_list_open
              li a bachelor's, master's, diploma or doctorate in university ("Hochschulstudium"),
              li employment at a scientific institution in the Federal Republic of Germany or as a German at institutions where the Federal Republic of Germany is involved in the basic funding (e.g. CERN, ESRF).
              li research, development, teaching or management activities in the field of accelerator physics.


          .form__step-main
            form-item-toggle-list(fieldName="academicDegrees" v-model="academicDegrees"  :v="$v.academicDegrees"  :i18nMessages="i18nMessages" type="checkbox" :options="academicDegreeOptions")

            form-item-toggle-list(fieldName="fieldsOfWork"   :v="$v.fieldsOfWork"  :i18nMessages="i18nMessages" type="checkbox" :options="fieldOfWorkOptions")

            form-item-toggle-list(fieldName="affiliation" v-model="affiliation"  :v="$v.affiliation"  :i18nMessages="i18nMessages" type="radio" :groups="affiliationOptions")

            .form-item(:class="{ 'form-item--is-empty': !!affiliationExtra || focusedInput === 'affiliationExtra', 'form-item--has-error': $v.affiliationExtra.$error, 'form-item--is-good': (!$v.affiliation.$error && $v.affiliation.$dirty)}")


              .form-item__expand(@click="affiliationExtra_visible = !affiliationExtra_visible")
                p(v-if="$localePath==='/de/'")
                  span.button--link Ihr Arbeitgeber ist nicht gelistet?
                p(v-if="$localePath==='/en/'")
                  span.button--link Your affiliation is not listed?

              ExpandTransition
                div(v-if="affiliationExtra_visible")
                  form-item-text-field(fieldName="affiliationExtra"  v-model="affiliationExtra" :v="$v.affiliationExtra"  :i18nMessages="i18nMessages" @change="updateState"  @blur="updateState")


        section.form__step

          .form__step-header
            .form__step-number 3.
            .form__step-title {{i18nMessages.step_3_title}}

          form-step-explanation(:i18nMessages="i18nMessages", :stepNumber="3")
          .form__step-main
            form-item-toggle-list(
              :i18nMessages="i18nMessages"
              fieldName="consent_gdpr"
              v-model="consent_gdpr"
              :v="$v.consent_gdpr"
              type="checkbox"
              :options="gdprConsentOptions")

            .content
              p(v-if="$localePath=='/en/'")
                router-link(to="/de/ueber/datenschutz/" target="_blank") Our Privacy Statement.
              p(v-else)
                router-link(to="/de/ueber/datenschutz/" target="_blank") Unsere Datenschutzerklärung
            hr

        section.form__step


          .form__step-main
            .form-item.form-item--actions
              .form__actions--primary
                .form__button-wrapper
                  button#button--login.form__button(type="submit")
                    span {{i18nMessages.submitButton[state]}}

                .form__action-response

                  .form__action-response.form__action-response--success(v-if="state === STATES.SUCCESS")
                    p
                      strong Fast geschafft!
                    p Der erste Schritt der Registrierung ist vollbracht.
                    p Um zu überprüfen, dass die angegebene E-Mail-Adresse auch wirklich Ihnen gehört, haben wir eine E-Mail mit einem Bestätigungslink verschickt. Bitte folgen Sie diesem, um die Registrierung abzuschließen.
                    p Sollten Sie in den nächsten fünf Minuten keine E-Mail erhalten, wenden Sie sich bitte an <a href="mailto:kommunikation@beschleunigerphysik.de">kommunikation@beschleunigerphysik.de</a>

                  .form__action-response.form__action-response--error(v-if="state === STATES.ERROR")
                    p
                      strong Es gab einen Fehler
                    p.form__error(v-if="error") {{error.message}}
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, sameAs, minLength } from 'vuelidate/lib/validators'

import { requiredUnless } from 'vuelidate/lib/validators'

import { mapGetters } from 'vuex'

import { NAMESPACED_ACTION_TYPES } from '@jerrobs/vuepress-plugin-amplify/lib/store/auth/actionsFactory'

export const READY = 'READY'
export const WAITING = 'WAITING'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}

const translations = {
  '/de/': {
    universities: 'universitär',
    'non-universities': 'nicht-universitär'
  },
  '/en/': {
    universities: 'Universities',
    'non-universities': 'non-University Institutions'
  }
}

const fieldOfWorkList = [
  'research-and-development',
  'teaching',
  'management',
  'professorship'
]

const academicDegreeList = [
  'bachelor',
  'master',
  'diploma',
  'doctorate',
  'habilitation'
]

const component = {
  name: 'AuthRegister',
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    password: { required, minLength: minLength(12) },
    consent_gdpr: { required, mustBeChecked: sameAs(() => true) },
    confirmationCode: {},
    fullName: { required },
    affiliation: {
      requiredUnless: requiredUnless('affiliationExtra')
    },
    affiliationExtra: {},
    fieldsOfWork: { required, minLength: minLength(1) },
    academicDegrees: { required, minLength: minLength(1) }
  },
  data() {
    return {
      areErrorDetailsVisible: false,
      STATES,
      state: STATES.WAITING,
      stateExplanation: '',
      errorMessage: null,
      error: null,

      translations,

      affiliationExtra_visible: false,
      user: null,

      // email: '',
      // fullName: '',
      password: '',
      // affiliation: null,
      // affiliationExtra: '',
      // fieldsOfWork: [],
      // academicDegrees: [],
      confirmationCode: null,
      // channels: ['events', 'news'],
      // subscribeToChannels: false,
      // applyForForum: false,
      consent_gdpr: false,
      focusedInput: null
    }
  },

  computed: {
    // email: {
    //   get() {
    //     return this.$store.getters["auth/email"]
    //   },
    //   set(value) {
    //     // this.$store.commit('updateMessage', value)
    //   }

    // },

    ...mapGetters({
      // affiliationsMap: 'data/affiliationsMap', attributes: 'auth/attributes',
      "email": "auth/email",
      "fullName": "auth/fullName",
      "affiliation": "auth/affiliations",
      "affiliationExtra": "auth/affiliationExtra",
      "fieldsOfWork": "auth/fieldsOfWork",
      "academicDegrees": "auth/academicDegrees"
    }),

    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    },
    academicDegreeOptions: function () {
      return academicDegreeList.map((value) => ({
        value,
        label: this.$themeLocaleConfig.academicDegrees[value]
      }))
    },
    fieldOfWorkOptions: function () {
      return fieldOfWorkList.map((value) => ({
        value,
        label: this.$themeLocaleConfig.fieldOfWork[value]
      }))
    },

    gdprConsentOptions: function () {
      return [
        {
          value: 1,
          label: this.i18nMessages.consent_gdpr.label_2
        }
      ]
    },
    affiliationOptions: function () {
      const affiliations = this.$store.getters[
        'data/affiliationOptions'
      ].sort((a, b) => a.label.localeCompare(b.label))
      return [
        {
          label: this.$localePath === '/en/' ? 'universities' : 'universitär',
          options: affiliations.filter(
            (d) => d.electoralGroup === 'universities'
          )
        },
        {
          label:
            this.$localePath === '/en/'
              ? 'non-universities'
              : 'nicht-universitär',
          options: affiliations.filter(
            (d) => d.electoralGroup !== 'universities'
          )
        }
      ]
    }
  },
  mounted() {

    // this.email = this.$store.getters['auth/affiliations']

    console.log(this.email);
    console.log(this.$store);





  },
  methods: {
    updateState() {
      if (this.$v.$anyDirty) {
        this.state = STATES.READY
      }
    },
    submit() {
      this.state = STATES.PROCESSING

      this.$v.$touch()

      if (this.$v.$anyErrors) {
        this.state = STATES.ERROR
        this.stateExplanation = 'ooops. something went wrong.'
        return
      }
      this.errorMessage = ''
      this.$store
        .dispatch(NAMESPACED_ACTION_TYPES.REGISTER, {
          username: this.email,
          password: this.password,
          attributes: {
            'custom:academicDegrees': this.academicDegrees.join(','),
            'custom:affiliation': this.affiliation,
            'custom:fieldsOfWork': this.fieldsOfWork.join(','),
            name: this.fullName
          }
        })
        .then(() => {
          this.state = STATES.SUCCESS
          // this.$router.push({
          //   path: this.$localePath + 'auth/register/confirm/',
          //   query: { email: this.email }
          // })
        })
        .catch((e) => {
          this.state = STATES.ERROR
          this.error = e
          this.stateExplanation = e.name

          if (e.code && e.code === 'UserNotConfirmedException') {
            this.$emit('localUser', {
              username: this.email
            })
            this.$emit('authState', 'confirmSignUp')
            return
          }

          if (e.code && e.code === 'UsernameExistsException') {
            this.$emit('localUser', {
              username: this.email
            })
          }
        })
    }
  }
}
export default component
</script>

<style lang="stylus">
@import '~@parent-theme/styles/form/index'
</style>
