<template lang="pug">
  .form-container.form-container--narrow(:data-state="state")

    .form__action-response.form__action-response--success.content(v-if="state === STATES.SUCCESS")
      p
        strong Sie wurden erfolgreich abgemeldet.
      p Personenbezogenene Daten, die lokal zwischengespeichert wurdem, sind entfernt.
      p
        router-link(to="/de/auth/login") Erneut anmelden?

    .form__action-response.form__action-response--error.content(v-if="state === STATES.ERROR")
      p
        strong Es gab einen Fehler
      ul(v-if="errorMessages")
        li.error(v-for="message in errorMessages")
          span {{message.key}}: &nbsp;
          span {{message.message}}

</template>

<script>
import { NAMESPACED_ACTION_TYPES } from '@jerrobs/vuepress-plugin-amplify/lib/store/auth/actionsFactory'
export const WAITING = 'WAITING'
export const READY = 'READY'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}
export default {
  name: 'AuthLogout',
  props: {
    redirect: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      STATES,
      state: STATES.PROCESSING,
      errorMessages: [],
      error: null
    }
  },
  computed: {
    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    }
  },
  mounted() {
    this.$store
      .dispatch(NAMESPACED_ACTION_TYPES.LOGOUT, {})
      .then(() => {
        this.state = STATES.SUCCESS
        if (this.redirect != '') this.$router.push(this.redirect)
      })
      .catch((error) => {
        this.state = STATES.ERROR
        this.errorMessages = [
          { key: error.code, code: error.code, message: error.message }
        ]
      })
  }
}
</script>
