<template lang="pug">
  .form-container.form-container--narrow(:data-state="state")
    form.form(v-on:submit.prevent="submit")
      .form__header
        h2.form__title
          span {{i18nMessages.title}}
        p.form__description {{i18nMessages.description}}

      .form__mainconf
        form-item-text-field(
          fieldName="email"
          v-model="email"
          :v="$v.email"
          :i18nMessages="i18nMessages"
          type="email"
          autocomplete="email"
          :focusOnCreate="true"
          @change="updateState"
          @focus="updateState")

      .form__footer
        .form-item.form-item--actions
          .form-item__main
            .form__button-wrapper
              button#button--login.form__button(type="submit")
                span {{i18nMessages.submitButton[state]}}
          .form-item__footer
            p.form__error(v-if="error") {{error.message}}

            p
              router-link(to="/de/auth/login") {{i18nMessages.loginAlternative}}
            p
              router-link(to="/de/auth/register") {{i18nMessages.registerAlternative}}
          .form-item__footer
            p.form__error(v-if="error") {{error.message}}

</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import { NAMESPACED_ACTION_TYPES } from '@jerrobs/vuepress-plugin-amplify/lib/store/auth/actionsFactory'

export const WAITING = 'WAITING'
export const READY = 'READY'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}
export default {
  name: 'AuthRegister' + '__RequestNewConfirmationCode',
  mixins: [validationMixin],
  validations: {
    email: { required, email }
  },

  data() {
    return {
      STATES,
      state: STATES.WAITING,
      errorMessage: null,
      error: null,
      email: this.$route.query.email || ''
    }
  },
  computed: {
    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    }
  },
  methods: {
    updateState() {
      if (!this.$v.$anyError) {
        this.state = this.STATES.READY
      } else {
        this.state = this.STATES.WAITING
      }
    },
    submit() {
      if (!this.$v.$error) {
        this.state = STATES.PROCESSING

        this.$store
          .dispatch(
            NAMESPACED_ACTION_TYPES.REGISTER__RERQUEST_NEW_CONFIRMATION_CODE,
            {
              email: this.email
            }
          )
          .then(() => {
            this.state = STATES.SUCCESS
            this.$router.push({
              path: this.$localePath + 'auth/register/confirm/',
              query: { email: this.email }
            })
          })
          .catch((e) => {
            this.state = STATES.ERROR
            this.error = e
            this.errorMessage = e.message
          })
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/form/index.styl'
</style>
