<template lang="pug">
  .form-container.form-container--narrow(:data-state="state")
    form.form(v-on:submit.prevent="submit")
      .form__header
        h2.form__title
          span {{i18nMessages.title}}
        p.form__description {{i18nMessages.description}}

      .form__main
        form-item-text-field(fieldName="email" v-model="email" :v="$v.email" :i18nMessages="i18nMessages" type="email" autocomplete="email" :focusOnCreate="true" @change="updateState"  @blur="updateState")
        form-item-text-field(fieldName="password" v-model="password" :v="$v.password" :i18nMessages="i18nMessages" type="password" autocomplete="password" @change="updateState" @blur="updateState")

      .form__footer
        .form-item.form-item--actions
          .form__actions--primary
            .form__button-wrapper
              button#button--login.form__button(type="submit")
                span {{i18nMessages.submitButton[state]}}

            .form__action-response.form__action-response--error(v-if="state === STATES.ERROR")
              p
                strong Es gab einen Fehler
              p.form__error(v-if="error") {{error.message}}

          .form__actions--secondary
            p.form-item__action-alternative
              router-link(:to="`/de/auth/set-password/initiate/?email=${email}`") {{i18nMessages.resetPasswordAlternative}}
            p.form-item__action-alternative
              router-link(to="/de/auth/register/") {{i18nMessages.registerAlternative}}
            p.form-item__action-alternative
              router-link(to="/de/auth/register/request-new-confirmation-email/") {{i18nMessages.registerRequestNewConfirmationEmailAlternative}}


      .test-accounts.content
        p.small Use test account data
        p.small
          a.test-accounts__link(v-for="testAccount in testAccounts" v-on:click.prevent="fillForm(testAccount.email, testAccount.password)") {{testAccount.label}}

</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import { NAMESPACED_ACTION_TYPES } from '@jerrobs/vuepress-plugin-amplify/lib/store/auth/actionsFactory'

export const WAITING = 'WAITING'
export const READY = 'READY'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}

export default {
  name: 'AuthLogin',
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    password: { required }
  },

  data() {
    return {
      STATES,
      state: STATES.WAITING,
      // ACTIONS,

      // action: null,
      stateExplanation: 'Waiting for user input.',
      errorMessage: null,
      errorCode: null,
      error: null,

      email: this.$route.query.email || '',
      password: '',
      testAccounts: [
        {
          label: 'Admin',
          email: 'bpde__admin@dirk-rathje.de',
          password: 'bpde__admin_xxxxxxxxxxxx'
        },
        {
          label: 'KfB member + Admin',
          email: 'bpde__kfb-01@dirk-rathje.de',
          password: 'bpde__kfb-01_xxxxxxxxxxxx'
        },
        {
          label: 'KfB member',
          email: 'bpde__kfb-02@dirk-rathje.de',
          password: 'bpde__kfb-02_xxxxxxxxxxxx'
        },
        {
          label: 'Forum member',

          email: 'bpde__forum-001@dirk-rathje.de',
          password: 'bpde__forum-001_xxxxxxxxxxxx'
        },
        {
          label: 'Forum Applicant',
          email: 'bpde__applicant-001@dirk-rathje.de',
          password: 'bpde__applicant-001_xxxxxxxxxxxx'
        },
        {
          label: 'Test user',
          email: '937a1ffe-34f6-457e-ac20-380aa5b2cd88@mailslurp.com',
          password: 'polyquatschtarantulas'
        }
      ]
    }
  },

  computed: {
    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    }
  },
  methods: {
    updateState() {
      if (this.$v.$dirty) {
        this.state = STATES.READY
      }
    },
    submit() {
      if (!this.$v.$anyError) {
        this.state = STATES.PROCESSING

        this.$store
          .dispatch(NAMESPACED_ACTION_TYPES.LOGIN, {
            username: this.email,
            password: this.password
          })
          .then(() => {
            this.state = STATES.SUCCESS

            this.$router.push(
              this.$router.history.current.query.redirect || '/de/auth/'
            )
          })
          .catch((e) => {
            this.error = e

            this.state = STATES.ERROR
            this.errorCode = e.code
            this.errorMessage = e.message
          })
      }
    },

    fillForm(username, password) {
      this.setEmailPreset(username)
      this.setPasswordPreset(password)
    },
    setEmailPreset(value) {
      this.email = value
      this.$v.$touch()
      this.updateState()
    },
    setPasswordPreset(value) {
      this.password = value
      this.$v.$touch()
      this.updateState()
    }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/form/index.styl'

.test-accounts
  display none


.layout--debug-view
  .test-accounts
    display block
    margin-top $bl(5)

.test-accounts__link
  margin-right $bl(.5) !important
</style>
