<template lang="pug">
  .form-container.form-container--narrow(:data-state="state")
    .form__header
      h2.form__title {{i18nMessages.title}}
      p.form__description {{i18nMessages.description}}

    .form__log.form__log--success.content(v-if="state === STATES.SUCCESS")
      h2
        strong Bestätigung erfolgreich
      p Ihre E-Mail-Adresse {{email}} wurde erfolgreich bestätigt.
      p
        router-link(:to="`/de/auth/login/?email=${email}`") Sie können sich nun anmelden.
    .form__log.form__log--error.content(v-if="state === STATES.ERROR")
      h2
        strong Bestätigung nicht erfolgreich
      p Ihre E-Mail-Adresse {{email}} konnte nicht bestätigt werden.
      hr
      h3 Bestätigungsanfrage
      ul
        li email: {{email}}
        li confirmationCode: {{confirmationCode}}
      hr
      h3 Fehlerursache
      ul(v-if="errorMessages")
        li.error(v-for="message in errorMessages")
          span {{message.key}}: &nbsp;
          span {{message.error}}


</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, email } from 'vuelidate/lib/validators'
import vuelidateHelper from '@bpde/vuepress-theme-bpde/mixins/vuelidate-helper'
import { NAMESPACED_ACTION_TYPES } from '@jerrobs/vuepress-plugin-amplify/lib/store/auth/actionsFactory'

export const WAITING = 'WAITING'
export const READY = 'READY'
export const PROCESSING = 'PROCESSING'
export const ERROR = 'ERROR'
export const SUCCESS = 'SUCCESS'

export const STATES = {
  WAITING,
  READY,
  PROCESSING,
  ERROR,
  SUCCESS
}

export default {
  name: 'AuthRegister' + '__Confirm',
  mixins: [validationMixin, vuelidateHelper],
  props: {
    redirect: {
      type: String,
      default: ''
    }
  },
  layout: 'Layout',
  validations: {
    email: { required, email },
    confirmationCode: { required, minLength: minLength(6) }
  },

  data() {
    return {
      areErrorDetailsVisible: false,
      STATES,
      state: STATES.WAITING,
      errorMessages: [],
      error: null,

      email: this.$route.query.email || null,
      confirmationCode: this.$route.query.code || null
    }
  },
  computed: {
    i18nMessages() {
      return this.$themeLocaleConfig[this.$options.name]
    }
  },
  mounted() {
    this.submit()
  },
  methods: {
    submit() {
      this.$v.$touch()
      if (!this.$v.$anyError) {
        this.state = STATES.PROCESSING

        this.$store
          .dispatch(NAMESPACED_ACTION_TYPES.REGISTER__CONFIRM, {
            email: this.email,
            confirmationCode: this.confirmationCode
          })
          .then(() => {
            this.state = STATES.SUCCESS
            this.$router.push({
              path: this.$localePath + 'auth/login/',
              query: { email: this.email }
            })
          })
          .catch((e) => {
            this.state = STATES.ERROR
            this.error = e
            this.errorMessages = [{ key: 'cognito', error: e.message }]
            // if (e.code && e.code === 'UserNotFoundException') {
            // } else if (e.code && e.code === 'NotAuthorizedException') {
            // } else {
            // }
          })
      } else {
        this.state = STATES.ERROR
        this.errorMessages = this.$getDeepErrors({ $v: this.$v }, '$v')
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~@parent-theme/styles/form/index.styl'
</style>
