/*eslint-env browser*/

<template lang="pug">
  keep-alive
    .vue-dc-explorer
      .tiles.tiles--members
        VDCTileCount(data-tile="count" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")
        VDCTileReset(data-tile="reset" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")
        VDCTileSearch(data-tile="text" :loaded="loaded" :crossfilterIndex="idx" v-on:update="updateList")

        VDCTileRowChart(data-tile="affiliation-electoral-group" :loaded="loaded" :crossfilterIndex="idx" fieldName="affiliationElectoralGroup" :localize="true")


        VDCTileRowChart(data-tile="affiliation" :loaded="loaded" :crossfilterIndex="idx" fieldName="affiliationLabelShort")
        VDCTileAffiliationLocation(data-tile="affiliation-location" :loaded="loaded" :crossfilterIndex="idx")

        VDCTileRowChart(data-tile="highest-academic-degree" :loaded="loaded" :crossfilterIndex="idx" fieldName="highestAcademicDegree" :label="d => $themeLocaleConfig.academicDegrees[d.key]")
        VDCTileRowChart(data-tile="fields-of-work" :loaded="loaded" :crossfilterIndex="idx" fieldName="fieldsOfWork" :multiple="true"  :label="d => $themeLocaleConfig.fieldsOfWork[d.key]")
        VDCTileRowChart(data-tile="gender" :loaded="loaded" :crossfilterIndex="idx" fieldName="gender" :label="d => $themeLocaleConfig.genderList[d.key]")


      .list-actions
        <!--      .list-action-->
        <!--        span.list-action__title {{translate("view")}}-->
        <!--        span.list-action__options-->
        <!--          span.list-action__option-->
        <!--            button.button&#45;&#45;link(:class="{active: view === VIEWS.VIEW__LIST}" @click="setView(VIEWS.VIEW__LIST)") {{translate("view__list")}}-->
        <!--          span.list-action__option-->
        <!--            button.button&#45;&#45;link(:class="{active: view === VIEWS.VIEW__COMPACT_TABLE}" @click="setView(VIEWS.VIEW__COMPACT_TABLE)") {{translate("view__compact_table")}}-->
        <!--          span.list-action__option-->
        <!--            button.button&#45;&#45;link(:class="{active: view === VIEWS.VIEW__TABLE}" @click="setView(VIEWS.VIEW__TABLE)") {{translate("view__table")}}-->
        .list-action
          span.list-action__title {{translate("action__export")}}
          span.list-action__options
            span.list-action__option
              button.button--link(@click="downloadAsCSV('forum-beschleunigerphysik.csv', ['familyName', 'givenName', 'affiliationLabelShort', 'email', 'academicDegrees__habilitation', 'academicDegrees__doctorate', 'academicDegrees__diploma', 'academicDegrees__master', 'academicDegrees__bachelor','fieldsOfWork__research_and_development','fieldsOfWork__teaching', 'fieldsOfWork__management','fieldsOfWork__professorship'])") {{translate("action__export__as_csv")}}


      .vdc__main
        keep-alive
          VDCItemsList(:loaded="loaded" v-if="view === VIEWS.VIEW__LIST" :groupedItems="groupedItems")
            template(v-slot:summary="{item}")
              p
                span.given-name {{item.givenName}}&nbsp;
                span.family-name {{item.familyName}}
            template(v-slot:detail="{item}")
              p {{item.affiliationLabel}}


          VDCItemsTable(:loaded="loaded" v-if="(view === VIEWS.VIEW__TABLE || view === VIEWS.VIEW__COMPACT_TABLE)"
            :compact="view === VIEWS.VIEW__COMPACT_TABLE"
            :tableColumns="tableColumns"
            :groupedItems="groupedItems"
            :grouped="grouped"
            :sortColumn="sortField"
            :sortAscending="sortAscending"
            :hasDetails="false"
            :expanded="expanded"
            @change-sorting="changeSorting"
            @toggle-expanded="toggleExpanded")
            <!--            template(v-slot:cell_name="{item}")-->
            <!--              div.padded-->
            <!--                span xxxx-->
            <!--                span.given-name {{item.givenName}}&nbsp;-->
            <!--                span.family-name {{item.familyName}}-->
            template(v-slot:cell_familyName="{item}")
              div.padded.family-name {{item.familyName}}
            template(v-slot:cell_givenName="{item}")
              div.padded.given-name {{item.givenName}}
            template(v-slot:cell_fieldsOfWork="{item}")
              div.selection.xxs.padded
                span.option(v-for="d in $themeLocaleConfig.fieldsOfWorkList" v-bind:class="{active: item.fieldsOfWork.indexOf(d) > -1}") {{$themeLocaleConfig.fieldsOfWorkAbbreviated[d]}}
            template(v-slot:cell_gender="{item}")
              div.selection.xxs.padded
                span.option(v-bind:class="{active: item.gender === 'male'}") {{$themeLocaleConfig.genderList.male}}
                span.option(v-bind:class="{active: item.gender === 'female'}") {{$themeLocaleConfig.genderList.female}}
                span.option(v-bind:class="{active: item.gender === 'diverse'}") {{$themeLocaleConfig.genderList.diverse}}

            template(v-slot:cell_affiliationLabelShort="{item}")
              div.xxs.padded {{item.affiliationLabelShort || ' '}}
            template(v-slot:cell_academicDegrees="{item}")
              div.selection.xxs.padded
                span.option(v-for="d in $themeLocaleConfig.academicDegreesList" v-bind:class="{active: item.academicDegrees.indexOf(d) > -1}") {{$themeLocaleConfig.academicDegreesAbbreviated[d]}}
            template(v-slot:cell_affiliationElectoralGroup__localized="{item}")
              div.xxs.padded.right
                ElectoralGroupBadge(:name="item['affiliationElectoralGroup']" :useShortLabel="true")
</template>

<script>
import {
  VDCExplorerMixin,
  VDCItemsList,
  VDCItemsTable,
  VDCTileBarChart,
  VDCTileCount,
  VDCTileAffiliationLocation,
  VDCTileReset,
  VDCTileRowChart,
  VDCTileSearch
} from '@jerrobs/vue-dc-explorer'

// import {
//   ATTRIBUTE_NAME__AFFILIATION,
//   ATTRIBUTES_FOR_ADMINS,
//   ATTRIBUTES_FOR_KFB_MEMBERS,
//   ATTRIBUTES_FOR_FORUM_MEMBERS
// } from '@bpde/backend/src/model/user/attributes'

export default {
  mixin: [VDCExplorerMixin],
  name: 'member-explorer',
  components: {
    VDCItemsList,
    VDCItemsTable,
    VDCTileBarChart,
    VDCTileCount,
    VDCTileAffiliationLocation,
    VDCTileReset,
    VDCTileRowChart,
    VDCTileSearch
  },
  asyncComputed: {
    async items() {
      await this.$store.dispatch('users/FETCH')
      let users = await this.$store.getters['users/users'].map((d) => {
        return {
          ...d,
          affiliationElectoralGroup__localized: this.translate(
            d['affiliationElectoralGroup']
          ),
          affiliationCoordinates: this.$store.getters[
            'data/affiliationCoordinates'
          ](d.affiliationRef),
          affiliationRef: d.affiliationRef || '',
          expanded: false
        }
      })

      return users
    }
  },
  mounted() {
    const initialSortColumn = this.tableColumns.find((d) => d.initialSort)
    if (initialSortColumn) {
      this.sortField = initialSortColumn.name
      this.grouped = initialSortColumn.grouped
    }
  },
  computed: {
    ...VDCExplorerMixin.computed
  },
  data: VDCExplorerMixin.data,
  props: {
    ...VDCExplorerMixin.props,
    tableColumns: {
      type: Array,
      default: () => [
        {
          name: 'givenName',
          width: 10,
          sortable: true,
          grouped: false,
          initialSort: false
        },
        {
          name: 'familyName',
          width: 20,
          sortable: true,
          grouped: false,
          initialSort: true
        },
        {
          name: 'email',
          width: 20,
          sortable: true,
          grouped: false,
          initialSort: true
        },
        {
          name: 'gender',
          width: 10,
          sortable: true,
          grouped: false,
          initialSort: true
        },
        {
          name: 'fieldsOfWork',
          width: 15,
          sortable: true,
          grouped: false
        },
        {
          name: 'academicDegrees',
          width: 15,
          sortField: 'highestAcademicDegreeSort',
          sortable: true,
          grouped: false
        },
        {
          name: 'affiliationElectoralGroup__localized',
          width: 10,
          labelKey: 'affiliationElectoralGroup',
          // sortValueAccessor: item => this.$themeLocaleConfig.electoralGroups__short[this.affiliationElectoralGroup],
          sortable: true,
          grouped: true
        },
        {
          name: 'affiliationLabelShort',
          labelKey: 'affiliation',
          width: 10,
          sortable: true,
          grouped: true
        }
      ]
    }
  },
  methods: { ...VDCExplorerMixin.methods },
  watch: VDCExplorerMixin.watch
}
</script>

<style lang="stylus">
@import '../../../../../../node_modules/@jerrobs/vue-dc-explorer/src/styles/vue-dc-explorer.styl'

.given-name
  $light()
.family-name
  $bold()

.right
  text-align right


.tiles--members

  [data-tile="count"]
    grid-area 1 / 1 / 1 / 1

  [data-tile="reset"]
    grid-area 1 / 2 / 1 / 2

  [data-tile="highest-academic-degree"]
    grid-area 2 / 1 / 4 / 1

  [data-tile="fields-of-work"]
    grid-area 2 / 2 / 4 / 2

  [data-tile="gender"]
    grid-area 6 / 1 / 8 / 1

  [data-tile="affiliation-electoral-group"]
    grid-area 4 / 1 / 6 / 1

  [data-tile="affiliation"]
    grid-area 6 / 1 / 10 / 1

  [data-tile="affiliation-location"]
    grid-area 1 / 1 / 10 / 3

  [data-tile="text"]
    grid-area 8 / 1 / 9 / 3

  [data-tile="gender"]
    grid-area 6 / 1 / 8 / 1

  +mq--gte-md()
    [data-tile="count"]
      grid-area 1 / 1 / 1 / 1

    [data-tile="reset"]
      grid-area 1 / 2 / 1 / 2

    [data-tile="text"]
      grid-area 1 / 3 / 1 / 3

    [data-tile="highest-academic-degree"]
      grid-area 2 / 1 / 4 / 1

    [data-tile="fields-of-work"]
      grid-area 4 / 1 / 6 / 1

    [data-tile="affiliation-electoral-group"]
      grid-area 6 / 2 / 8 / 2


    [data-tile="affiliation"]
      grid-area 2 / 2 / 6 / 2

    [data-tile="affiliation-location"]
      grid-area 2 / 3 / 6 / 3
</style>
