<template>
  <div class="scroll-down-icon">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
  </div>
</template>

<script>
export default {
  name: 'ScrollDownIcon'
}
</script>

<style lang="stylus">

.scroll-down-icon
  width 38px
  transform scale(1)

.chevron
  position absolute
  width 28px
  height 8px
  opacity 0
  animation move 3s ease-out infinite

  &:first-child
    animation move 3s ease-out 1s infinite

  &:nth-child(2)
    animation move 3s ease-out 2s infinite

  &:before
    left 0
    transform skew(0deg, 30deg)

  &:after
    right 0
    width 50%
    transform skew(0deg, -30deg)

.chevron:before,
.chevron:after
  content ' '
  position absolute
  top 0
  height 100%
  width 51%
  background var(--interaction__color--spot)

.text
  display block
  margin-top 60px
  font-size 12px
  color black
  text-transform uppercase
  white-space nowrap
  opacity 0.25
  animation pulse 5s linear alternate infinite


@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px);
  }
}
</style>
